@model WebUI.Models.PhysicalCheckFormStub
@{
    Layout = "~/Views/Shared/Inspinia/_LayoutMobileCheck.cshtml";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    ViewBag.Title = string.Format("{0} | {1}", TitleSite.PhysicalCheck, TitleSite.Edit);

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.AssetId);
                @Html.HiddenFor(model => model.PhysicalCheckDate);
                @Html.HiddenFor(model => model.Condition);

                <div class="form-group">
                    @Html.LabelFor(model => model.AssetId, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        <label class="control-label">@Html.Raw(Model.AssetName)</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastChecked, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        <label class="control-label">@Model.LastChecked</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhysicalCheckDate, new { @class = " col-lg-2 control-label" })
                    <div class=" col-lg-4">
                        <label class="control-label">@Model.PhysicalCheckDate.ToString("dd MMM yyyy HH:mm")</label>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Condition, new { @class = " col-lg-2 control-label" })
                    <div class=" col-lg-4">
                        @foreach (var option in Model.OptionsConditions)
                        {
                            <div class="radio">
                                <label>@Html.RadioButton("physicalCond", option.Value, option.Value == Condition.GOOD.ToString() ? true : false) @option.Text</label>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.Condition)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ImageGallery, new { @class = " col-lg-2 control-label" })
                    <div class=" col-lg-4">
                        @Html.HiddenFor(model => model.ImageGallery)
                        @Html.TextBox("files", "", new
                        {
                            @class = "form-control-upload",
                            type = "file",
                            id = "files",
                            accept = "image/jpeg, image/png"
                        })
                    </div>
                    <div class=" col-lg-6">
                        <ul class="small">
                            <li>Max File Size. 10 MB</li>
                            <li>File Type Allow .jpg/.jpeg, .png</li>
                            <li>Recomended Ratio of Image 2:1 px</li>
                        </ul>
                    </div>
                    @Html.ValidationMessageFor(model => model.ImageGallery, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 ">
                        <div id="listImageGallery" class="ImageGallery"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 ">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="galleryModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content"></div>
</div>

<ul id="contextMenu" class="hidden">
    <li>Delete</li>
</ul>

@section scripts
{
    <script type="text/javascript">
        var dsGallery;

        $(function () {
            initElement();
        });

        function dataBoundGallery(e) {
            //kamus
            var count,
                target,
                templateContent,
                template,
                data,
                result;

            target = document.getElementById("listImageGallery");

            $(target).removeClass("k-widget");
            count = dsGallery.data().length;

            //algoritma
            if (count === 0) {
                templateContent = $("#noDataTemplate").html();
                template = kendo.template(templateContent);
                data = {
                    message: "No Image Gallery."
                };
                result = template(data);

                $(target).html(result);
            } else {
                $("#contextMenu").removeClass("hidden");
                $("#contextMenu").kendoContextMenu({
                    target: $(target).find(".col-xs-3"),
                    select: function (e) {
                        var target = $("#listImageGallery").find(".k-state-border-down");
                        var uid = $(target).attr("data-uid");
                        this.close();
                        deleteGallery(uid);
                    }
                });
            }
        }

        function deleteGallery(uid) {
            swal(
                {
                    title: "Hapus Data",
                    text: "Apakah anda yakin menghapus data ini ?",
                    type: "warning",
                    cancelButtonText: "Cancel",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false
                },
                function () {
                    //kamus
                    var delItem = dsGallery.getByUid(uid);
                    var successFlag = false;
                    var target = document.getElementById("listImageGallery");

                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: "/Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });

                    //algoritma
                    if (delItem.id > 0) {
                        successFlag = true;
                        dsGallery.remove(delItem);
                        displayMessage();
                    } else {
                        $.ajax({
                            url: "@Url.Action(ActionSite.Remove, ControllerSite.FileManagement)",
                            type: "POST",
                            data: { filePath: delItem.Image },
                            success: function (data) {
                                console.log(data);
                                if (data.Success === true) {
                                    successFlag = true;
                                    dsGallery.remove(delItem);
                                    displayMessage();
                                }
                            }
                        });
                    }

                    function displayMessage() {
                        if (successFlag) {
                            swal("Sukses", "Hapus Data Berhasil", "success");
                        } else {
                            swal("Error", "Deleted gallery failed", "error");
                        }
                    }
                }
            );
        }

        function initElement() {
            //kamus
            var jsonGallery = $("#ImageGallery").val(),
                parseGallery = "",
                upload = $(".form-control-upload").data("kendoUpload");

            if ($.trim(jsonGallery).length > 0) {
                parseGallery = JSON.parse(jsonGallery);
            }

            upload.bind({
                select: function (e) {
                    kendoUploadOnSelect(e, false, true, false);
                },
                success: uploadOnSuccess,
                upload: (function (e) { console.log(e) })
            });

            dsGallery = new kendo.data.DataSource({
                data: parseGallery,
                schema: {
                    model: {
                        id: "ImageId",
                        fields: {
                            ImageId: { type: "number" },
                            PhysicalCheckId: { type: "number" },
                        }
                    }
                }
            });

            var listView = $("#listImageGallery").kendoListView({
                dataBound: dataBoundGallery,
                dataSource: dsGallery,
                template: kendo.template($("#contentTemplate").html())
            });


            $("input[name=physicalCond][value=" + '@Model.Condition' + "]").prop('checked', true);
        }

        function uploadOnSuccess(e) {
            if (e.operation === "upload") {
                //kamus
                var file;
                var counter = dsGallery.data().length + 1;
                var isVideo = false;
                var data = [];

                //algoritma
                for (var i = 0; i < e.response.length; i++) {
                    file = e.response[i];
                    data = {
                        PhysicalCheckId: "@Model.PhysicalCheckId",
                        Image: e.response[i].filepath,
                        Url: file.absolutepath,
                    };

                    dsGallery.add(data);
                    counter++;
                }
            }
        }



        $("form.form-horizontal").submit(function (e) {
            var $form = $(this);

            $("#Condition").val($('input[name=physicalCond]:checked').val());
        });

        $("form.form-horizontal").submit(function (e) {
            $("#ImageGallery").val(kendo.stringify(dsGallery.data()));
        })

    </script>

    <script type="text/x-kendo-template" id="noDataTemplate">
        <div class="col-xs-12 gutter5">
            #= message #
        </div>
    </script>
    <script type="text/x-kendo-template" id="contentTemplate">
        <div class="col-xs-3 gutter5">
            <div class="thumbnail-form">
                <img src="#=Url#" class="news-file" />
            </div>
        </div>
    </script>
}

