﻿@{
    ViewBag.Title = TitleSite.PhysicalCheck;
    var currentController = (WebUI.Controllers.PhysicalCheckController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a href="@Url.Action(ActionSite.Report)" class="btn btn-info">Report</a>
                        <a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Input Physical Check</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data);
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.id}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function typeCondition(element) {
            dropdownListGenerator(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.CONDITION", "@Field.Text", "@Component.OptionLabel", false);
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field == "@Field.AssetNumber") {
                                        filter.field = "Asset.AssetNumber";
                                    }
                                    if (filter.field == "@Field.Description") {
                                        filter.field = "Asset.Description";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "@Field.AssetNumber") {
                                        sort.field = "Asset.AssetNumber";
                                    }
                                    if (sort.field == "@Field.Description") {
                                        sort.field = "Asset.Description";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.PhysicalCheckId",
                        fields: {
                            "@Field.PhysicalCheckDate": { type: "@DataSource.Schema.Type.Date" },
							"@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Condition": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.PhysicalCheckDate", dir: "@SortOrder.Descending.ToDescription()" }
            });

           var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "100px"
                    },
                    {
                        field: "@Field.PhysicalCheckDate",
                        title: "Tgl. Physical Check",
                        width: "100%",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateTimeFormat"
                    },
                    {
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "100%",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "100%",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Condition",
                        title: "Kondisi",
                        width: "100%",
                        template: "#=@Field.Condition#",
                        filterable: {
                            ui: typeCondition,
                            operators: {
                                string: {
                                    eq: "Sama Dengan",
                                }
                            },
                            extra: false,
                        },
                    },
               ],
            }).data("kendoGrid");          
        }
</script>
}

