﻿@{
    ViewBag.Title = TitleSite.Report;
    var currentController = (WebUI.Controllers.PhysicalCheckController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        @*<div class="ibox-title">
            <div class="row">
            </div>
        </div>*@
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<!-- Modal Document -->
<div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1100px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white"></h4>
            </div>
            <div class="modal-body" style="min-height: 300px;">
                <div id="detailGrid"></div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default">Tutup</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data);
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.id}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function typeCondition(element) {
            dropdownListGenerator(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.CONDITION", "@Field.Text", "@Component.OptionLabel", false);
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingLastDate)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field == "@Field.AssetNumber") {
                                        filter.field = "Asset.AssetNumber";
                                    }
                                    if (filter.field == "@Field.Description") {
                                        filter.field = "Asset.Description";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "@Field.AssetNumber") {
                                        sort.field = "Asset.AssetNumber";
                                    }
                                    if (sort.field == "@Field.Description") {
                                        sort.field = "Asset.Description";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.PhysicalCheckId",
                        fields: {
                            "@Field.PhysicalCheckDate": { type: "@DataSource.Schema.Type.Date" },
							"@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Condition": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.PhysicalCheckDate", dir: "@SortOrder.Descending.ToDescription()" }
            });

           var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "history",
                                text: "View History",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                        ],
                        width: "40px"
                    },
                    {
                        field: "@Field.AssetNumber",
                        title: "Asset Number",
                        width: "170px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Asset Description",
                        width: "250px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.PhysicalCheckDate",
                        title: "Last Chect Date",
                        width: "170px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateTimeFormat"
                    },
                    {
                        field: "@Field.Condition",
                        title: "Condition",
                        width: "250px",
                        template: "#=@Field.Condition#",
                        filterable: {
                            ui: typeCondition,
                            operators: {
                                string: {
                                    eq: "Sama Dengan",
                                }
                            },
                            extra: false,
                        },
                    },
               ],
            }).data("kendoGrid");

        }

       function detailItem(e) {
           e.preventDefault();
           var data = this.dataItem(getDataRowGrid(e));

           var $modal = $("#detailModal").clone(),
               $modalBody = $modal.find(".modal-body"),
               $modalTitle = $modal.find(".modal-title"),
               $btnClose = $modal.find("#btnClose");

           //modal on show event
           $modal.on("shown.bs.modal", function (e) {
               $modalTitle.text("Physical Check History");


               var ds = new kendo.data.DataSource({
                   transport: {
                       read: {
                           url: "@Url.Action(ActionSite.Binding)",
                           dataType: "@DataSource.DataType.Json",
                           type: "@DataSource.Type.Post"
                       },
                       parameterMap: function (options, operation) {
                           if (operation !== "@DataSource.Operation.Read" && options.models) {
                               return kendo.stringify(options);
                           } else {
                               if (options.filter) {
                                   var filters = options.filter.filters;

                                   for (var i in filters) {
                                       var filter = filters[i];

                                       if (filter.field == "@Field.AssetNumber") {
                                           filter.field = "Asset.AssetNumber";
                                       }
                                       if (filter.field == "@Field.Description") {
                                           filter.field = "Asset.Description";
                                       }
                                   }
                               }

                               if (options.sort) {
                                   var sorts = options.sort;

                                   for (var i in sorts) {
                                       var sort = sorts[i];
                                       if (sort.field == "@Field.AssetNumber") {
                                           sort.field = "Asset.AssetNumber";
                                       }
                                       if (sort.field == "@Field.Description") {
                                           sort.field = "Asset.Description";
                                       }
                                   }
                               }

                               return options;
                           }
                       }
                   },
                   schema: {
                       data: "@DataSource.Schema.Property.Data",
                       total: "@DataSource.Schema.Property.Total",
                       model: {
                           id: "@Field.PhysicalCheckId",
                           fields: {
                               "@Field.AssetId": { type: "@DataSource.Schema.Type.Number" },
                               "@Field.PhysicalCheckDate": { type: "@DataSource.Schema.Type.Date" },
                               "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                               "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                               "@Field.Condition": { type: "@DataSource.Schema.Type.String" },
                           }
                       }
                   },
                   pageSize: 10,
                   serverFiltering: true,
                   serverPaging: true,
                   serverSorting: true,
                   filter: { field: "@Field.AssetId", operator: "@FilterOperator.Equals", value: data.AssetId },
                   sort: { field: "@Field.PhysicalCheckDate", dir: "@SortOrder.Descending.ToDescription()" }
               });

               var grid = $modal.find("#detailGrid").kendoGrid({
                   dataSource: ds,
                   filterable: kendoGridFilterable,
                   pageable: true,
                   sortable: true,
                   noRecords: {
                       template: "Data Tidak Tersedia"
                   },
                   columns: [
                       {
                           field: "@Field.PhysicalCheckDate",
                           title: "Tgl. Physical Check",
                           width: "170px",
                           filterable: rangeDateFilterable,
                           format: "@DisplayFormat.JsCompactDateTimeFormat"
                       },
                       {
                           field: "@Field.AssetNumber",
                           title: "Fixed Asset Number",
                           width: "170px",
                       },
                       {
                           field: "@Field.Description",
                           title: "Fixed Asset Description",
                           width: "250px",
                           template: "#=@Field.Description#",
                       },
                       {
                           field: "@Field.Condition",
                           title: "Kondisi",
                           width: "250px",
                           template: "#=@Field.Condition#",
                           filterable: {
                               ui: typeCondition,
                               operators: {
                                   string: {
                                       eq: "Sama Dengan",
                                   }
                               },
                               extra: false,
                           },
                       },
                   ],
               }).data("kendoGrid");


               $btnClose.on("click", function (e) {
                   $modal.modal("hide");
               });
           });

           //modal on hide event
           $modal.on("hide.bs.modal", function (e) {
               setTimeout(function () {
                   e.target.remove();
               }, 1000);
           });

           //show modal
           $modal.modal({
               backdrop: "static"
           });
       }
</script>
}

