﻿@model string
@{
    //var htmlAttributes = ViewData["htmlAttributes"];
    //System.Type type = htmlAttributes.GetType();
    //string css = (string)type.GetProperty("class").GetValue(htmlAttributes, null);
    RouteValueDictionary htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);

    if (htmlAttributes == null)
    {
        htmlAttributes = new RouteValueDictionary();
    }
    if (htmlAttributes.ContainsKey("class") == false)
    {
        htmlAttributes.Add("class", "form-control-static");
    }
}

@if (string.IsNullOrEmpty(Model))
{

}
else
{
    <p class="@htmlAttributes["class"]">
        @Html.Raw(Model.Replace("\\r\\n", "<br>"))
    </p>
}
