﻿@using Common.Enums
@using System.Reflection
@using WebUI.Extension
@{
    ViewBag.Title = "Geo Mapping";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];        
}

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <h4><strong>Geomapping</strong></h4>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="mapCanvas" class="map"></div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/geomapping/css")
}

@section scripts
{
    @Scripts.Render("~/bundles/jquerydot")

    <script id="mapInfo" type="text/x-kendo-template">
        @*# var statusClass = getStatusClass(Progress); #*@

        <div class="row">
            <div class="col-xs-3">
                <img class="center-cropped" src="#=Photo#">
            </div>
            <div class="col-xs-9 text">
                <div class="tag-number">#=AssetNumber#</div>
                <div class="equipment-name">#=Description#</div>
                @*<div class="task-progress">
                    <span class="progress-value">#=Progress#% Task Completed</span>
                    <span class="#=statusClass#"></span>
                </div>*@
                <div class="task-total">#=kendo.toString(ValueIdr, "n2")# (IDR)</div>
                <div class="task-total">#=kendo.toString(ValueUsd, "n2")# (USD)</div>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-ptpertaminapersero&sensor=true_or_false&v=3.13"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/infobubble-compiled.js")"></script>
    <script type="text/javascript">
        var map,
            mapOptions = {
                center: { lat: -7.143727, lng: 107.789540 },
                zoom: 15
            };

        $(function () {
            initElement();
        });

        function initElement() {
            var models = @Html.Raw(ViewBag.models);

            initMap(models);

        }

        function initMap(models) {
            var markers = [],
                icons = [],
                template = $("#mapInfo").html();

            map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);

            $.each(models, function (i, model) {
                console.log(model.Condition);
                var marker;
                if (model.Condition == "@Condition.BAD") {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(model.Latitude, model.Longitude+""),
                        map: map,
                        icon: "@Url.Content("~/Content/img/marker.png")"
                    });
                } else {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(model.Latitude, model.Longitude+""),
                        map: map,
                        icon: "@Url.Content("~/Content/img/marker-red.png")"
                    });
                }

                var infoBubble = new InfoBubble({
                    map: map,
                    content: getTemplate(template, model),
                    shadowStyle: 0,
                    padding: 10,
                    borderRadius: 3,
                    arrowSize: 10,
                    borderWidth: 1,
                    //borderColor: '#2c2c2c',
                    disableAutoPan: true,
                    hideCloseButton: true,
                    arrowPosition: 30,
                    backgroundClassName: "map-info",
                    arrowStyle: 2,
                    maxWidth: 340,
                    minWidth: 350,
                    minHeight: 100,
                    maxHeight: 100
                });

                marker.addListener("mouseover", function (args) {
                    setTimeout(function () {
                        if (!infoBubble.isOpen()) {
                            infoBubble.open(map, marker);
                        }
                    }, 300);
                });

                marker.addListener("mouseout", function (args) {
                    setTimeout(function () {
                        if (infoBubble.isOpen()) {
                            infoBubble.close(map, marker);
                        }
                    }, 350);
                });

                //marker.addListener("click", function (args) {
                //    infoBubble.open(map, marker);
                //    //showDetail(model);
                //});

                infoBubble.addListener("domready", function (args) {
                    $parent = $(".map-info").parent();
                    kendo.ui.progress($parent, true);
                    $parent.find(".k-loading-mask").css({
                        "background": "#fff"
                    });
                    $parent.css("overflow", "hidden");
                    $(".map-info").find(".equipment-name").dotdotdot({
                        wrap: "letter",
                        fallbackToLetter: true,
                        watch: true,
                        height: 25,
                    });

                    setTimeout(function () {
                        kendo.ui.progress($parent, false);
                    }, 500);
                });

                markers.push(marker);
            });
        }

        function getStatusClass(progress) {
            if (progress >= 80) {
                return "task-status good";
            } else {
                return "task-status bad";
            }
        }

        function getCollapseClass(index) {
            if (index === 1) {
                return "panel-collapse collapse in";
            } else {
                return "panel-collapse collapse";
            }
        }
    </script>
}