@model WebUI.Models.UserFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="form-horizontal">
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group" style="border-bottom: 1px solid #eee">
        <p>Assign roles to <b>@Model.UserName</b></p>
    </div>

    <div class="form-group">
        <div class="full-width gutter-left gutter-right">
            <div class="half-width pull-left" for="optional">Available Roles</div>
            <div class="half-width pull-right gutter-left-5" for="selected">Selected Roles</div>
        </div>
        <div class="full-width gutter-left gutter-right">
            <select id="optional" class="half-width pull-left"></select>
            <select id="selected" class="half-width pull-right gutter-left-5"></select>
        </div>
    </div>
</div>
