@model WebUI.Models.UserFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.User);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins minimalize-analysis">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                @*<div class="mb-2"><small>@Html.Raw(Resources.AppGlobalMessage.FillRequiredField)</small></div>*@
                @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "form-user" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.CurrentUserName)
                    @Html.HiddenFor(model => model.Approve)
                    @Html.HiddenFor(model => model.ConfirmPassword)
                    @Html.HiddenFor(model => model.CurrentEmail)
                    @Html.HiddenFor(model => model.CurrentUserName)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.RequireSecretQuestionAndAnswer)
                    @Html.HiddenFor(model => model.SecretAnswer)
                    @Html.HiddenFor(model => model.SecretQuestion)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Roles)
                    for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.Roles[i])
                    }


                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control always-validate", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaId, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.AreaId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <h3>Roles for @Model.UserName</h3>

                    foreach (var item in Model.Roles)
                    {
                        <ul>
                            <li>@item.RoleName</li>
                        </ul>
                    }
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label"></label>
                        <div class="col-xs-10">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="@backLink" class="btn btn-link">Batal</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal Role -->
<div id="modalRole" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Assign Roles</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <style>
        .remove-padding {
            padding-left: 0;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">
        
        $(function () {
            initElement();
        });

        function assignRole(e) {
            console.log(this);
            var url = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.AssignRoles)", "@Model.UserName");

            var $modal = $("#modalRole").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnClose = $modal.find("#btnClose");

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var userId = $modal.find("#UserId").val();
                    var filter = {
                        logic: "@FilterLogic.And.ToDescription()",
                        filters: []
                    };
                    var optional = $modalBody.find("#optional").kendoListBox({
                        dataSource: generateRoleDataSource(false),
                        autoBind: false,
                        dataTextField: "@Field.RoleName",
                        dataValueField: "@Field.RoleId",
                        selectable: "multiple",
                        connectWith: "selected",
                        toolbar: {
                            position: "right",
                            tools: ["transferTo", "transferFrom"]
                        }
                    }).data("kendoListBox");

                    var selected = $modalBody.find("#selected").kendoListBox({
                        dataSource: generateRoleDataSource(true),
                        autoBind: false,
                        dataTextField: "@Field.RoleName",
                        dataValueField: "@Field.RoleId",
                        selectable: "multiple",
                        add: selectedOnAdd,
                        remove: selectedOnRemove
                    }).data("kendoListBox");

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);
                    filter.filters = [
                        {
                            field: "@Field.UserId",
                            operator: "@FilterOperator.NotEquals",
                            value: userId
                        }
                    ];
                    optional.dataSource.filter(filter);

                    filter.filters = [
                        {
                            field: "@Field.UserId",
                            operator: "@FilterOperator.Equals",
                            value: userId
                        }
                    ];
                    selected.dataSource.filter(filter);
                });

                //set btn close click event
                $btnClose.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                e.target.remove();
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        function initElement() {
            //plant dropdown
            dropdownListGenerator($("#AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.PLANT", "@Field.Name", "@Component.AreaOptionLabel");
            $("#form-user").submit(function (e) {                
                var areaId = $("#AreaId").val();
                if (areaId === "")
                    $("#AreaId").val(0);
            });

        }

        function selectedOnAdd(e) {
            var data = {
                UserId: $("#UserId").val(),
                Roles: []
            };

            for (var i = 0; i < e.dataItems.length; i++) {
                var dataItem = e.dataItems[i];

                data.Roles.push(dataItem);
            }

            $.ajax({
                type: "@DataSource.Type.Post",
                contentType: "@DataSource.ContentType.ApplicationJson",
                url: "@Url.Action(ActionSite.AssignRoles)",
                data: JSON.stringify(data),
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Call administrator");
                }
            });
        }

        function selectedOnRemove(e) {
            var data = {
                UserId: $("#UserId").val(),
                Roles: []
            };

            for (var i = 0; i < e.dataItems.length; i++) {
                var dataItem = e.dataItems[i];

                data.Roles.push(dataItem);
            }

            $.ajax({
                type: "@DataSource.Type.Post",
                contentType: "@DataSource.ContentType.ApplicationJson",
                url: "@Url.Action(ActionSite.RevokeRoles)",
                data: JSON.stringify(data),
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Call administrator");
                }
            });
        }

        function generateRoleDataSource(isSelected) {
            var $optional = $("#optional"),
                $selected = $("#selected");

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingRoles)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {

                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    model: {
                        id: "@Field.RoleId",
                        fields: {
                            "@Field.RoleId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.RoleName": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverFiltering: true,
                serverSorting: true,
                sort: { field: "@Field.RoleName", dir: "@SortOrder.Ascending.ToDescription()" },
                requestStart: function (e) {
                    if (!isSelected) {
                        kendo.ui.progress($optional.parent(), true);
                    } else {
                        kendo.ui.progress($selected.parent(), true);
                    }
                },
                requestEnd: function (e) {
                    if (!isSelected) {
                        kendo.ui.progress($optional.parent(), false);
                    } else {
                        kendo.ui.progress($selected.parent(), false);
                    }
                }
            });

            return ds;
        }

    </script>
}
