﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapHelper")
    </div>
</div>