﻿<nav class="navbar-default navbar-static-side" role="navigation" id="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@(User != null ? User.UserName : string.Empty)</strong>
                            </span>
                            @*<span class="text-muted text-xs block">Example menu <b class="caret"></b></span>*@
                        </span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Logout</a></li>
                        </ul>*@
                </div>
                <div class="logo-element">
                    AIMS
                </div>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.Home)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.Home, new { area = "" })"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.Asset)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.Asset, new { area = "" })">
                    <i class="glyphicon glyphicon-piggy-bank"></i> <span class="nav-label">FA</span>
                </a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.Geomapping)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.Geomapping, new { area = "" })"><i class="fa fa-map-o"></i> <span class="nav-label">Asset Location</span></a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.AUC)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.AUC, new { area = "" })"><i class="@*fa fa-lg fa-fw fa-calendar*@">1</i> <span class="nav-label">. AUC</span></a>
            </li>


            <li class="@Html.IsSelected(controller: ControllerSite.Actual)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.Actual, new { area = "" })"><i class="@*fa fa-lg fa-fw fa-users*@">2</i> <span class="nav-label">. Realisasi</span></a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.Mapping)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.Mapping, new { area = "" })"><i class="@*fa fa-lg fa-fw fa-users*@">3</i> <span class="nav-label">. Mapping AUC to FA</span></a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.TCR)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.TCR, new { area = "" })"><i class="@*fa fa-lg fa-fw fa-users*@">4</i> <span class="nav-label">. TCR</span></a>
            </li>

            <li class="@Html.IsSelected(controller: ControllerSite.MDM)">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.MDM, new { area = ""})"><i class="@*fa fa-lg fa-fw fa-users*@">5</i> <span class="nav-label">. Request MDM</span></a>
            </li>

            <li class="">
                <a href="@Url.Action(ActionSite.Index, ControllerSite.SPC, new { area = "" })"><i class="@*fa fa-lg fa-fw fa-users*@">6</i> <span class="nav-label">. Req. SPC-005 & SPC-011</span></a>
            </li>

            @if (User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.Finance }))
            {
                <li class="@Html.IsSelected(controller: ControllerSite.Approval)">
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.Approval, new { area = "" })">
                        <i class="glyphicon glyphicon-ok"></i> <span class="nav-label">Approval</span>
                    </a>
                </li>
            }
            @if (User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.Administrator, UserRole.PhysicalCheck }))
            {
                <li class="@Html.IsSelected(controller: ControllerSite.PhysicalCheck)">
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.PhysicalCheck, new { area = "" })">
                        <i class="fa fa-blind"></i> <span class="nav-label">Physical Check</span>
                    </a>
                </li>
            }
            @if (User.HasAccess(UserRole.Superadmin))
            {
                <li class="@Html.IsSelected(area: AreaSite.UserManagement)">
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.User, new { area = AreaSite.UserManagement })">
                        <i class="fa fa-users"></i> <span class="nav-label">User Management</span>
                    </a>
                </li>
            }

            @*@if (User.HasAccess(UserModule.DataMaster))
                {
                <li class="@Html.IsSelected(area: "Admin")">
                    <a href="#"><i class="glyphicon glyphicon-pencil"></i> <span class="nav-label" data-i18n="nav.master">Data Master</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="@Html.IsSelected(controller: "Company")"><a href="@Url.Action("Index", "Company", new { Area = "Admin" })"><span class="nav-label">Company</span> </a></li>
                        <li class="@Html.IsSelected(controller: "Assessment")"><a href="@Url.Action("Index", "Assessment", new { Area = "Admin" })"><span class="nav-label">Assessment</span> </a></li>
                        <li class="@Html.IsSelected(controller: "Setting", action: "Questionnaire")"><a href="@Url.Action("Questionnaire", "Setting", new { Area = "Admin" })"><span class="nav-label">Setting Kuesioner</span> </a></li>
                        <li class="@Html.IsSelected(controller: "Setting", action: "Prestest")"><a href="@Url.Action("Prestest", "Setting", new { Area = "Admin" })"><span class="nav-label">Setting Pretest</span> </a></li>
                    </ul>
                </li>
                }*@
        </ul>
    </div>
</nav>
