@model WebUI.Areas.UserManagement.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="page-header">
	<h1>Change Password</h1>
</div>

<p>
    Use the form below to change your password.
</p>

<p>Password Requirements:</p>
<ul>
    <li>To be a minimum of @Membership.MinRequiredPasswordLength characters in length.</li>
    @if (Membership.MinRequiredNonAlphanumericCharacters > 0)
    {
        <li>To have a minimum of @Membership.MinRequiredNonAlphanumericCharacters non-alpha numeric characters included, such as &quot;<span style="font-family: Courier New; font-size: 16px;">(){}-_*&^%$#@@!</span>&quot;.</li>
    }
</ul>

@using (Html.BeginForm(ViewContext.RouteData.GetRequiredString("action"), ViewContext.RouteData.GetRequiredString("controller"), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    
    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, new { @class = "col-xs-2 control-label" })
		<div class="col-xs-4">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, new { @class = "col-xs-2 control-label" })
		<div class="col-xs-4">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-xs-2 control-label" })
		<div class="col-xs-4">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>
    
	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
            <input type="submit" value="Change Password" class="btn btn-default" />
		</div>
	</div>
}

@section scripts
{
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}