﻿@using WebUI.Extension;
@{
    ViewBag.Title = "Halaman Tidak Ditemukan";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>Maaf, halaman yang ingin Anda tuju tidak ditemukan. Silakan memilih menu lain.</p>