﻿@model WebUI.Models.AUCFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    ViewBag.Title = string.Format("{0} | {1}", Model.WBSElement, TitleSite.Edit);

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, new { id = Model.WBSElement }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.WBSElement, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.WBSElement, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    @Html.LabelFor(model => model.AssetNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AssetNumber, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.SubNumber, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.CapitalizedOn, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CapitalizedOn, new { @class = "form-control-datepicker" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "3" })
                    </div>

                    @Html.LabelFor(model => model.AccumDep, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AccumDep, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AcquisValIdr, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AcquisValIdr, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.AcquisValUsd, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AcquisValUsd, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BookVal, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.BookVal, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.Currency, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Currency, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyCode, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CompanyCode, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.AssetClass, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AssetClass, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginalAsset, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OriginalAsset, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.Plant, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Plant, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SerialNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.UsefulLife, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.UsefulLife, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UsefulPeriod, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.UsefulPeriod, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.ScrapVal, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ScrapVal, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProfitCenter, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ProfitCenter, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.OrdinaryDep, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OrdinaryDep, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstAcquisition, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.FirstAcquisition, new { @class = "form-control-datepicker" })
                    </div>

                    @Html.LabelFor(model => model.CostCenter, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AssetCondition, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AssetCondition, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.Location, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EvaluationGroup1, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.EvaluationGroup1, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.EvaluationGroup3, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.EvaluationGroup3, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EvaluationGroup4, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.EvaluationGroup4, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.EvaluationGroup5, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.EvaluationGroup5, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BalanceSheetItem, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.BalanceSheetItem, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.OriginalValue, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OriginalValue, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginalAcquisitionYear, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OriginalAcquisitionYear, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.DepreciationKey, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.DepreciationKey, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccumOrdinaryDep, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AccumOrdinaryDep, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.PlannedOrdinaryDep, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PlannedOrdinaryDep, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NoUnitDeprec, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.NoUnitDeprec, new { @class = "form-control-numeric" })
                    </div>
               
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        @*$(function () {
            initElement();
        });

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.CompanyId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.CompanyName"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.COMPANY";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            $("#CompanyId").kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()"
            });

            $("#CrewId, #RegisterDate").focus(function (e) {
                this.blur();
            });
        }*@
    </script>
}

