﻿@{
    ViewBag.Title = TitleSite.AUC;
    var currentController = (WebUI.Controllers.AUCController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    <div class="alert alert-info" role="alert">
        Upload excel hanya untuk <strong>menambah data</strong> tidak untuk <strong>merubah data</strong><br />
        Jika ada data <strong>WBS Element</strong> yang sama maka akan menambah data <strong>Acquisition Value</strong>
    </div>
    @Html.Raw(currentController.GetMessage())
    <div id="alert-msg" class="alert alert-danger hide"><a class="close" data-dismiss="alert">×</a><p id="err-msg"></p></div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <input id="files" name="files" type="file" style="display:none" accept=".xlsx">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Excel Template <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="btnUpload">Upload</a></li>
                                <li><a href="javascript:download()">Download</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var $btnUpload = $("#btnUpload");

        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.WBSElement}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.WBSElement);
        }

        function initElement() {

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.WBSElement",
                        fields: {
                            "@Field.AcquisValIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AcquisValUsd": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.BookVal": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AccumDep": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.UsefulLife": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.UsefulPeriod": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ScrapVal": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.OrdinaryDep": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.OriginalValue": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.OriginalAcquisitionYear": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AccumOrdinaryDep": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.PlannedOrdinaryDep": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.NoUnitDeprec": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.NoUnitDeprec": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.CapitalizedOn": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.FirstAcquisition": { type: "@DataSource.Schema.Type.Date" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.WBSElement", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                detailInit: detailInit,
                dataBound: dataBound,
                detailExpand: function (e) {
                    var detailRow = e.detailRow;
                    //setTimeout(function () {
                    //    kendo.fx(detailRow).slideIn("down").play();
                    //}, 0);
                },
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "80px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "WBS Element",
                        width: "170px"
                    },
					{
                        field: "@Field.AssetNumber",
                        width: "130px",
                        title: "Asset"
                    },
					{
                        field: "@Field.SubNumber",
                        title: "Sub Number",
                        width: "130px",
                    },
                    {
                        field: "@Field.CapitalizedOn",
                        width: "130px",
                        title: "Capitalized On",
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.Description",
                        title: "Asset Description",
                        width: "350px",
                    },
                    {
                        field: "@Field.AcquisValIdr",
                        width: "130px",
                        title: "(IDR) Acquis. val.",
                        format: "{0:c2}"
                    },
                    {
                        field: "@Field.AcquisValUsd",
                        width: "130px",
                        title: "(USD) Acquis. val.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.AccumDep",
                        width: "130px",
                        title: "Accum. dep.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.BookVal",
                        width: "130px",
                        title: "Book val.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.Currency",
                        width: "130px",
                        title: "Currency"
                    },
                    {
                        field: "@Field.CompanyCode",
                        width: "130px",
                        title: "Comp. Code"
                    },
                    {
                        field: "@Field.AssetClass",
                        title: "Asset Class",
                        width: "130px",
                    },
                    {
                        field: "@Field.OriginalAsset",
                        width: "130px",
                        title: "Original Asset"
                    },
                    {
                        field: "@Field.Plant",
                        title: "Plant",
                        width: "120px",
                    },
                    {
                        field: "@Field.SerialNumber",
                        title: "Serial Number",
                        width: "120px",
                    },
                    {
                        field: "@Field.UsefulLife",
                        width: "130px",
                        title: "Useful Life",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.UsefulPeriod",
                        width: "130px",
                        title: "Useful life in Period",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ScrapVal",
                        width: "130px",
                        title: "Scrap val.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ProfitCenter",
                        width: "130px",
                        title: "Profit Center"
                    },
                    {
                        field: "@Field.OrdinaryDep",
                        width: "130px",
                        title: "Ordinary dep. posted",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.FirstAcquisition",
                        width: "130px",
                        title: "First Acquisition",
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.CostCenter",
                        width: "130px",
                        title: "Cost Center"
                    },
                    {
                        field: "@Field.AssetCondition",
                        width: "130px",
                        title: "Asset Condition"
                    },
                    {
                        field: "@Field.EvaluationGroup1",
                        width: "130px",
                        title: "Evaluation Group 1"
                    },
                    {
                        field: "@Field.EvaluationGroup3",
                        width: "130px",
                        title: "Evaluation Group 3"
                    },
                    {
                        field: "@Field.EvaluationGroup4",
                        width: "130px",
                        title: "Evaluation Group 4"
                    },
                    {
                        field: "@Field.EvaluationGroup5",
                        width: "130px",
                        title: "Evaluation Group 5"
                    },
                    {
                        field: "@Field.Location",
                        width: "130px",
                        title: "Location"
                    },
                    {
                        field: "@Field.BalanceSheetItem",
                        width: "130px",
                        title: "Balance Sheet Item"
                    },
                    {
                        field: "@Field.OriginalValue",
                        width: "130px",
                        title: "Original Value",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.OriginalAcquisitionYear",
                        width: "130px",
                        title: "Original Acquisition Year"
                    },
                    {
                        field: "@Field.DepreciationKey",
                        width: "130px",
                        title: "Depreciation Key"
                    },
                    {
                        field: "@Field.AccumOrdinaryDep",
                        width: "130px",
                        title: "Accum. Ordinary dep.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.PlannedOrdinaryDep",
                        width: "130px",
                        title: "Planned Ordinary dep.",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.NoUnitDeprec",
                        width: "130px",
                        title: "No. of Units deprec.",
                        format: "{0:n2}"
                    },
                ],
            }).data("kendoGrid");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");
                grid.showColumn(0);
            }
            else {
                $(".ibox-title").addClass("hide");
                grid.hideColumn(0);
            }

            function dataBound(e) {
                var grid = $("#grid").data("kendoGrid");

                grid.tbody.find("tr[role=\"row\"]").each(function (i) {

                    var model = grid.dataItem(this);
                    if (model.CanDeleted.toString() == "false") {
                        $(this).find(".k-grid-delete")
                            .removeClass("k-grid-delete")
                            .children().eq(0)
                            .addClass("k-state-disabled")
                            .attr("title", "Can't be deleted, data already used")
                            .attr("data-html", true);
                    }
                });

                dataBoundTooltip(e);
            }

            function generateDs(e) {
                var actualMappingds = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingAsset, ControllerSite.Actual)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            console.log(options);
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (var i in filters) {
                                        var filter = filters[i];
                                        if (filter.field == "@Field.AssetNumber") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.AssetNumber)";
                                        }
                                        if (filter.field == "@Field.Description") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.Description)";
                                        }
                                        if (filter.field == "@Field.ValueIdr") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.ValueIdr)";
                                        }
                                        if (filter.field == "@Field.ValueUsd") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.ValueUsd)";
                                        }
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (var i in sorts) {
                                        var sort = sorts[i];

                                        if (sort.field == "@Field.AssetNumber") {
                                            sort.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.AssetNumber)";
                                        }
                                        else if (sort.field == "@Field.Description") {
                                            sort.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.Description)";
                                        }
                                        else if (sort.field == "@Field.ValueIdr") {
                                            sort.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.ValueIdr)";
                                        }
                                        else if (sort.field == "@Field.ValueUsd") {
                                            sort.field = "@FieldHelper.ParseRelationField(Table.Asset, Field.ValueUsd)";
                                        }
                                    }
                                }

                                //options.args = '@Model'

                                return options;
                            }
                        }
                    },
			        schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.MappingAssetActualCostId",
                            fields: {
                                "@Field.MappingAssetActualCostId": { type: "@DataSource.Schema.Type.Number" },
						        "@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                                "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            }
                        }
                    },
                    aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                                { field: "@Field.ValueUsd", aggregate: "sum" }],
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.MappingAssetActualCostId", dir: "@SortOrder.Descending.ToDescription()" },
                    filter: { field: "@FieldHelper.ParseRelationField(Table.AUC, Field.WBSElement)", operator: "eq", value: e.data.WBSElement }
                });

                return actualMappingds;
            }
            function detailInit(e) {
               detailInitAsset(e.detailCell, generateDs(e));
            }


            $btnUpload.on("click", function (e) {
                e.preventDefault;
                $("#files").trigger("click");
            });

            $("#files").on("change", function (e) {
                $("#files").kendoUpload({
                    async: {
                        saveUrl: urlAction("@ControllerSite.AUC", "@ActionSite.UploadExcel")
                    },
                    multiple: false,
                    allowedExtensions: [".xlsx"],
                    success: function (e) {
                        if (!e.response.Success) {
                            swal("Warning", "Upload Excel Failed", "warning");
                            $("#alert-msg").removeClass("hide");
                            $("#alert-msg #err-msg").html(e.response.Message);
                        } else {
                            $(".sweet-alert").hide()
                                .prev().hide();
                            $("#alert-msg").addClass("hide");

                            swal("Success", e.response.Message, "success");
                        }

                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    upload: function (e) {
                        $(".sweet-alert").show()
                            .prev().show();

                        swal({
                            title: "Uploading",
                            text: "Please wait...",
                            imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                            closeOnConfirm: false,
                            confirmButtonClass: "hidden"
                        });
                    },
                    showFileList: false,
                    error: function (e) {
                        swal("Error", "Server Error. Contact administrator", "error");
                    }
                }).closest(".k-upload").hide();
            });
        }

         function download() {
            window.location = "@Url.Content("~/Uploads/Template/Template AUC.xlsx")";
        }
    </script>
    <script id="photo-template" type="text/x-kendo-template">
        <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
    </script>
}

