﻿@model WebUI.Models.MDMAssetFormStub

@{ 
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

@using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "formModal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.MDMRequestId)

    <div class="form-group">
        @Html.LabelFor(model => model.AssetId, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AssetId, new { @class = "form-control always-validate always-validate" })
            @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AssetClass, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AssetClass, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.AssetClass, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostCap, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.PostCap, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.PostCap, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description2, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextAreaFor(model => model.Description2, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.Description2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SerialNumber, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EvaluationGroup1, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.EvaluationGroup1, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.EvaluationGroup1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.AssetCondition, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AssetCondition, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.AssetCondition, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.OriginalAsset, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.OriginalAsset, new { @class = "form-control always-validate", @style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.OriginalAsset, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.OrigAcquisDate, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-3">
            @Html.TextBoxFor(model => model.OrigAcquisDate, new { @class = "form-control form-control-datepicker always-validate", @style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.OrigAcquisDate, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.OriginalAsset)
    @*@Html.HiddenFor(model => model.OrigAcquisDate)*@
    <div class="form-group">
        @Html.LabelFor(model => model.BookDepreKey, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.BookDepreKey, new { @class = "form-control always-validate", @style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.BookDepreKey, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UsefulLife01, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.UsefulLife01, new { @class = "form-control always-validate always-validate", @style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.UsefulLife01, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UsefulLife03, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.UsefulLife03, new { @class = "form-control always-validate always-validate", @style = "width: 100%" })
            @Html.ValidationMessageFor(model => model.UsefulLife03, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group m-t-lg">
        <div class="col-xs-offset-2 col-xs-10">
            <button id="btnAdd" type="submit" value="true" class="btn btn-primary">Add</button>
            <button id="btnClose" type="button" value="save" class="btn btn-warning">Close</button>            
        </div>
    </div>*@
}