@model List<WebUI.Models.MDMAssetFinishFormStub>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:left">Asset Class*</th>
            <th style="text-align:left">Asset Number</th>
            <th style="text-align:left">Sub Number</th>
            <th style="text-align:left">Description 1*</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td style="width:15%">
                    @Html.HiddenFor(model => model[i].MDMRequestId)
                    @Html.HiddenFor(model => model[i].AssetId)
                    @Html.HiddenFor(model => model[i].AssetClass)
                    @Html.Raw(Model[i].AssetClass)
                </td>
                <td style="width:25%">
                    @if (Model[i].AssetNumber == null || Model[i].AssetNumber == "")
                    {
                        @Html.TextBoxFor(model => model[i].AssetNumber, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model[i].AssetNumber)
                    }
                    else
                    {
                        @Html.HiddenFor(model => model[i].AssetNumber)
                        @Html.Raw(Model[i].AssetNumber)
                    }
                </td>
                <td style="width:15%">
                    @Html.HiddenFor(model => model[i].SubNumber)
                    @Html.Raw(Model[i].SubNumber)
                </td>
                <td style="width:45%">
                    @Html.HiddenFor(model => model[i].Description)
                    @Html.Raw(Model[i].Description)
                </td>
            </tr>
        }
    </tbody>
</table>

