@model WebUI.Models.MDMRequestFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.MDM);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", Model.RequestTitle, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);

    string attribute = "", disable = "";
    bool canEdit = true;
    if (Model.Status != null && (StatusMDM.PROGRESS.ToString() != Model.Status))
    {
        attribute = "Status mapping sedang menunggu persetujuan / sudah selesai";
        disable = "disabled";
        canEdit = false;
    }
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id="main-form" }))
            {
                @Html.HiddenFor(model => model.MDMRequestId);
                @Html.HiddenFor(model => model.SubmitDate);
                @Html.HiddenFor(model => model.TempDelMDMAsset);
                @Html.HiddenFor(model => model.MDMAsset);
                @Html.HiddenFor(model => model.Status);
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RequestTitle, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.RequestTitle, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.RequestTitle)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LegalRequestor, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.LegalRequestor, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.LegalRequestor)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Asset<span style="color:red" class="asterisk"> *</span></label>
                            <div class="col-xs-4">
                                @*<a id="add-asset" title="@attribute" class="btn btn-default" data-toggle="modal" data-target="#my-modal">Tambah Asset</a>*@ 
                                <button title="@attribute" @disable id="add-asset" type="button" class="btn btn-success">Tambah Asset</button>
                            </div>
                        </div>   
                        <div class="form-group">                            
                            <div class="col-xs-offset-2 col-xs-10">
                                <div id="grid"></div>
                                <span id="asset-error"><span class="text-danger">Asset wajib diisi.</span></span>
                            </div>
                        </div>   
                        
                        <div class="form-group m-t-lg">
                            <div class="col-xs-offset-2 col-xs-4">
                                <button title="@attribute" @disable type="submit" value="save" class="btn btn-primary">Simpan</button>
                                @*<button title="@attribute" @disable id="btnApprove" type="button" value="true" class="btn btn-primary">Kirim Untuk Approval</button>*@
                                <a href="@backLink" class="btn btn-link">Batal</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            }            
            </div>
        </div>
    </div>

  <!-- Modal Form -->
<div id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:80%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">batal</button>
                <button id="btnSave" type="button" class="btn btn-primary">Tambah</button>
            </div>
        </div>
    </div>
</div>    

@section scripts
{
<script type="text/javascript">
    var ds = @Html.Raw(Model.MDMAsset !=null? Model.MDMAsset : "[]");
    var tempDel = [];
    var tempDelOptions = {};
    var tempDsOptions = [];
    var rowData = "";
    if (ds == "") {
        ds = [];
    }

    $(function () {
        initElement();
    })

    function initElement() {
        $("#asset-error").hide();
    }

    $("#add-asset").click(function () {
        if ("@canEdit" == "True"){
            rowData = "";
            if (tempDsOptions.length <= 0) {
                swal("Info", "Tidak ada asset untuk dilakukan proses MDM");
            } else {
                showModal("Tambah Asset", "@Url.Action(ActionSite.AddAsset)", null);
            }
        }
    })

    $("#main-form").submit(function (e) {
        $("#MDMRequestId").val("@Model.MDMRequestId");
        if (grid.dataSource.data().length > 0) {
            $("#MDMAsset").val(kendo.stringify(grid.dataSource.data()));
        } else {
            e.preventDefault();
            $("#MDMAsset").val("");            
            $("#asset-error").show();
            $('[type=submit]').attr('disabled', 'disabled'); 
        }
        if (tempDel.length > 0) {
            $("#TempDelMDMAsset").val(kendo.stringify(tempDel));
        } else {
            $("#TempDelMDMAsset").val("");
        }
    });

    var dsOptions = new kendo.data.DataSource({
        transport: {
            read: {
                url: "@Url.Action("BindingMappingAsset")",
                dataType: "@DataSource.DataType.Json",
                type: "@DataSource.Type.Post"
            },
        },
        schema: {
            data: "data",
            model: {
                fields: {
                    "AssetId": { type: "number" },
                    "AssetNumber": { type: "string" },
                    "Description": { type: "string" },
                    "Location": { type: "string" },
                }
            }
        }
    });
    dsOptions.fetch().then(function () {
        tempDsOptions = dsOptions.data();
    });

    var dataSource = new kendo.data.DataSource({
        data: ds,
        schema: {
            model: {
                id: "AssetId",
                fields:
                {
                    "MDMRequestId": { type: "@DataSource.Schema.Type.Number" },
                    "AssetId": { type: "@DataSource.Schema.Type.Number" },
                    "AssetNumber": { type: "@DataSource.Schema.Type.String" },
                    "AssetClass": { type: "@DataSource.Schema.Type.String" },
                    "PostCap": { type: "@DataSource.Schema.Type.String" },
                    "Description": { type: "@DataSource.Schema.Type.String" },
                    "Description2": { type: "@DataSource.Schema.Type.String" },
                    "Location": { type: "@DataSource.Schema.Type.String" },
                    "SerialNumber": { type: "@DataSource.Schema.Type.String" },
                    "EvaluationGroup1": { type: "@DataSource.Schema.Type.String" },
                    "AssetCondition": { type: "@DataSource.Schema.Type.String" },
                    "OriginalAsset": { type: "@DataSource.Schema.Type.String" },
                    "OrigAcquisDate": { type: "@DataSource.Schema.Type.Date" },
                    "BookDepreKey": { type: "@DataSource.Schema.Type.String" },
                    "UsefulLife01": { type: "@DataSource.Schema.Type.String" },
                    "UsefulLife03": { type: "@DataSource.Schema.Type.String" },
                }
            }
        },
    });

    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        dataBound: dataBoundEvent,
        scrollable: true,
        filterable: kendoGridFilterable,
        noRecords: {
            template: "Data Tidak Tersedia"
        },
        //pageable: true,
        sortable: true,
        columns: [
            {
                command: [
                    {
                        name: "edit",
                        text: "edit",
                        click: editItem,
                        imageClass: "glyphicon glyphicon-edit",
                        template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                    },
                    {
                        name: "delete",
                        text: "deleted",
                        click: deleteItem,
                        //confirmation: "false",
                        imageClass: "glyphicon glyphicon-trash",
                        template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class=" glyphicon glyphicon-trash"></span></span></a>'
                    },
                ],
                title: "&nbsp;", width: "80px"
            },
            { field: "AssetClass", title: "Asset Class", width: "200px" },
            { field: "AssetNumber", title: "Asset Number", width: "200px"},
            { field: "PostCap", title: "Post Cap", width: "200px"},
            { field: "Description", title: "Description 1", template: "#=Description#", width: "200px"},
            { field: "Description2", title: "Description 2", template: "#=Description2#", width: "200px" },
            { field: "SerialNumber", title: "Serial Number", width: "200px"},
            { field: "Location", title: "Location", width: "200px"},
            { field: "EvaluationGroup1", title: "Evaluation Group1", width: "200px"},
            { field: "AssetCondition", title: "Asset Condition", width: "200px"},
            @*{ field: "OriginalAsset", title: "Original Asset", width: "200px"},
            { field: "OrigAcquisDate", title: "Orig Acquis Date", format: "@DisplayFormat.JsCompactDateFormat"/*, template: "#=kendo.toString(OrigAcquisDate, \"d\")#"*/, width: "200px"},*@
            { field: "BookDepreKey", title: "Book DepreKey", width: "200px"},
            { field: "UsefulLife01", title: "Useful Life 01", width: "200px"},
            { field: "UsefulLife03", title: "Useful Life 03", width: "200px"},
        ],
        editable: false
    }).data("kendoGrid");

    function editItem(e) {
        e.preventDefault();
        if ("@canEdit" == "True") {
            var data = this.dataItem(getDataRowGrid(e));
            rowData = data;
            var dsOpt = { AssetId: data.AssetId, AssetNumber: data.AssetNumber, Description: data.Description, Location: data.Location };
            tempDelOptions = dsOpt;
            tempDsOptions.push(dsOpt);
            showModal("Ubah Asset", "@Url.Action(ActionSite.AddAsset)", data);
        }
    }

     function deleteItem(e) {
         e.preventDefault();
         if ("@canEdit" == "True") {
             var data = this.dataItem(getDataRowGrid(e));
             if (data.MDMRequestId != 0) {
                 tempDel.push(data);
             }
             var dsOpt = { AssetId: data.AssetId, AssetNumber: data.AssetNumber, Description: data.Description, Location: data.Location };
             tempDsOptions.push(dsOpt);
             tempDelOptions = {};
             this.dataSource.remove(data);
             reqAsset();
         }
    }

    function showModal(title, url, gridItem) {
        var $modal = $("#modalForm").clone(),
            $modalBody = $modal.find(".modal-body"),
            $btnCancel = $modal.find("#btnCancel"),
            $btnSave = $modal.find("#btnSave");
        $modal.find(".modal-title").text(title);
        //show loading progress
        kendo.ui.progress($modalBody, true);
         //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $assetIdOptions = $form.find("#AssetId");

                    var datePicker = $("#OrigAcquisDate").kendoDatePicker({
                        format: "dd/MM/yyyy",                        
                        parseFormats: ["dd/MM/yyyy HH:mm:ss", "dd/MM/yyyy HH.mm.ss"]
                    }).data("kendoDatePicker");

                    if (rowData != "") {
                        $("#MDMRequestId").val(rowData.MDMRequestId)
                        $("#AssetId").val(rowData.AssetId);
                        $("#AssetClass").val(rowData.AssetClass);
                        $("#PostCap").val(rowData.PostCap);
                        $("#Description2").val(rowData.Description2);
                        $("#SerialNumber").val(rowData.SerialNumber);
                        $("#EvaluationGroup1").val(rowData.EvaluationGroup1);
                        $("#AssetCondition").val(rowData.AssetCondition);
                        $("#OriginalAsset").val(rowData.OriginalAsset);
                        //$("#OrigAcquisDate").data("kendoDatePicker").value(rowData.OrigAcquisDate);
                        datePicker.value(rowData.OrigAcquisDate);
                        $("#BookDepreKey").val(rowData.BookDepreKey);
                        $("#UsefulLife01").val(rowData.UsefulLife01);
                        $("#UsefulLife03").val(rowData.UsefulLife03);
                    }

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign($form);                    

                    //init editor
                    var editor = $("#Description2").kendoEditor({
                        encoded: false,
                        resizable: true,
                        tools: [
                            "formatting",
                            "cleanFormatting",
                            "bold",
                            "italic",
                            "underline",
                            "strikethrough",
                            "justifyLeft",
                            "justifyCenter",
                            "justifyRight",
                            "justifyFull",
                            "fontSize",
                            "foreColor",
                            "backColor"
                        ],
                        keyup: function (e) {
                            this.element.val(this.value());
                            validateForm();
                        },
                        paste: function (ev) {
                            var html = $.parseHTML(ev.html);

                            ev.html = $(html).text();
                        }
                    }).data("kendoEditor");

                    kendoEditorDisableSpellCheck(editor);

                    var $options = $assetIdOptions.kendoDropDownList({
                        dataSource: tempDsOptions,
                        //filter: "contains",
                        //index:0,
                        dataTextField: "@Field.AssetNumber",
                        dataValueField: "@Field.AssetId",
                        template: '#=Description#',
                        valueTemplate: '#=Description#',
                        @*optionLabel: "@Component.OptionLabel",*@
                    }).data("kendoDropDownList");

                    //set validator
                    $.validator.unobtrusive.parse($form);
                    initClientSideValidation(null, $modal);

                    //remove default submit event
                    $form.off("submit");

                    //handle client validation on unsupported component. example : kendo dropdownlist, kendo editor, etc.
                    //to use this add class always-validate to component
                    var formValidator = $form.data("validator");
                    if (formValidator !== undefined && formValidator !== null) {
                        formValidator.settings.ignore = ":hidden:not(.always-validate)";
                    }

                    $form.find("input").on("keyup blur", validateForm(modal = $modal));


                    //set submit event
                    $form.submit(function (e) {
                        e.preventDefault();

                        if (!($form.find("input").hasClass("input-validation-error"))) {
                            if (gridItem != null) {
                                gridItem.set("AssetId", $("#AssetId").val());
                                gridItem.set("AssetNumber", $options.dataItem().AssetNumber);
                                gridItem.set("AssetClass", $("#AssetClass").val());
                                gridItem.set("PostCap", $("#PostCap").val());
                                gridItem.set("Description", $options.dataItem().Description);
                                gridItem.set("Description2", $("#Description2").val());
                                gridItem.set("Location", $options.dataItem().Location);
                                gridItem.set("SerialNumber", $("#SerialNumber").val());
                                gridItem.set("EvaluationGroup1", $("#EvaluationGroup1").val());
                                gridItem.set("AssetCondition", $("#AssetCondition").val());
                                gridItem.set("OriginalAsset", $("#OriginalAsset").val());
                                gridItem.set("OrigAcquisDate", datePicker.value());
                                //gridItem.set("OrigAcquisDate", $("#OrigAcquisDate").val());
                                gridItem.set("BookDepreKey", $("#BookDepreKey").val());
                                gridItem.set("UsefulLife01", $("#UsefulLife01").val());
                                gridItem.set("UsefulLife03", $("#UsefulLife03").val());
                            }
                            else {
                                var a = {
                                    MDMRequestId: 0,
                                    AssetId: $("#AssetId").val(),
                                    AssetNumber: $options.dataItem().AssetNumber,
                                    AssetClass: $("#AssetClass").val(),
                                    PostCap: $("#PostCap").val(),
                                    Description: $options.dataItem().Description,
                                    Description2: $("#Description2").val(),
                                    Location: $options.dataItem().Location,
                                    SerialNumber: $("#SerialNumber").val(),
                                    EvaluationGroup1: $("#EvaluationGroup1").val(),
                                    AssetCondition: $("#AssetCondition").val(),
                                    OriginalAsset: $("#OriginalAsset").val(),                                    
                                    OrigAcquisDate: datePicker.value(),
                                    //OrigAcquisDate: $("#OrigAcquisDate").val(),
                                    BookDepreKey: $("#BookDepreKey").val(),
                                    UsefulLife01: $("#UsefulLife01").val(),
                                    UsefulLife03: $("#UsefulLife03").val()
                                };
                                grid.dataSource.add(a);
                            }
                            tempDelOptions = $options.dataItem();
                            tempDsOptions.remove($options.dataItem());
                            reqAsset();
                            $modal.modal("hide");
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }                        
                        return false;
                    });


                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        validateForm(null, null, $modal);
                        $form.submit();
                    });
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {                                
                    for (var i = 0; i < tempDsOptions.length; i++) {
                        if (!isEmpty(tempDelOptions) && (tempDsOptions[i].AssetId == tempDelOptions.AssetId)) {
                            tempDsOptions.remove(tempDsOptions[i]);
                            tempDelOptions = {};
                            i = tempDsOptions.length;
                        }
                    }
                    //tempDsOptions.remove(tempDelOptions);
                    $modal.modal("hide");
                });
            });

            function isEmpty(obj) {
                for (var key in obj) {
                    if (obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            }

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
     }

    function dataBoundEvent(e) {        
        if ("@canEdit" == "False") {
            $("#grid tbody tr .k-grid-edit").each(function () {
                $(this).removeClass("k-grid-setComplete")
                    .children().eq(0)
                    .addClass("k-state-disabled")
                    .attr({
                        "data-placement": "right",
                        "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa diedit"
                    });
            });

            $("#grid tbody tr .k-grid-delete").each(function () {
                $(this).removeClass("k-grid-delete")
                    .children().eq(0)
                    .addClass("k-state-disabled")
                    .attr({
                        "data-placement": "right",
                        "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa diedit"
                    });
            });
        }
    }

    function getStatAsset() {
        if (tempDsOptions.length <= 0) {
            $("#add-asset").attr("disabled", "disabled");
        } else {
            $("#add-asset").removeAttr("disabled");
        }
    }

    function reqAsset() {
        if (grid.dataSource.data().length > 0) {
            $error = $(".field-validation-error");
            $("#asset-error").hide();
            if ($error.length == 0) {
                $('[type=submit]').removeAttr('disabled');
            }
        } else {
            $("#asset-error").show();
            $('[type=submit]').attr('disabled', "disabled");
        }
    }

</script>

}

