@model WebUI.Models.AssetFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";
    string image = Model.Photo == null ? Url.Content("~/Images/no-image-width.jpg") : Url.Content(Model.Photo);

    if (currentAction.ToLower() == ActionSite.CreateFA.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Asset);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Name , TitleSite.Edit);
    }

    backLink = string.Format("{0}?id={1}", Url.Action(ActionSite.MappingFA), Model.MappingId);

    string btnSaveAsset = "Next (Tambah Realisasi)";
    if(StatusAsset.DRAFT.ToString() != ViewBag.Status && StatusAsset.REJECT_BY_FINANCE.ToString() != ViewBag.Status)
    {
        btnSaveAsset = "Simpan + Lihat Realisasi";
    }
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="alert alert-info">
            <strong>Mapping Fix Asset untuk <br> @Html.Raw(ViewBag.Description)</strong>
        </div>
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.MappingId);
                @Html.HiddenFor(model => model.Photo);
                @Html.HiddenFor(model => model.AssetId);                

                <div class="form-group">
                    @Html.LabelFor(model => model.SubNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.SubNumber, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.SubNumber)
                    </div>
                </div>

                <div class="form-group">                 
                    @Html.LabelFor(model => model.AssetNumber, new { @class = "col-xs-2 control-label", @id="label-aset"})
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.AssetNumber, new { @class = "form-control always-validate" })                        
                        @Html.ValidationMessageFor(model => model.AssetNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control-editor always-validate" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LocationId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.LocationId, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.LocationId)
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Asset Photo<span style="color:red" class="asterisk"> *</span></label>
                    <div class="col-xs-2">
                        <div id="img-thumb" class="thumbnail"><img class="center-cropped" src="@image" /></div>
                        <input id="img-upload" type="file" name="files" class="hide" />
                        @Html.ValidationMessageFor(model => model.Photo)
                    </div>
                    <div class="col-xs-6">
                        <ul class="small" style="margin-top:10px">
                            <li>Max File Size. 10 MB</li>
                            <li>File Type Allow .jpg/.jpeg, .png.</li>
                            <li>Recomended Ratio of Image 2:3px</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">@btnSaveAsset</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="upload-info" hidden>
    <div style="width:100%; margin-bottom:5px; margin-top:10px; margin-left:0px; padding-left:0px">
        <ul class="small" style="padding-left:10px;">
            <li>Max File Size. 10 MB</li>
            <li>File Type Allow .jpg/.jpeg, .png</li>
            <li>Recomended Ratio of Image 1:1 px</li>
        </ul>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/apps/mapping/mappingFA")
    <script type="text/javascript">      

        $(function () {
            initElement();
        });

        function initElement() {              
            showSpan(); 
            
            dropdownListGenerator($("#@Field.SubNumber"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.SUBNUMBER", "@Field.SubNumber", "@Component.OptionLabel");
            dropdownListGenerator($("#@Field.LocationId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.LOCATION", "@Field.Name", "@Component.OptionLabel");

            uploadPhotoEditor('@Url.Action("Save", "FileManagement", new {Area = "" })', '@Url.Action("Remove", "FileManagement", new {Area = "" })')

        }

        $("#SubNumber").change(function () {            
            showSpan();
        })

        //show/hide required span asset number
        function showSpan() {
            if ($("#SubNumber").val() == 1) {
                $("#label-aset").find("span").show();
            } else {
                $("#label-aset").find("span").hide();
            }
        }
    </script>
}

