@model WebUI.Models.MappingActualCostPresentationStub
@using WebUI.Models
@using System.Reflection
@{
    ViewBag.Title = TitleSite.MappingAUC;
    var currentControllerObj = (WebUI.Controllers.MappingController)ViewContext.Controller;
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    string attribute = "", hidden = "", deleteAct = "true";
    if ((StatusAsset.DRAFT.ToString() != Model.Status) && (StatusAsset.REJECT_BY_FINANCE.ToString() != Model.Status))
    {
        //attribute = "Status mapping sedang menunggu persetujuan / sudah selesai";
        hidden = "hidden";
        deleteAct = "false";
    }
}

@Html.Raw(currentControllerObj.GetMessage())

<div class="wrapper wrapper-content">
    <div class="alert alert-info">
        <strong>Mapping AUC untuk asset : <br /> @Html.Raw(ViewBag.AssetDesc)</strong>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a title="" id="btnRemoveActual" class="btn btn-danger @hidden" style="display:none" >Hapus Realisasi</a>
                        <a title=""  id="btnAddActual" href="" class="btn btn-primary @hidden" data-toggle="modal" data-target="#actualModal">Add Realisasi</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<div id="actualModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">List Realisasi <small><em>(Pilih realisasi untuk asset number : @ViewBag.AssetNumber)</em></small></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Edit Realisasi </strong><small><em>(Realisasi biaya dalam mata uang rupiah)</em></small></div>
                        <div class="panel-body">
                            <div id="info-auc" class="alert alert-info" style="display:none">
                                <strong>Nilai AUC lebih kecil dari Amount (IDR)</strong>
                            </div>

                            <form class="form-horizontal not-track-change">
                                <div class="form-group">
                                    @Html.Label("Doc Number", new { @class = "col-xs-3 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBox(@Field.DocumentNumber.ToString(), "", new { @class = "form-control", @disabled = true })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-xs-3 control-label">AUC<span style="color:red" class="asterisk"> *</span></label>
                                    <div class="col-xs-8">
                                        @*@Html.TextBox(Field.WBSElementNumber.ToString(), 0, new { @class = "form-control always-validate", @data_val = "true", @data_val_required = "Field AUC wajib diisi." })*@
                                        @Html.TextBox(Field.WBSElementNumber.ToString(), 0, new { @class = "form-control" })
                                        @*@Html.ValidationMessage(Field.WBSElementNumber.ToString())*@
                                        <span id="empty-auc" style="color:red">Field AUC wajib diisi.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Amount (IDR)", new { @class = "col-xs-3 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBox(Field.SelectedFixedAsset.ToString(), 0, new { @class = "form-control form-control-decimal", @disabled = true })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div id="gridActual"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addActual" type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="actualEditorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form class="form-horizontal not-track-change">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Realisasi Biaya <small><em>(Realisasi biaya dalam mata uang rupiah)</em></small></h4>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true)

                    @Html.Hidden(Field.MappingAssetActualCostId.ToString())
                    @Html.Hidden(Field.MappingAssetId.ToString())
                    @Html.Hidden(Field.ActualCostId.ToString())

                    <div class="form-group">
                        @Html.Label("Doc Number", new { @class = "col-xs-3 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox(@Field.DocNumber.ToString(), 0, new { @class = "form-control", @disabled = true })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">AUC<span style="color:red" class="asterisk"> *</span></label>
                        <div class="col-xs-8">
                            @*@Html.TextBox(Field.WBSElement.ToString(), 0, new { @class = "form-control always-validate", @data_val = "true", @data_val_required = "Field AUC wajib diisi." })*@
                            @Html.TextBox(Field.WBSElement.ToString(), 0, new { @class = "form-control" })
                            @*@Html.ValidationMessage(Field.WBSElement.ToString())*@
                            <span id="info-empty" style="color:red">Field AUC wajib diisi.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Amount (IDR)<span style="color:red" class="asterisk"> *</span></label>
                        <div class="col-xs-8">
                            @Html.TextBox(Field.ValueIdr.ToString(), 0, new { @class = "form-control form-control-decimal" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script id="photo-template" type="text/x-kendo-template">
    <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>

@section scripts
{
<script type="text/javascript">
        var grid = $().data("kendoGrid"),
            gridActual = $().data("kendoGrid");

        var checkedIds = {},
            checkedDelIds = {},
            balances = {},
            checkedFAs = [],
            tempDel = [],
            selBalances = [];
            actualds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.BindingMappingActual)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    options.args = '@Model.MappingAssetId'
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        return options;
                    }
                }
            },
            schema: {
                model: {
                    fields: {
                        "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.MappingValueIdr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                        "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
						"@Field.RefNumber": { type: "@DataSource.Schema.Type.String" },
						"@Field.OffsettingAccountType": { type: "@DataSource.Schema.Type.String" },
                        "@Field.DocType": { type: "@DataSource.Schema.Type.String" },
                        "@Field.CoObjectName": { type: "@DataSource.Schema.Type.String" },
                        "@Field.CostElement": { type: "@DataSource.Schema.Type.String" },
                        "@Field.CostElementDesc": { type: "@DataSource.Schema.Type.String" },
                        "@Field.FiscalYear": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.DocDate": { type: "@DataSource.Schema.Type.Date" },
                        "@Field.PostingDate": { type: "@DataSource.Schema.Type.Date" },
                        "@Field.CreatedOn": { type: "@DataSource.Schema.Type.Date" },
                        "@Field.TransactionCurrency": { type: "@DataSource.Schema.Type.String" },
                        "@Field.ValueTranCurr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueCoArea": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueHardCurr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.PurchasingDoc": { type: "@DataSource.Schema.Type.String" },
                        "@Field.TotalQuantity": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.Item": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                        "@Field.UserName": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                    }
                }
            },
            pageSize: 10,
            serverFiltering: false,
            serverPaging: false,
            serverSorting: false,
        }),
        actualMappingds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.BindingMappingAssetActualCost)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        options.args = '@Model.MappingAssetId'

                        return options;
                    }
                }
            },
			schema: {
                data: "@DataSource.Schema.Property.Data",
                total: "@DataSource.Schema.Property.Total",
                model: {
                    id: "@Field.MappingAssetActualCostId",
                    fields: {
                        "@Field.MappingAssetActualCostId": { type: "@DataSource.Schema.Type.Number" },
						"@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                        "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                    }
                }
            },
            aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                        { field: "@Field.ValueUsd", aggregate: "sum" }],
            pageSize: 10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
			sort: { field: "@Field.MappingAssetId", dir: "@SortOrder.Descending.ToDescription()" }
        });

        //on click of the checkbox:
        function selectRow() {
            var sumSelBalance = 0;
            selBalances = [];

            var checked = this.checked,
                row = $(this).closest("tr"),
                //gridActual = $("#gridActual").data("kendoGrid"),
                dataItem = gridActual.dataItem(row);

            checkedIds[dataItem.ActualCostId] = checked;
            balances[dataItem.Balance] = checked;

            var temp = {
                "docNumber": dataItem.DocNumber,
                "actualCostId": dataItem.ActualCostId,
                "balance": dataItem.Balance,
                "isChecked": checked
            };

            if (checked) {
                //-select the row
                row.addClass("k-state-selected");

                var checkHeader = true;

                $.each(gridActual.items(), function (index, item) {
                    if (!($(item).hasClass("k-state-selected"))) {
                        checkHeader = false;
                    }
                });

                $("#header-chb")[0].checked = checkHeader;

                //add item into array
                checkedFAs.push(temp);
            } else {

                //-remove selection
                row.removeClass("k-state-selected");
                $("#header-chb")[0].checked = false;

                //set isChecked to false
                for (var i = 0; i < checkedFAs.length; i++) {
                    if (checkedFAs[i].actualCostId == dataItem.ActualCostId) {
                        checkedFAs[i].isChecked = false;
                    }
                }
            }

            //set document number
            var doc = $.map(checkedFAs, function (obj) {
                if (obj.isChecked)
                    return obj.docNumber;
            }).join(',');

            $("#@Field.DocumentNumber").val(doc);
            //add selBalances element array from selected balance
            for (var o in checkedFAs) {
                if (checkedFAs[o].isChecked) selBalances.push(checkedFAs[o].balance);
            }
            //calculate selected balance
            for (var i = 0, sumSelBalance = 0; i < selBalances.length; sumSelBalance += parseFloat(selBalances[i++]));

            //set selected total asset
            var $sum = $("#@Field.SelectedFixedAsset").data("kendoNumericTextBox");
            $sum.value(sumSelBalance);

            //info auc
            var $amount = $("#@Field.SelectedFixedAsset").data("kendoNumericTextBox");
            var $auc = $("#@Field.WBSElementNumber").data("kendoDropDownList");
            var info = $("#info-auc");

            if ($auc.value() !== "") {
                if ($auc.value() < $amount.value()) {
                    info.show();
                } else {
                    info.hide();
                }
            } else {
                info.hide();
            }
        }

        //on click of the checkbox:
        function deleteRow(e) {
            var checked = e.checked,
                row = $(e).closest("tr"),
                //grid = $("#grid").data("kendoGrid"),
                dataItem = grid.dataItem(row);

            //checkedIds[dataItem.ActualCostId] = checked;
            //checkedDelIds[dataItem.ActualCostId] = checked;

            if (checked) {
                //-select the row
                tempDel.push(dataItem.MappingAssetActualCostId);
                row.addClass("k-state-selected");

                var checkHeader = true;

                $.each(grid.items(), function (index, item) {
                    if (!($(item).hasClass("k-state-selected"))) {
                        checkHeader = false;
                    }
                });

                $("#header-chd")[0].checked = checkHeader;
            } else {
                removeArray(tempDel, dataItem.MappingAssetActualCostId);
                //-remove selection
                row.removeClass("k-state-selected");
                $("#header-chd")[0].checked = false;
            }

            if (tempDel.length > 0) {
                $("#btnRemoveActual").show();
            } else {
                $("#btnRemoveActual").hide();
            }
        }

        $(function () {
            initElement();
        });

        function wbsOptionOnChange(e) {
            var $auc = $("#@Field.WBSElement").data("kendoDropDownList");
            var infoField = $("#info-empty");

            if ($auc.value() !== "") {
                infoField.hide();
                $("#btnSave").removeAttr("disabled");
            } else {
                infoField.show()
                $("#btnSave").attr("disabled", "disabled");
            }
        }

        function wbsOptionOnDataBound(e) {
            var $auc = $("#@Field.WBSElement").data("kendoDropDownList");
            var infoField = $("#info-empty");

            if ($auc.value() !== "") {
                infoField.hide();
                $("#btnSave").removeAttr("disabled");
            } else {
                infoField.show()
                $("#btnSave").attr("disabled", "disabled");
            }
        }

        function aucOptionOnChange(e) {
            var $amount = $("#@Field.SelectedFixedAsset").data("kendoNumericTextBox");
            var $auc = $("#@Field.WBSElementNumber").data("kendoDropDownList");
            var info = $("#info-auc");
            var infoField = $("#empty-auc");

            if ($auc.value() !== "") {
                if ($auc.value() < $amount.value()) {
                    info.show();
                } else {
                    info.hide();
                }

                infoField.hide();
                $("#addActual").removeAttr("disabled");
            } else {
                info.hide();
                infoField.show();
                $("#addActual").attr("disabled", "disabled");
            }
        }

        function initGridActual() {
            gridActual = $("#gridActual").kendoGrid({
                dataSource: actualds,
                filterable: kendoGridFilterable,
                pageable: {
                    pageSizes: true
                },
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                dataBound: function (e) {
                    var view = this.dataSource.view();
                    for (var i = 0; i < view.length; i++) {
                        if (checkedIds[view[i].ActualCostId]) {
                            this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                                .addClass("k-state-selected")
                                .find(".k-checkbox")
                                .attr("checked", "checked");
                        }
                    }
                },
                columns: [
                    {
                        title: 'Select All',
                        headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                        template: function (dataItem) {
                            //return "<input onClick='selectRow(this)' type='checkbox' id='" + dataItem.ActualCostId + "' class='k-checkbox row-checkbox fixed'><label class='k-checkbox-label' for='" + dataItem.ActualCostId + "'></label>";
                            return "<input type='checkbox' id='" + dataItem.ActualCostId + "' class='k-checkbox row-checkbox fixed-asset'><label class='k-checkbox-label' for='" + dataItem.ActualCostId + "'></label>";
                        },
                        width: "40px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "WBS Element",
                        width: "170px"
                    },
					{
                        field: "@Field.DocNumber",
                        width: "170px",
                        title: "Document Number "
                    },
					{
                        field: "@Field.Balance",
                        width: "170px",
                        title: "Sisa Assset",
                        format: "{0:c2}"
                    },
					{
                        field: "@Field.RefNumber",
                        title: "Ref Document Number",
                        width: "200px",
                    },
                    {
                        field: "@Field.OffsettingAccountType",
                        title: "Offsetting Account Type",
                        width: "200px",
                    },
                    {
                        field: "@Field.DocType",
                        title: "Document Type",
                        width: "150px",
                    },
                    {
                        field: "@Field.ProjectDefinition",
                        title: "Project Definition",
                        width: "160px",
                    },
                    {
                        field: "@Field.CoObjectName",
                        title: "CO Object Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElement",
                        title: "Cost Element",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElementDesc",
                        title: "Cost Element Desc.",
                        width: "270px",
                    },
                    {
                        field: "@Field.FiscalYear",
                        title: "Fiscal Year",
                        width: "120px",
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.PostingDate",
                        title: "Posting Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.CreatedOn",
                        title: "Created On",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.TransactionCurrency",
                        title: "Transaction Currency",
                        width: "150px",
                    },
                    {
                        field: "@Field.ValueTranCurr",
                        title: "Vbl. Value/TranCurr.",
                        width: "170px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ValueCoArea",
                        title: "Val/COArea Crcy",
                        width: "150px",
                        format: "{0:c2}"
                    },
                    {
                        field: "@Field.ValueHardCurr",
                        title: "Val in Hard Curr",
                        width: "150px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.PurchasingDoc",
                        title: "Purchasing Document",
                        width: "170px",
                    },
                    {
                        field: "@Field.TotalQuantity",
                        title: "Total Quantity",
                        width: "150px",
                    },
                    {
                        field: "@Field.Item",
                        title: "Item",
                        width: "250px",
                    },
                    {
                        field: "@Field.PurchaseOrderText",
                        title: "Purchase Order Text",
                        width: "200px",
                    },
                    {
                        field: "@Field.Name",
                        title: "Name",
                        width: "320px",
                    },
                    {
                        field: "@Field.UserName",
                        title: "User Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.Period",
                        title: "Period",
                        width: "120px",
                    }
                ],
            }).data("kendoGrid");
            gridActual.table.on("click", ".fixed-asset", selectRow);

            $('#header-chb').change(function (ev) {
                var checked = ev.target.checked;
                $('.fixed-asset').not('.actual').each(function (idx, item) {
                    if (checked) {
                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                            $(item).click();
                        }
                    } else {
                        if ($(item).closest('tr').is('.k-state-selected')) {
                            $(item).click();
                        }
                    }
                });
            });
        }

        function initElement() {
            dropdownListGenerator($("#@Field.WBSElement"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AUC", "@Field.WBSElement", "@Component.OptionLabel");
            dropdownListGenerator($("#@Field.WBSElementNumber"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AUCVALUE", "@Field.WBSElement", "@Component.OptionLabel");
            //$aucOption = dropdownListGenerator($("#@Field.WBSElementNumber"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AUCVALUE", "@Field.WBSElement", "@Component.OptionLabel");

            initGridActual();
            @*gridActual = $("#gridActual").kendoGrid({
                dataSource: actualds,
                filterable: kendoGridFilterable,
                pageable: {
                    pageSizes: true
                },
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        title: 'Select All',
                        headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                        template: function (dataItem) {
                            //return "<input onClick='selectRow(this)' type='checkbox' id='" + dataItem.ActualCostId + "' class='k-checkbox row-checkbox'><label class='k-checkbox-label' for='" + dataItem.ActualCostId + "'></label>";
                            return "<input type='checkbox' id='" + dataItem.ActualCostId + "' class='k-checkbox row-checkbox fixed-asset'><label class='k-checkbox-label' for='" + dataItem.ActualCostId + "'></label>";
                        },
                        width: "40px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "WBS Element",
                        width: "170px"
                    },
					{
                        field: "@Field.DocNumber",
                        width: "170px",
                        title: "Document Number "
                    },
					{
                        field: "@Field.Balance",
                        width: "170px",
                        title: "Sisa Assset",
                        format: "{0:c2}"
                    },
					{
                        field: "@Field.RefNumber",
                        title: "Ref Document Number",
                        width: "200px",
                    },
                    {
                        field: "@Field.OffsettingAccountType",
                        title: "Offsetting Account Type",
                        width: "200px",
                    },
                    {
                        field: "@Field.DocType",
                        title: "Document Type",
                        width: "150px",
                    },
                    {
                        field: "@Field.ProjectDefinition",
                        title: "Project Definition",
                        width: "160px",
                    },
                    {
                        field: "@Field.CoObjectName",
                        title: "CO Object Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElement",
                        title: "Cost Element",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElementDesc",
                        title: "Cost Element Desc.",
                        width: "270px",
                    },
                    {
                        field: "@Field.FiscalYear",
                        title: "Fiscal Year",
                        width: "120px",
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.PostingDate",
                        title: "Posting Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.CreatedOn",
                        title: "Created On",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.TransactionCurrency",
                        title: "Transaction Currency",
                        width: "150px",
                    },
                    {
                        field: "@Field.ValueTranCurr",
                        title: "Vbl. Value/TranCurr.",
                        width: "170px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ValueCoArea",
                        title: "Val/COArea Crcy",
                        width: "150px",
                        format: "{0:c2}"
                    },
                    {
                        field: "@Field.ValueHardCurr",
                        title: "Val in Hard Curr",
                        width: "150px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.PurchasingDoc",
                        title: "Purchasing Document",
                        width: "170px",
                    },
                    {
                        field: "@Field.TotalQuantity",
                        title: "Total Quantity",
                        width: "150px",
                    },
                    {
                        field: "@Field.Item",
                        title: "Item",
                        width: "250px",
                    },
                    {
                        field: "@Field.PurchaseOrderText",
                        title: "Purchase Order Text",
                        width: "200px",
                    },
                    {
                        field: "@Field.Name",
                        title: "Name",
                        width: "320px",
                    },
                    {
                        field: "@Field.UserName",
                        title: "User Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.Period",
                        title: "Period",
                        width: "120px",
                    }
                ],
            }).data("kendoGrid");
            gridActual.table.on("click", ".row-checkbox", selectRow);

            $('#header-chb').change(function (ev) {
                var checked = ev.target.checked;
                $('.row-checkbox').each(function (idx, item) {
                    if (checked) {
                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                            $(item).click();
                        }
                    } else {
                        if ($(item).closest('tr').is('.k-state-selected')) {
                            $(item).click();
                        }
                    }
                });
            });*@


            function deleteItem(e) {
                e.preventDefault();
                var data = this.dataItem(getDataRowGrid(e));
                goToDeletePage(`@Url.Action(ActionSite.DeleteMappingActualCost)?id=${data.MappingAssetActualCostId}`, this.dataSource);
            }

            function editItem(e) {
                e.preventDefault();
                var data = this.dataItem(getDataRowGrid(e));
                var auc = $("#@Field.WBSElement").data("kendoDropDownList");

                setActualObj(data);

                auc.bind("dataBound", wbsOptionOnDataBound);
                auc.bind("change", wbsOptionOnChange);

                $("#actualEditorModal").modal("show");
            }

            function setActualObj(datasource) {
                var $auc = $("#@Field.WBSElement").data("kendoDropDownList"),
                    $valueIdr = $("#@Field.ValueIdr").data("kendoNumericTextBox");

                $("#@Field.MappingAssetActualCostId").val(datasource.MappingAssetActualCostId);
                $("#@Field.MappingAssetId").val(@Model.MappingAssetId);
                $("#@Field.ActualCostId").val(datasource.ActualCostId);
                $("#@Field.DocNumber").val(datasource.DocNumber);

                //$valueIdr.value(datasource.ValueIdr > 0 ? datasource.ValueIdr : 0);
                $valueIdr.value(datasource.Balance);

                if (datasource.WBSElement != null && datasource.WBSElement != "") {
                    var $auc = $("#@Field.WBSElement").data("kendoDropDownList");
                    $auc.value(datasource.WBSElement)
                } else {
                    $auc.select(0);
                }
                $auc.dataSource.read();

            }

            grid = $("#grid").kendoGrid({
                dataSource: actualMappingds,
                filterable: kendoGridFilterable,
                dataBound: onDataBoundWrapper,
                pageable: {
                    pageSizes: true
                },
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        title: 'Select All',
                        headerTemplate: "<input type='checkbox' id='header-chd' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chd'></label>",
                        template: function (dataItem) {
                                    @*if ("@deleteAct" == "true") {*@
                            return "<input @hidden onClick='deleteRow(this)' type='checkbox' id='" + dataItem.ActualCostId + "' class='k-checkbox row-checkbox actual'><label class='k-checkbox-label' for='" + dataItem.ActualCostId + "'></label>";
                            //} else {
                            //    return "";
                            //}
                        },
                        width: "40px",
                        hidden: "@hidden"
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit Biaya" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            //{
                            //    name: "deleted",
                            //    text: "deleted",
                            //    click: deleteItem,
                            //    imageClass: "glyphicon glyphicon-trash",
                            //    template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            //}
                        ],
                        width: "40px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "AUC",
                        width: "170px"
                    },
					{
                        field: "@Field.DocNumber",
                        width: "170px",
                        title: "Realisasi "
                    },
                    {
                        field: "@Field.Balance",
                        width: "170px",
                        title: "Sisa Realisasi",
                        format: "{0:c2}"
                    },
					{
                        field: "@Field.ValueIdr",
                        width: "170px",
                        title: "Value IDR",
                        format: "{0:c2}",
                        aggregates: ["sum"],
                        footerTemplate: "Total IDR: #= kendo.toString(sum, 'n2')#"
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "200px",
                        format: "{0:n2}",
                        footerTemplate: "Total USD: #= kendo.toString(sum, 'n2')#"
                    }
                ],
            }).data("kendoGrid");

            $('#header-chd').change(function (ev) {
                var checked = ev.target.checked;
                $('.actual').each(function (idx, item) {
                    if (checked) {
                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                            $(item).click();
                        }
                    } else {
                        if ($(item).closest('tr').is('.k-state-selected')) {
                            $(item).click();
                        }
                    }

                    if (tempDel.length > 0) {
                        $("#btnRemoveActual").show();
                    } else {
                        $("#btnRemoveActual").hide();
                    }
                });
            });
        }

        // Add realisasi to asset
        $("#addActual").click(function (e) {
            var checked = [];
            var $auc = $("#@Field.WBSElementNumber").data("kendoDropDownList"),
                $amount = $("#@Field.SelectedFixedAsset").data("kendoNumericTextBox"),
                tempWbs, wbs;

            if ($("#@Field.DocumentNumber").val() !== "") {
                if ($auc.text() !== "@Component.OptionLabel") {
                    tempWbs = $auc.text().replace(' - ', '/');
                    wbs = tempWbs.substr(0, tempWbs.lastIndexOf('/'));

                    for (var i = 0; i < checkedFAs.length; i++) {
                        if (checkedFAs[i].isChecked === true) {
                            checked.push({
                                '@Field.MappingAssetId': '@Model.MappingAssetId',
                                '@Field.ActualCostId': checkedFAs[i].actualCostId,
                                '@Field.WBSElement': wbs,
                                '@Field.Balance': checkedFAs[i].balance
                            });
                        }
                    }

                    $.ajax({
                        type: "@DataSource.Type.Post",
                        url: '@Url.Action(ActionSite.AddActual)',
                        data: { model: checked, auc: $auc.value() },
                        success: function (result) {
                            if (result.Success) {
                                actualMappingds.read();
                            }
                        }
                    });

                    $('#actualModal').modal('hide');
                }
            } else {
                swal("Warning", "Belum ada realisasi yang dipilih.", "warning");
            }

            @*for (var i in checkedIds) {
                if (checkedIds[i]) {
                    checked.push({
                        '@Field.MappingAssetId': '@Model.MappingAssetId',
                        '@Field.ActualCostId' : i
                    });
                }
            }*@
        })

        $("#btnRemoveActual").click(function () {
            if (tempDel.length > 0) {
                swal(
                    {
                        title: "Hapus Data",
                        text: "Apakah anda yakin untuk menghapus data ini?",
                        type: "warning",
                        cancelButtonText: "Batal",
                        showCancelButton: true,
                        confirmButtonClass: "btn btn-primary",
                        confirmButtonText: "Ya",
                        closeOnConfirm: false
                    },
                    function () {
                        swal({
                            title: "Loading",
                            text: "Harap Menunggu...",
                            imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                            closeOnConfirm: false,
                            confirmButtonClass: "hidden",
                            //imageSize: "80x80"
                        });

                        $.ajax({
                            type: "@DataSource.Type.Post",
                            url: '@Url.Action(ActionSite.DeleteMappingActualCost)',
                            data: { id: tempDel },
                            success: function (result) {
                                if (result.Success) {
                                    actualMappingds.read();
                                    tempDel = [];
                                    $("#header-chd")[0].checked = false;
                                    $("#btnRemoveActual").hide();
                                    swal("Status", "Data berhasil dihapus", "success");
                                } else {
                                    swal("INFO", result.Message);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Server Error. Harap hubungi administrator");
                            }
                        });

                        if (tempDel.length > 0) {
                            $("#btnRemoveActual").show();
                        } else {
                            $("#btnRemoveActual").hide();
                        }
                    });
            }
        })

        $("#btnAddActual").click(function () {
            var aucOption = $("#@Field.WBSElementNumber").data("kendoDropDownList");

            checkedIds = [];
            checkedFAs = [];
            selBalances = [];
            actualds.read();
            $("#header-chb")[0].checked = false;

            $("#info-auc").hide();
            aucOption.value("");
            aucOption.dataSource.read();

            $("#empty-auc").show();
            $("#@Field.DocumentNumber").val("");
            $("#@Field.SelectedFixedAsset").data("kendoNumericTextBox").value(0);

            $("#addActual").attr("disabled", "disabled");
            aucOption.bind("change", aucOptionOnChange);
        })

        $("form.form-horizontal").submit(function (e) {
            e.preventDefault();

            data = {
                '@Field.MappingAssetActualCostId': $("#@Field.MappingAssetActualCostId").val(),
                '@Field.MappingAssetId': '@Model.MappingAssetId',
                '@Field.ActualCostId': $("#@Field.ActualCostId").val(),
                '@Field.ValueIdr': $("#@Field.ValueIdr").val(),
                '@Field.WBSElement': $("#@Field.WBSElement").val(),
            };

            $.ajax({
                type: "@DataSource.Type.Post",
                url: '@Url.Action(ActionSite.EditActual)',
                data: { model: data },
                success: function (result) {
                    if (result.Success) {
                        actualMappingds.read();
                        $('#actualEditorModal').modal('hide');
                    } else {
                        swal("INFO", result.Message);
                    }
                }
            });
        })

        function onDataBoundWrapper(e) {
            onDataBound("grid", false, [ "@StatusAsset.DRAFT", "@StatusAsset.REJECT_BY_FINANCE"], e, "@Field.Status");
        }

        function removeArray(array, item) {
            var index = array.indexOf(item);
            if (index > -1) {
                array.splice(index, 1);
            }
        }
</script>
}

