@model WebUI.Models.MappingPresentationStub
@{
    ViewBag.Title = TitleSite.MappingFA;
    var currentController = (WebUI.Controllers.MappingController)ViewContext.Controller;
    string urlCreateAsset = string.Format("{0}?id={1}", Url.Action(ActionSite.CreateFA), Model.MappingId);

    string attribute = "", hidden = "";
    if ((StatusAsset.DRAFT.ToString() != Model.Status) && (StatusAsset.REJECT_BY_FINANCE.ToString() != Model.Status))
    {
        //attribute = "Status mapping sedang menunggu persetujuan / sudah selesai";
        hidden = "hidden";
    }
}

@Html.Raw(currentController.GetMessage())

<div class="wrapper wrapper-content">
    <div class="alert alert-info">
        <strong>Mapping Fix Asset untuk <br> @Html.Raw(Model.Description)</strong>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a title="" href="@urlCreateAsset" class="btn btn-default @hidden">Create Fixed Asset</a>
                        <a title="" id="btnSendFinance" href="" class="btn btn-primary @hidden">Send To Finance</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<script id="photo-template" type="text/x-kendo-template">
    <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(`@Url.Action(ActionSite.Delete, ControllerSite.Asset)?id=${data.id}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}&AssetId={2}", "@Url.Action(ActionSite.EditFA)", data.MappingId, data.id);
        }

        function initElement() {
            $("#reviseModal").modal();
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingMappingAsset)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            options.args = '@Model.MappingId';

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.AssetId",
                        fields: {
							"@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
							"@Field.Description": { type: "@DataSource.Schema.Type.String" },
							"@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" }
            });

           var grid =  $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                resizable: true,
                dataBound: onDataBoundWrapper,
                detailInit: detailInit,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "70px"
                    },
                    {
                        field: "@Field.Photo",
                        title: "Asset Photo",
                        width: "70px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "170px",
                        title: "Value IDR",
                        format: "{0:c2}",
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "200px",
                        format: "{0:n2}",
                    },
                    {
                        field: "@Field.SubNumber",
                        title: "Fixed Asset Sub Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "350px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "170px",
                    },
                ],
            }).data("kendoGrid");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");
                grid.showColumn(0);
            }
            else {
                $(".ibox-title").addClass("hide");
                grid.hideColumn(0);
            }


            //detail init

            function generateDs(e) {
                var actualMappingds = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingMappingAssetActualCost)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (var i in filters) {
                                        var filter = filters[i];                                        
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (var i in sorts) {
                                        var sort = sorts[i];                                        
                                    }
                                }

                                //options.args = '@Model'

                                return options;
                            }
                        }
                    },
			        schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.MappingAssetActualCostId",
                            fields: {
                                "@Field.MappingAssetActualCostId": { type: "@DataSource.Schema.Type.Number" },
						        "@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                                "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            }
                        }
                    },
                    aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                                { field: "@Field.ValueUsd", aggregate: "sum" }],
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.MappingAssetActualCostId", dir: "@SortOrder.Descending.ToDescription()" },
                    filter: { field: "@Field.MappingAssetId", operator: "eq", value: e.data.MappingAssetId }
                });

                return actualMappingds;
            }

            function detailInit(e) {
                $("<div/>").appendTo(e.detailCell).kendoGrid({
                    dataSource: generateDs(e),
                    filterable: kendoGridFilterable,
                    pageable: {
                        pageSizes: true
                    },
                    sortable: true,
                    noRecords: {
                        template: "Data Tidak Tersedia"
                    },
                    columns: [
                        {
                            field: "@Field.WBSElement",
                            title: "WBS Element",
                            width: "170px"
                        },
                        {
                            field: "@Field.AucNumber",
                            title: "AUC Number",
                            width: "170px"
                        },
					    {
                            field: "@Field.DocNumber",
                            width: "170px",
                            title: "Realisasi "
                        },
                        {
                            field: "@Field.Balance",
                            width: "170px",
                            title: "Sisa Realisasi",
                            format: "{0:c2}"
                        },
					    {
                            field: "@Field.ValueIdr",
                            width: "200px",
                            title: "Value IDR",
                            format: "{0:c2}",
                            aggregates: ["sum"],
                            footerTemplate: "Total IDR: #= kendo.toString(sum, 'n2')#"
                        },
					    {
                            field: "@Field.ValueUsd",
                            title: "Value USD",
                            width: "200px",
                            format: "{0:n2}",
                            footerTemplate: "Total USD: #= kendo.toString(sum, 'n2')#"
                        }
                    ],
                });
            }
        }

        $("#btnSendFinance").click(function (e) {
            e.preventDefault();

            var object = {
                "@Field.MappingId": "@Model.MappingId"
            }

            $.ajax({
                type: "@DataSource.Type.Post",
                url: '@Url.Action(ActionSite.SendToFinance)',
                data: { model: object },
                success: function (result) {
                    if (result.Success) {
                        window.location.href = "@Url.Action("Index")";
                    } else {
                        swal("ERR", result.Message);
                    }
                }
            });
        })

        function onDataBoundWrapper(e) {
            onDataBound("grid", true, ["@StatusAsset.DRAFT", "@StatusAsset.REJECT_BY_FINANCE"], e, "@Field.StatusMapping");
        }
    </script>
}

