@model WebUI.Models.MappingFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Mapping);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", TitleSite.Mapping, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="alert alert-info">
            <strong>Info!</strong> Submit Date secara otomatis terisi tanggal dan jam dibuat dan tidak bisa diedit.
        </div>
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.MappingId);

                <div class="form-group">
                    @Html.LabelFor(model => model.SubmitDate, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.SubmitDate, new { @class = "form-control form-control-datetimepicker", @readonly = "readonly", @value = DateTime.Now })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control-editor always-validate" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PlantId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.PlantId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlantId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Next</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            initElement();
        });

        function initElement() {
            var element = $("#PlantId");

            $("#PlantId").kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "PlantId",
                optionLabel: "@Component.OptionLabel",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "@Url.Action("BindingPlant", "TCR")",
                        },
                    },
                    schema: {
                        model: {
                            id: "PlantId",
                            fields: {
                                "PlantId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            }
                        }
                    },
                }
            }).data("kendoDropDownList");
        }
    </script>
}

