﻿@{
    ViewBag.Title = TitleSite.Mapping;
    var currentController = (WebUI.Controllers.MappingController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Create Mapping</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data);
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.MappingId}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function mappingItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.MappingFA)", data.id);
        }

        function typeStatus(element) {
            dropdownListGenerator(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.STATUSASSET", "@Field.Text", "@Component.OptionLabel", false);
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field == "@Field.StatusPretify") {
                                        filter.field = "Status";
                                    }
                                    else if (filter.field == "@Field.Code") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Plant, Field.Code)";
                                    }
                                    else if (filter.field == "@Field.Name") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Plant, Field.Name)";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field == "@Field.StatusPretify") {
                                        sort.field = "Status";
                                    }
                                    if (sort.field == "@Field.Code") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Plant, Field.Code)";
                                    }
                                    if (sort.field == "@Field.Name") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Plant, Field.Name)";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.MappingId",
                        fields: {
                            "@Field.MappingId": { type: "@DataSource.Schema.Type.Number" }, 
                            "@Field.PlantId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SubmitDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.MappingId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                dataBound: onDataBoundWrapper,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>',
                                 visible: function (dataItem) {
                                    return "@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true";
                                } 
                            },
                            {
                                name: "mapping",
                                text: "mapping",
                                click: mappingItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: '<a title="Mapping Asset" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>',
                                visible: function (dataItem) {
                                    return "@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true";
                                } 
                            }
                        ],
                        width: "90px"                        
                    },
                    {
                        field: "@Field.SubmitDate",
                        title: "Mapping Date",
                        width: "170px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.Description",
                        title: "Keterangan",
                        width: "250px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Code",
                        title: "Plant Code",
                        width: "250px",                        
                    },
                    {
                        field: "@Field.Name",
                        title: "Plant Name",
                        width: "250px",                        
                    },
                    {
                        field: "@Field.StatusPretify",
                        title: "Status",
                        template: "#if(Status == \"REJECT_BY_FINANCE\"){# <div style=\"margin-left:5px\";> <i class=\"fa fa-warning\" style=\"color:\\#bea926;\"></i> #=StatusPretify#</span> #}else{# #=StatusPretify# #}#",
                        width: "150px",
                        filterable: dropDownListFilterable(typeStatus),
                    }
                ],
            }).data("kendoGrid");

            var status = "";
            $("#grid").kendoTooltip({
                filter: "td:nth-child(4) div",
                position: "left",
                width: 180,
                show: function (e) {
                    if (status != "@StatusAsset.REJECT_BY_FINANCE.ToString()") {
                        this.content.parent().css("visibility", "hidden");
                    } else {
                        this.content.parent().css("visibility", "visible");
                    }
                },
                hide: function (e) {
                    this.content.parent().css("visibility", "hidden");
                },
                content: function (e) {
                    var dataItem = $("#grid").data("kendoGrid").dataItem(e.target.closest("tr"));
                    status = dataItem.Status;
                    var content = dataItem.Notes;
                    return content;
                }
            }).data("kendoTooltip");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");                
            }
            else {
                $(".ibox-title").addClass("hide");                
            }

            function onDataBoundWrapper(e) {
                onDataBound("grid", false, ["@StatusAsset.DRAFT", "@StatusAsset.REJECT_BY_FINANCE"], e, "@Field.Status");
            }
        }
</script>
}

