﻿@using WebUI.Models;
@model MappingFormStub

@{
    ViewBag.Title = TitleSite.Mapping;
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
@using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change" }))
{
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12">
                    <div id="gridFA"></div>
                </div>
            </div>
            <div class="row  m-t-lg">
                <div class="col-xs-12">
                    <div id="gridAUC"></div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(Field.MappingDescription.ToDescription(), new { @class = "col-xs-2 control-label text-left" })
                <div class="col-xs-10">
                    @Html.TextArea(Field.Description.ToString(), new { @class = "form-control" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="@Url.Action(ActionSite.Index)" onClick="localStorage.clear();" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
</div>

<div id="upload-info" hidden>
    <div>
        <ul class="small">
            <li>Max File Size. 10 MB</li>
            <li>File Type Allow .jpg/.jpeg, .png</li>
            <li>Recomended Ratio of Image 1:1 px</li>
        </ul>
    </div>
</div>

<style>
    div.k-edit-form-container {
        width: 600px;
    }
</style>

@section scripts
{
@Scripts.Render("~/apps/mapping/asset")
@Scripts.Render("~/apps/mapping/auc")

<script type="text/javascript">
    $(function () {
        initElement();
    });

    function lookupValue(e) {
        //kamus
        var dataItem = this.dataItem(e.item);
        var $actual = $("input[name='@Field.ValueCoArea']").data("kendoNumericTextBox");
        var $currency = $("input[name='@Field.TransactionCurrency']");

        //algoritma
        $.ajax({
            async: false,
            type: "@DataSource.Type.Post",
            url: "@Url.Action(ActionSite.GetValueActualCost, ControllerSite.Mapping)",
            data: { "id": dataItem.Value }
        }).done(function (data) {
            if (data.ValueCoArea != null && data.TransactionCurrency != null) {
                $actual.setOptions({ format: "##,#", decimals: 2 });
                $actual.value(data.ValueCoArea);
                $currency.val(data.TransactionCurrency);
            }

        });
    }

    function initElement() {

        //main grid - grid-fa
        function subNumberOptionWrapper(element) {
            optionData(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.SUBNUMBER", "@Field.SubNumber", "@Component.OptionLabel");
        }

        function editorSubNumberWrapper(container, options) {
            editor(container, options, "@Url.Action(ActionSite.BindingOption)", "@OptionType.SUBNUMBER", "@Field.SubNumber", "@Component.OptionLabel");
        }

        function locationOptionWrapper(element) {
            optionData(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.LOCATION", "@Field.Name", "@Component.OptionLabel");
        }

        function editorLocationWrapper(container, options) {
            editor(container, options, "@Url.Action(ActionSite.BindingOption)", "@OptionType.LOCATION", "@Field.Name", "@Component.OptionLabel");
        }

        function uploadEditorWrapper(container, options) {
            uploadForm(container, options, "@Url.Content("~/Images/no_image.jpg")", '@Url.Action("Save", "FileManagement", new {Area = "" })', '@Url.Action("Remove", "FileManagement", new {Area = "" })');
        }

        function setDatasource() {
            if (FAds == null) {
                FAds = new kendo.data.DataSource({
                    offlineStorage: _FASTORAGE_,
                    schema: {
                        model: {
                            id: "@Field.AssetIdOffline",
                            fields: {
                                "@Field.LocationId": { type: "number", validation: { required: true } },
                                "@Field.AssetNumber": { type: "string", validation: { required: true } },
                                "@Field.SubNumber": { type: "string", validation: { required: true } }, //0, 1
                                "@Field.Description": { type: "string", validation: { required: true } },
                                "@Field.ValueIdr": { type: "number", validation: { required: true } },
                                "@Field.ValueUsd": { type: "number", validation: { required: true } },
                                "@Field.Location": { type: "string", validation: { required: true } },
                                "@Field.Photo": { type: "string", validation: { required: true } },
                            }
                        }
                    },
                    aggregate: [
                        { field: "AssetIdOffline", aggregate: "max" },
                    ],
                    pageSize: 20,
                });
                FAds.online(false);
            }

            return FAds;
        }

        function editWrapper(e) {
            //kamus
            var location = e.container.find("input[name='@Field.Location']").data("kendoDropDownList");

            //algoritma
            hideEditor(e, "label[for='@Field.ValueIdr']");
            hideEditor(e, "label[for='@Field.ValueUsd']");
            edit(e, this.dataSource);
            if (e.model.isNew()) {

            } else {
                console.log(e.model);
                location.value(e.model.LocationId);
            }
        }

        $gridFA.kendoGrid({
            toolbar: [{ name: "create", text: "Tambah Asset" }],
            dataSource: setDatasource(),
            filterable: kendoGridFilterable,
            detailInit: detailInit,
            pageable: true,
            sortable: true,
            resizable: true,
            scrollable: true,
            editable: "popup",
            noRecords: {
                template: "Data Tidak Tersedia"
            },
            edit: editWrapper,
            save: function (e) {
                //kamus
                var $urlPhoto = e.container.find("input[name='@Field.Photo']"),
                    location = e.container.find("input[name='@Field.Location']").data("kendoDropDownList"),
                    locationValue = location.value(),
                    locationText = location.text()

                //algoritma
                e.model.set('@Field.Photo', APP_ADDRESS + ($urlPhoto.val()).substring(2));
                e.model.set('@Field.Location', locationText);
                e.model.set('@Field.LocationId', locationValue);
            },
            columns: [
                {
                    command: [
                        {
                            name: "edit",
                            text: "edit",
                            imageClass: "glyphicon glyphicon-edit",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "deleted",
                            text: "deleted",
                            click: deleteItem,
                            imageClass: "glyphicon glyphicon-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "70px"
                },
                {
                    field: "@Field.AssetNumber",
                    title: "Fix Asset Number",
                    width: "170px"
                },
                {
                    field: "@Field.SubNumber",
                    title: "Fix Asset Sub Num.",
                    width: "150px",
                    filterable: {
                        ui: subNumberOptionWrapper,
                        operators: {
                            string: {
                                eq: "Sama Dengan"
                            }
                        },
                        extra: false
                    },
                    editor: editorSubNumberWrapper,
                },
                {
                    field: "@Field.Description",
                    title: "Fix Asset Desc.",
                    width: "250px",
                    editor: contentEditor,
                    template: "#=@Field.Description#",
                },
                {
                    field: "@Field.ValueIdr",
                    title: "Value (IDR).",
                    width: "150px",
                    format: "{0:n2}"
                },
                {
                    field: "@Field.ValueUsd",
                    title: "Value (USD).",
                    width: "150px",
                    format: "{0:n2}"
                },
                {
                    field: "@Field.Location",
                    title: "Lokasi",
                    width: "150px",
                    filterable: {
                        ui: locationOptionWrapper,
                        operators: {
                            string: {
                                eq: "Sama Dengan"
                            }
                        },
                        extra: false
                    },
                    editor: editorLocationWrapper,
                },
                {
                    field: "@Field.Photo",
                    title: "Asset Photo",
                    width: "150px",
                    editor: uploadEditorWrapper,
                    template: "<div class=\"thumbnail\" style=\"margin: auto;\"><img class=\"center-cropped\" src=\"#=@Field.Photo#\"/></div>",
                    attributes: {
                        "class": "center-cell"
                    },
                    filterable: false,
                    sortable: false,
                }
            ],
        });

        //child grid
        function AUCOptionWrapper(element) {
            optionData(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.AUC", "@Field.WBSElement", "@Component.OptionLabel");
        }

        function editorAUCWrapper(container, options) {
            editor(container, options, "@Url.Action(ActionSite.BindingOption)", "@OptionType.AUC", "@Field.WBSElement", "@Component.OptionLabel");
        }

        function ActualOptionWrapper(element) {
            optionData(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.ACTUAL", "@Field.DocNumber", "@Component.OptionLabel");
        }

        function editorActualWrapper(container, options) {
            editor(container, options, "@Url.Action(ActionSite.BindingOption)", "@OptionType.ACTUAL", "@Field.DocNumber", "@Component.OptionLabel");
        }

        function editWrapperAUC(e) {
            //kamus
            //var numeric = e.container.find("input[name='@Field.ValueCoArea']").data("kendoNumericTextBox");
            var auc = e.container.find("input[name='@Field.WBSElement']").data("kendoDropDownList"),
                actual = e.container.find("input[name='@Field.DocNumber']").data("kendoDropDownList"),
                parentData = $gridFA.data("kendoGrid").dataItem(e.sender.element.closest("tr").prev());

            //algoritma
            editAUC(e, this.dataSource, parentData);
            hideEditor(e, "label[for='@Field.ValueUsd']");

            if (e.model.isNew()) {
                e.model.set('@Field.AssetId', parentData.AssetIdOffline);
            }
            else {
                auc.value(e.model.Iterator);
                actual.value(e.model.ActualCostId);
            }
            e.model.set('@Field.Description', `${parentData.AssetNumber}-${parentData.Description}`);
        }

        function saveWrapperAUC(e) {
            //kamus
            var auc = e.container.find("input[name='@Field.WBSElement']").data("kendoDropDownList"),
                actual = e.container.find("input[name='@Field.DocNumber']").data("kendoDropDownList"),
                parentData = $gridFA.data("kendoGrid").dataItem(e.sender.element.closest("tr").prev()),
                valueIdr = e.container.find("input[name='@Field.ValueIdr']").data("kendoNumericTextBox"),
                aucValue = auc.value(),
                actualValue = actual.value(),
                aucText = auc.text(),
                actualText = actual.text();

            //algoritma
            e.model.set('@Field.ActualCostId', actualValue);
            e.model.set('@Field.DocNumber', actualText);
            e.model.set('@Field.Iterator', aucValue);
            e.model.set('@Field.WBSElement', aucText);
            e.model.set('@Field.ValueUsd', valueIdr.value() / 14500);

            this.dataSource.sync();

            calculateValueFA(_AUCSTORAGE_.concat(parentData.AssetIdOffline), "@Field.ValueIdr", "@Field.ValueUsd",
                FAds, parentData.uid);
            
        }

        function setChildDatasource(e, storage) {
            var ds = new kendo.data.DataSource({
                offlineStorage: storage,
                schema: {
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.AssetId": { type: "number", validation: { required: true } },
                            "@Field.ActualCostId": { type: "number", validation: { required: true } },
                            "@Field.Iterator": { type: "number", validation: { required: true } },
                            "@Field.WBSElement": { type: "string", validation: { required: true } },
                            "@Field.DocNumber": { type: "string", validation: { required: true } },
                            "@Field.ValueIdr": { type: "number", validation: { required: true }},
                            "@Field.ValueUsd": { type: "number" }
                        }
                    }
                },
                aggregate: [
                    { field: "Id", aggregate: "max" },
                ],
                pageSize: 20,
                filter: { field: "AssetId", operator: "eq", value: e.data.AssetIdOffline }
            });

            ds.online(false);
            return ds;
        }

        function detailInit(el) {
            var storage = _AUCSTORAGE_.concat(el.data.AssetIdOffline);
            $("<div/>").appendTo(el.detailCell).kendoGrid({
                toolbar: [{ name: "create", text: "Tambah AUC" }],
                dataSource: setChildDatasource(el, storage),
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                resizable: true,
                scrollable: true,
                editable: "popup",
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                edit: editWrapperAUC,
                save: saveWrapperAUC,
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "deletedChild",
                                text: "deleted",
                                click: deleteItemChild,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "35px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "AUC",
                        width: "170px",
                        filterable: {
                            ui: AUCOptionWrapper,
                            operators: {
                                string: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        },
                        editor: editorAUCWrapper,
                    },
                    {
                        field: "@Field.DocNumber",
                        title: "Realisasi",
                        width: "150px",
                        filterable: {
                            ui: ActualOptionWrapper,
                            operators: {
                                string: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        },
                        editor: editorActualWrapper,
                    },
                    {
                        field: "@Field.ValueIdr",
                        title: "Value (IDR)",
                        width: "130px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ValueUsd",
                        title: "Value (USD)",
                        width: "130px",
                        format: "{0:n2}"
                    }
                ],
            });
        }
    }
</script>
}

