.modal-dialog {
	width: 1000px;
}

.control-label.left {
	text-align: left;
	font-weight: bold;
}

.task-status {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	position: absolute;
	left: 15px;
	top: 10px;
}

	.task-status.bad {
		background-color: red;
	}

	.task-status.good {
		background-color: green;
	}

.map-info .center-cropped {
	object-fit: cover;
	object-position: center;
	width: 100%;
	width: 78px;
}

.map-info .row {
	margin: 0 -5px;
}

	.map-info .row > div {
		padding: 0 5px;
		height: 78px;
	}

	.map-info .row > .text {
		line-height: 17px;
		overflow: hidden;
	}

	.map-info .row .tag-number {
		color: #4b5056;
	}

	.map-info .row .equipment-name {
		font-weight: bold;
		color: #4b5056;
	}

	.map-info .row .task-progress,
	.map-info .row .task-total {
		position: relative;
		color: #878787;
	}

		.map-info .row .task-progress .progress-value {
			margin-left: 20px;
		}

	.map-info .row .task-status {
		height: 15px;
		width: 15px;
		border-radius: 15px;
		position: absolute;
		left: 0;
		top: 2px;
	}

.tab-content {
	min-height: 250px;
}

.apply {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.txtsearch {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 505px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    height: 40px;
    margin-top: 10px;
}

    .txtsearch:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;
        width: 506px;
    }

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }  