﻿/* 1. form, link & button */
.form-horizontal.form-display .form-group {
    margin-bottom: 0; 
}

.form-horizontal.form-display .form-control-static {
    min-height: 0; 
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected,
.k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-button:active, .k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, 
.k-scheduler .k-scheduler-toolbar .k-state-selected, .k-marquee-color {
    color: #2e2e2e; 
}

.form-control-datetimepicker {
    height: 32px !important;
}

.form-control-autocomplete {
    margin-bottom: 5px;
    width: 360px;
}
/*.form-horizontal .control-label { text-align: left; }*/
.control-text {
    font-weight: normal;
}
/*.form-group { margin-bottom: 10px; }*/
.ui-datepicker {
    font-size: 0.9em;
}

.form-control-datetimepicker[readonly] {
    background-color: transparent;
    cursor: pointer;
}

/*.form-inline-action { display: block; padding-top: 7px; vertical-align: middle; margin-left: -52px; }*/
.date-input {
    position: relative;
}

.date-input .action-group {
    position: absolute;
    right: 21px;
    top: 7px;
}

.form-inline .form-control-datetimepicker {
    height: 32px !important;
    width: 120px;
}

.form-horizontal.text-left label {
    text-align: left;
}

.form-horizontal .text-left {
    text-align: left;
}

.input-validation-error {
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field-validation-error {
    color: #ff0000;
}

.form-horizontal .k-numerictextbox, .form-horizontal .k-datepicker, .form-horizontal .k-autocomplete,
.form-horizontal .k-combobox, .form-horizontal .k-dropdown, .form-horizontal .k-datetimepicker {
    width: 100%;
}

.form-horizontal .k-editor {
    height: auto;
}

.form-horizontal .k-editor .k-content {
    height: 120px !important;
}

textarea {
    resize: none;
}

/*      kendo image uploader */
.image-preview img {
    max-width: 100%;
}

/*      tooltip */
form .tooltip {
    z-index: 1;
}

form .tooltip .tooltip-inner {
    max-width: none;
}

/* 2. header */
/*      breadcrumb */
.breadcrumb {
    padding: 0;
    border: none;
    font-size: 0;
    margin-bottom: 10px;
}

.breadcrumb li {
    color: #337ab7;
    font-size: 13px;
}

.breadcrumb > li + li::before {
    content: "/";
}

/*      alert */
/*.alert {
    margin: 20px 10px 0;
}*/

/* 3. content */
.page-header {
    margin-top: 20px;
}

/*#grid .k-grid-content {
    min-height: 300px;
}*/

.no-gutter-left {
    padding-left: 0;
}

.no-gutter-bottom {
    padding-bottom: 0;
}

.gutter-left {
    padding-left: 15px;
}

.gutter-right {
    padding-right: 15px;
}

.full-width {
    width: 100%
}

.half-width {
    width: 50%
}

/* 4. footer */
.footer {
    text-align: center;
}

/* 5. misc */
/*      override bootstrap */
.table-no-bottom {
    margin-bottom: 0;
}

.panel {
    border-radius: 0;
}

.panel-heading-action .panel-title {
    padding-top: 7.5px;
}

.table thead th {
    text-align: center;
}

.table .has-feedback .form-control-feedback {
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/*      override kendo */
.k-grid .k-grid-header table > thead > tr > th > .k-link {
    font-weight: 600;
    color: #337ab7;
}

.k-grid .k-grid-header table > thead > tr > th,
.k-grid .k-grid-header table > thead > tr > th > .k-link:hover {
    font-weight: 600;
    color: #23527c;
}

.k-grid .k-grid-content > table > tbody > tr > td.command {
    text-align: center;
}

.k-picker-wrap .k-input {
    padding: 0;
}

.k-grouping-header, .k-grid-toolbar {
    padding: .5em;
}

.panel-heading-with-button h3 {
    padding-top: 7.5px;
}

.k-grid, .k-scheduler, .k-menu, .k-editor {
    border-radius: 0;
}

.k-popup .k-calendar {
    font-size: 13px !important;
}

.k-ff {
    overflow: inherit !important;
}

.k-filter-menu {
    font-weight: normal !important;
    width: 190px;
}

.k-filter-menu .k-header,
.k-filter-menu .k-numerictextbox {
    width: 100%;
}

.k-filter-menu .k-button.k-primary {
    background: #1ab394;
    border-color: #009d7e;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    background: #1ab394;
    border-color: #009d7e;
    color: #fff;
}

/*      bootstrap inside kendo window */
.k-window-content .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.k-window-content .col-xs-1, .k-window-content .col-xs-2, .k-window-content .col-xs-3, .k-window-content .col-xs-4, .k-window-content .col-xs-5, .col-sm-5, .k-window-content .col-xs-6, .col-sm-6, .k-window-content .col-xs-7, .col-sm-7, .k-window-content .col-xs-8, .col-sm-8, .k-window-content .col-xs-9, .col-sm-9, .k-window-content .col-xs-10, .col-sm-10, .k-window-content .col-xs-11, .col-sm-11, .k-window-content .col-xs-12, .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.form-group-datetimepicker {
    margin-bottom: 20px;
}

/*      loading animation */
.refresh-animation {
    -moz-animation: spin 5s linear 0s infinite;
    animation: spin 10s linear 0 infinite;
    -webkit-animation: spin 5s linear 0 infinite;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 6. printing */
/* override bootstrap print css */
@media print
{
    a[href]:after { content: ""; }
    @page { size: A4; margin: 0; }
}


/* 7. user management */
#grant-controls {
    margin-top: 56px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: initial;
}

.label-static {
    font-weight: normal;
    padding-top: 7px;
}

.thumbnail-photo {
    width: 50px;
}

.map {
    width: 100%;
    min-height: 550px;
}

.map-form {
    width: 100%;
    min-height:300px;
}

.ImageGallery {
    background: #fff;
    padding: 5px;
    border: #ddd solid 1px;
    height: 352px;
    overflow-y: auto;
}


.thumbnail-form {
    height: 104px;
    width: 100%;
    max-width: 138.717px;
    background: #000;
    border-radius: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
    text-align: center;
    cursor: pointer;
}

.thumbnail-form img {
    height: 100%;
    width: 100%;
}

.qrcode-img {
    border: thin solid black;
    height: 100%;
    width: 100%;
}