@model WebUI.Models.WhitelistFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Whitelist);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);
}

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        @*<div class="ibox-title">
                <h5>Basic form <small>Simple login form example</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>*@
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.WhitelistId)

                <div class="form-group">
                    @Html.LabelFor(model => model.AirportId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.AirportId, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.StartDate, DisplayFormat.JsSqlDateFormat, new { @class = "form-control form-control-datepicker" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.EndDate, DisplayFormat.JsSqlDateFormat, new { @class = "form-control form-control-datepicker" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.CompanyId, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.CompanyId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CrewId, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.CrewId, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.CrewId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section styles
{
    <style>
        span.k-dropdown-wrap.k-state-disabled.k-state-focused {
            color: #a1a1a1;
            box-shadow: none;
            background-color: #f5f5f5;
            border-color: #ccc;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">
        var airportOption,
            companyOption,
            crewOption,
            start,
            end;

        var initState = true,
            editState = "@currentAction.ToLower()" === "@ActionSite.Edit.ToLower()";

        $(function () {
            initElement();
        });

        function initElement() {
            var ds;

            //date picker init from class form-control-datepicker. See Scripts/webapp.js
            start = $("#StartDate").data("kendoDatePicker");
            end = $("#EndDate").data("kendoDatePicker");

            //set max and min value
            start.max(end.value());
            end.min(start.value());

            //bind event change to start and end || this is example named event
            //bind was deprecated in jquery 3.0++. if this not kendo widget replace bind with on method
            start.bind("change", onStartChange);
            end.bind("change", onEndChange);

            //disable date picker on edit event
            if (editState) {
                start.readonly(true);
                end.readonly(true);

                start.element.parent().removeClass("k-state-default");
                start.element.parent().addClass("k-state-disabled");

                end.element.parent().removeClass("k-state-default");
                end.element.parent().addClass("k-state-disabled");

                start.element.on("focus", function (e) {
                    this.blur();
                });

                end.element.on("focus", function (e) {
                    this.blur();
                });
            }

            //init airport option
            ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.AirportId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.AirportName"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.AIRPORT";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String"},
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            airportOption = $("#AirportId").kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()"
            }).data("kendoDropDownList");

            //disable dropdown airport on edit state
            if (editState) {
                airportOption.readonly(true);
                airportOption.element.prev().removeClass("k-state-default");
                airportOption.element.prev().addClass("k-state-disabled");
            }

            //init company option
            ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.CompanyId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.CompanyName"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.COMPANY";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            companyOption = $("#CompanyId").kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()",
                optionLabel: "@Component.OptionLabel",
                dataBound: onCompanyDataBound,
                change: onCompanyChange
            }).data("kendoDropDownList");

            //disable dropdown company on edit state
            if (editState) {
                companyOption.readonly(true);
                companyOption.element.prev().removeClass("k-state-default");
                companyOption.element.prev().addClass("k-state-disabled");
            }

            //init crew option
            ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.CrewId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.CrewName"
                                    }
                                }
                            }
                            options.optionType = "@OptionType.CREW";
                            options.args = [
                                companyOption.value(),
                                kendo.toString(start.value(), "@DisplayFormat.Iso8601DateTimeFormat"),
                                kendo.toString(end.value(), "@DisplayFormat.Iso8601DateTimeFormat"),
                                "@ViewBag.SelectedCrewId"
                            ];

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            crewOption = $("#CrewId").kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()",
                optionLabel: "@Component.OptionLabel"
            }).data("kendoDropDownList");

            //bind onChange event on crew option || this is example anonymous event
            //bind was deprecated in jquery 3.0++. if this not kendo widget replace bind with on method
            crewOption.bind("change", function (e) {
                formValidation();
            });
        }

        function triggerCompanyChange() {
            companyOption.trigger("change");
        }

        function onStartChange(e) {
            var startDate = start.value(),
                endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }

            triggerCompanyChange();
        }

        function onEndChange(e) {
            var endDate = end.value(),
                startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }

            triggerCompanyChange();
        }

        function onCompanyDataBound(e) {
            triggerCompanyChange();
        }

        function onCompanyChange(e) {
            var ds = this.dataSource,
                selectedItem = this.dataItem();

            if (ds.indexOf(selectedItem) !== -1) {
                crewOption.dataSource.read();
                crewOption.enable(true);
            } else {
                crewOption.select(0);
                crewOption.enable(false);
            }

            if (!initState) {
                formValidation();
            }

            initState = false;
        }
    </script>
}
