﻿@model WebUI.Models.SPCRequestAssetFormStub

@{ 
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

@using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "formModal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.SPCRequestId)

    <div class="form-group">
        @Html.LabelFor(model => model.AssetId, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AssetId, new { @class = "form-control always-validate always-validate" })
            @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DocDate, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control always-validate date-picker" })
            @Html.ValidationMessageFor(model => model.DocDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostingDate, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.PostingDate, new { @class = "form-control always-validate date-picker" })
            @Html.ValidationMessageFor(model => model.PostingDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AssetValueDate, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AssetValueDate, new { @class = "form-control always-validate date-picker" })
            @Html.ValidationMessageFor(model => model.AssetValueDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PostingPeriod, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.PostingPeriod, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.PostingPeriod, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TransactionType, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.DropDownListFor(model => model.TransactionType, new SelectList(Model.OptTransactionType, "Value", "Text"), new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AssetTransaction, new { @class = "col-xs-2 control-label" })
        <div class="col-xs-8">
            @Html.DropDownListFor(model => model.AssetTransaction, new SelectList(Model.OptAssetTransaction, "Value", "Text"), new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.AssetTransaction, "", new { @class = "text-danger" })
        </div>
    </div>    
    @*<div class="form-group m-t-lg">
        <div class="col-xs-offset-2 col-xs-10">
            <button id="btnAdd" type="submit" value="true" class="btn btn-primary">Add</button>
            <button id="btnClose" type="button" value="save" class="btn btn-warning">Close</button>            
        </div>
    </div>*@
}