@model WebUI.Models.SPCRequestFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.SPCRequest);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", "SPC Request", TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);

    string attribute = "", disable = "";
    bool canEdit = true;
    if (Model.Status != null && (StatusSPC.DRAFT.ToString() != Model.Status))
    {
        attribute = "Status mapping sedang menunggu persetujuan / sudah selesai";
        disable = "disabled";
        canEdit = false;
    }
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id="main-form" }))
            {
                @Html.HiddenFor(model => model.SPCRequestId);
                @Html.HiddenFor(model => model.SubmitDate);
                @Html.HiddenFor(model => model.TempDel);                
                @Html.HiddenFor(model => model.Status);
                @*@Html.HiddenFor(model => model.OptionsScrapType);*@
                @Html.HiddenFor(model => model.SPCRequestAssets);
                @Html.HiddenFor(model => model.DocABVN);
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ScrapType, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">                                
                                @Html.DropDownListFor(model => model.ScrapType, new SelectList(Model.OptionsScrapType, "Value", "Text"), "--Pilih--", new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.ScrapType)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NoRequestSPC005, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.NoRequestSPC005, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.NoRequestSPC005)
                            </div>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label class="col-xs-2 control-label" for="NoRequestSPC011">
                                No.Request SPC - 011             
                                @*<span style="color:red" class="asterisk"> *</span>*@
                            </label>
                            @*@Html.LabelFor(model => model.NoRequestSPC011, new { @class = "col-xs-2 control-label" })*@
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.NoRequestSPC011, new { @class = "form-control always-validate", @data_val_required = "No.Request SPC - 011 wajib diisi." })
                                @Html.ValidationMessageFor(model => model.NoRequestSPC011)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PlantId, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.PlantId, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.PlantId)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CostCenter, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.CostCenter)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AcquisitionType, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.DropDownListFor(model => model.AcquisitionType, new SelectList(Model.OptAcquisitionType, "Value", "Text"), "--Pilih--", new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.AcquisitionType)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Doc, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-1">
                                @Html.CheckBoxFor(model => model.Doc , new { @class = "form-control-static always-validate" })
                                @Html.ValidationMessageFor(model => model.Doc)
                            </div>
                        </div>                     

                        <div class="form-group">
                            @Html.LabelFor(model => model.PreparedBy, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.DisplayFor(model => model.PreparedBy, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PreparedBy)
                            </div>
                        </div>                       

                        <div class="form-group">
                            @Html.LabelFor(model => model.LegalRequestor, new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.LegalRequestor, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.LegalRequestor)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">Asset<span style="color:red" class="asterisk"> *</span></label>
                            @*@Html.LabelFor(model => model.SPCRequestAssets, new { @class = "col-xs-2 control-label" })*@
                                                       
                            <div class="col-xs-4">
                                @*<a id="add-asset" title="@attribute" class="btn btn-default" data-toggle="modal" data-target="#my-modal">Tambah Asset</a>*@ 
                                <button title="@attribute" @disable id="add-asset" type="button" class="btn btn-success">Tambah Asset</button>
                            </div>
                        </div>   
                        <div class="form-group">                            
                            <div class="col-xs-offset-2 col-xs-10">                                
                                <div id="grid"></div>   
                                <span id="asset-error"><span class="text-danger">Asset wajib diisi.</span></span>
                            </div>
                        </div>   
                        
                        <div class="form-group m-t-lg">
                            <div class="col-xs-offset-2 col-xs-4">
                                <button id="save-request" title="@attribute" @disable type="submit" value="save" class="btn btn-primary">Simpan</button>
                                @*<button title="@attribute" @disable id="btnApprove" type="button" value="true" class="btn btn-primary">Kirim Untuk Approval</button>*@
                                <a href="@backLink" class="btn btn-link">Batal</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            }            
            </div>
        </div>
    </div>

  <!-- Modal Form -->
<div id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:80%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Batal</button>
                <button id="btnSave" type="button" class="btn btn-primary">Tambah</button>
            </div>
        </div>
    </div>
</div>  

<script id="photo-template" type="text/x-kendo-template">
    <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>  

@section scripts
{
<script type="text/javascript">
    var ds = @Html.Raw(Model.SPCRequestAssets !=null? Model.SPCRequestAssets : "[]");
    var tempDel = [];
    var tempDelOptions = {};
    var tempDsOptions = [];
    var rowData = "";
    if (ds == "") {
        ds = [];
    }

    $(function () {
        initElement();
    })

    function initElement() {
        $("#asset-error").hide();
        var scrapVal = $("#ScrapType").val();
        
        if (scrapVal != "") {
            if (scrapVal == "@ScrapType.CAPITALIZATION.ToString()") {
                $("#NoRequestSPC011").parent().parent().show();
            }
        }

        $("#PlantId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "PlantId",
            optionLabel: "@Component.OptionLabel",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "@Url.Action("BindingPlant")",
                    },
                },
                schema: {
                    model: {
                        id: "PlantId",
                        fields: {
                            "PlantId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
            }
        }).data("kendoDropDownList");

        @*if (scrapVal == "@ScrapType.CAPITALIZATION.ToString()") {
        addRequired($("#NoRequestSPC011"));
        } else {
            removeRequired($("#NoRequestSPC011"));
        }*@        
    }

    function addRequired($this) {
        $this.val("");
        $this.parent().parent().show();
    }

    function removeRequired($this) {
        $this.val("a");
        //$this.focus();
        $this.trigger("change");
        $this.blur();
        //$this.removeClass("input-validation-error");
        $this.parent().parent().hide();
    }

    $("#ScrapType").change(function () {
        var scrapVal = $(this).val();
        if (scrapVal == "@ScrapType.CAPITALIZATION.ToString()") {
            addRequired($("#NoRequestSPC011"), null, true);
        } else if (scrapVal == "@ScrapType.NON_CAPITALIZATION.ToString()") {
            removeRequired($("#NoRequestSPC011"));
        }
    });

    $("#add-asset").click(function () {
        if ("@canEdit" == "True"){
            rowData = "";
            if (tempDsOptions.length <= 0) {
                swal("Info", "Tidak ada asset untuk dilakukan proses SPC");
            } else {
                showModal("Tambah Asset", "@Url.Action(ActionSite.AddAsset)", null);
            }
        }
    })

    $("#main-form").submit(function (e) {
        $("#SPCRequestId").val("@Model.SPCRequestId");
        if (grid.dataSource.data().length > 0) {
            $("#SPCRequestAssets").val(kendo.stringify(grid.dataSource.data()));
        } else {
            e.preventDefault();
            $("#SPCRequestAssets").val("");
            $("#asset-error").show();
            $('[type=submit]').attr('disabled', 'disabled');
        }
        if (tempDel.length > 0) {
            $("#TempDel").val(kendo.stringify(tempDel));
        } else {
            $("#TempDel").val("");
        }
    });

    var dsOptions = new kendo.data.DataSource({
        transport: {
            read: {
                url: "@Url.Action("BindingMappingAsset")",
                dataType: "@DataSource.DataType.Json",
                type: "@DataSource.Type.Post"
            },
        },
        schema: {
            data: "data",
            model: {
                fields: {
                    "AssetId": { type: "number" },
                    "MappingAssetId": { type: "number" },
                    "AssetNumber": { type: "string" },
                    "SubNumber": { type: "string" },
                    "Description": { type: "string" },
                    "ValueIdr": { type: "number" },
                    "ValueUsd": { type: "string" },
                    "Location": { type: "string" },
                    "Photo": { type: "string" },
                }
            }
        }
    });

    dsOptions.fetch().then(function () {
        tempDsOptions = dsOptions.data();
    });

    var dataSource = new kendo.data.DataSource({
        data: ds,
        schema: {
            model: {
                id: "AssetId",
                fields:
                {
                    "SPCRequestId": { type: "@DataSource.Schema.Type.Number" },
                    "AssetId": { type: "@DataSource.Schema.Type.Number" },
                    "MappingAssetId": { type: "@DataSource.Schema.Type.Number" },

                    "DocDate": { type: "@DataSource.Schema.Type.Date" },
                    "PostingDate": { type: "@DataSource.Schema.Type.Date" },
                    "AssetValueDate": { type: "@DataSource.Schema.Type.Date" },
                    "PostingPeriod": { type: "@DataSource.Schema.Type.String" },
                    "TransactionType": { type: "@DataSource.Schema.Type.String" },
                    "AssetTransaction": { type: "@DataSource.Schema.Type.String" },

                    "AssetNumber": { type: "@DataSource.Schema.Type.String" },
                    "SubNumber": { type: "@DataSource.Schema.Type.String" },
                    "PostCap": { type: "@DataSource.Schema.Type.String" },
                    "Description": { type: "@DataSource.Schema.Type.String" },
                    "ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                    "ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                    "Location": { type: "@DataSource.Schema.Type.String" },
                    "Photo": { type: "@DataSource.Schema.Type.String" },
                }
            }
        },
    });

    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        dataBound: dataBoundEvent,
        detailInit: detailInit,
        scrollable: true,
        filterable: kendoGridFilterable,
        noRecords: {
            template: "Data Tidak Tersedia"
        },
        //pageable: true,
        sortable: true,
        columns: [
            {
                command: [
                    {
                        name: "edit",
                        text: "edit",
                        click: editItem,
                        imageClass: "glyphicon glyphicon-edit",
                        template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                    },
                    {
                        name: "delete",
                        text: "deleted",
                        click: deleteItem,
                        //confirmation: "false",
                        imageClass: "glyphicon glyphicon-trash",
                        template: '<a class="k-button-icon #=className#" #=attr# href="\\#"><span class=" glyphicon glyphicon-trash"></span></span></a>'
                    },
                ],
                title: "&nbsp;", width: "80px"
            },
            { field: "AssetNumber", title: "Fixed Asset Number", width: "200px" },
            { field: "SubNumber", title: "Fixed Asset Sub Number", width: "200px"},
            { field: "Description", title: "Fixed Asset Description", template: "#=Description#", width: "200px"},
            { field: "ValueIdr", title: "Asset Value (IDR)", /*template: "#=Description2#",*/ width: "200px" },
            { field: "ValueUsd", title: "Asset Value (USD)", width: "200px"},
            { field: "DocDate", title: "Document Date", filterable: rangeDateFilterable, format: "@DisplayFormat.JsCompactDateFormat", width: "200px"},
            { field: "PostingDate", title: "Posting Date", filterable: rangeDateFilterable, format: "@DisplayFormat.JsCompactDateFormat", width: "200px"},
            { field: "AssetValueDate", title: "Asset Value Date", filterable: rangeDateFilterable, format: "@DisplayFormat.JsCompactDateFormat", width: "200px"},
            { field: "PostingPeriod", title: "Posting Period", width: "200px"},
            { field: "TransactionType", title: "Transaction Type" /*, template: "#=kendo.toString(OrigAcquisDate, \"d\")#"*/, width: "200px"},
            { field: "Location", title: "Physical Location", width: "200px" },
            { field: "Photo", title: "Asset Photo", template: $("#photo-template").html(), width: "100px" }
        ],
        editable: false
    }).data("kendoGrid");

    function editItem(e) {
        e.preventDefault();
        if ("@canEdit" == "True") {
            var data = this.dataItem(getDataRowGrid(e));
            rowData = data;
            var dsOpt = { AssetId: data.AssetId, MappingAssetId: data.MappingAssetId, AssetNumber: data.AssetNumber, SubNumber: data.SubNumber, Description: data.Description, ValueIdr: data.ValueIdr, ValueUsd: data.ValueUsd, Location: data.Location };
            tempDelOptions = dsOpt;
            tempDsOptions.push(dsOpt);
            showModal("Ubah Asset", "@Url.Action(ActionSite.AddAsset)", data);
        }
    }

     function deleteItem(e) {
         e.preventDefault();
         if ("@canEdit" == "True") {
             var data = this.dataItem(getDataRowGrid(e));
             if (data.MDMRequestId != 0) {
                 tempDel.push(data);
             }
             var dsOpt = { AssetId: data.AssetId, MappingAssetId: data.MappingAssetId, AssetNumber: data.AssetNumber, SubNumber: data.SubNumber, Description: data.Description, ValueIdr: data.ValueIdr, ValueUsd: data.ValueUsd, Location: data.Location};
             tempDsOptions.push(dsOpt);
             tempDelOptions = {};
             this.dataSource.remove(data);
             reqAsset();
         }
    }

    function showModal(title, url, gridItem) {
        var $modal = $("#modalForm").clone(),
            $modalBody = $modal.find(".modal-body"),
            $btnCancel = $modal.find("#btnCancel"),
            $btnSave = $modal.find("#btnSave");
        $modal.find(".modal-title").text(title);
        //show loading progress
        kendo.ui.progress($modalBody, true);
         //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $assetIdOptions = $form.find("#AssetId");

                    var datePicker = $(".date-picker").kendoDatePicker({
                        format: "dd/MM/yyyy",
                        parseFormats: ["dd/MM/yyyy HH:mm:ss", "dd/MM/yyyy HH.mm.ss"]
                    }).data("kendoDatePicker");

                    if (rowData != "") {
                        $("#SPCRequestId").val(rowData.SPCRequestId)
                        $("#AssetId").val(rowData.AssetId);
                        $("#DocDate").data("kendoDatePicker").value(rowData.DocDate);
                        $("#PostingDate").data("kendoDatePicker").value(rowData.PostingDate);
                        $("#AssetValueDate").data("kendoDatePicker").value(rowData.AssetValueDate);
                        $("#PostingPeriod").val(rowData.PostingPeriod);
                        $("#TransactionType").val(rowData.TransactionType);
                        $("#AssetTransaction").val(rowData.AssetTransaction);
                    }

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign($form);

                    //set validator
                    $.validator.unobtrusive.parse($form);
                    initClientSideValidation(null, $modal);

                    var $options = $assetIdOptions.kendoDropDownList({
                        dataSource: tempDsOptions,
                        //filter: "contains",
                        //index:0,
                        dataTextField: "@Field.AssetNumber",
                        dataValueField: "@Field.AssetId",
                        template: '#=Description#',
                        valueTemplate: '#=Description#',
                        @*optionLabel: "@Component.OptionLabel",*@
                    }).data("kendoDropDownList");

                    //remove default submit event
                    $form.off("submit");

                    ////handle client validation on unsupported component. example : kendo dropdownlist, kendo editor, etc.
                    ////to use this add class always-validate to component
                    var formValidator = $form.data("validator");
                    if (formValidator !== undefined && formValidator !== null) {
                        formValidator.settings.ignore = ":hidden:not(.always-validate)";
                    }

                    $form.find("input").on("keyup blur", validateForm(modal = $modal));


                    //set submit event
                    $form.submit(function (e) {
                        e.preventDefault();

                        if (!($form.find("input").hasClass("input-validation-error"))) {
                            if (gridItem != null) {
                                gridItem.set("AssetId", $("#AssetId").val());
                                gridItem.set("SPCRequestId", $("#SPCRequestId").val());
                                gridItem.set("MappingAssetId", $options.dataItem().MappingAssetId);

                                gridItem.set("DocDate", $("#DocDate").data("kendoDatePicker").value());
                                gridItem.set("PostingDate", $("#PostingDate").data("kendoDatePicker").value());
                                gridItem.set("AssetValueDate", $("#AssetValueDate").data("kendoDatePicker").value());
                                gridItem.set("PostingPeriod", $("#PostingPeriod").val());
                                gridItem.set("TransactionType", $("#TransactionType").val());
                                gridItem.set("AssetTransaction", $("#AssetTransaction").val());

                                gridItem.set("AssetNumber", $options.dataItem().AssetNumber);
                                gridItem.set("SubNumber", $options.dataItem().SubNumber);
                                gridItem.set("Description", $options.dataItem().Description);
                                gridItem.set("ValueIdr", $options.dataItem().ValueIdr);
                                gridItem.set("ValueUsd", $options.dataItem().ValueUsd);
                                gridItem.set("Location", $options.dataItem().Location);
                                gridItem.set("Photo", $options.dataItem().Photo);

                            }
                            else {
                                var a = {
                                    SPCRequestId: 0,
                                    AssetId: $("#AssetId").val(),
                                    MappingAssetId: $options.dataItem().MappingAssetId,

                                    DocDate: $("#DocDate").data("kendoDatePicker").value(),
                                    PostingDate: $("#PostingDate").data("kendoDatePicker").value(),
                                    AssetValueDate: $("#AssetValueDate").data("kendoDatePicker").value(),
                                    PostingPeriod: $("#PostingPeriod").val(),
                                    TransactionType: $("#TransactionType").val(),
                                    AssetTransaction: $("#AssetTransaction").val(),

                                    AssetNumber: $options.dataItem().AssetNumber,
                                    SubNumber: $options.dataItem().SubNumber,
                                    Description: $options.dataItem().Description,
                                    ValueIdr: $options.dataItem().ValueIdr,
                                    ValueUsd: $options.dataItem().ValueUsd,
                                    Location: $options.dataItem().Location,
                                    Photo: $options.dataItem().Photo,
                                };
                                grid.dataSource.add(a);
                            }
                            tempDelOptions = $options.dataItem();
                            tempDsOptions.remove($options.dataItem());
                            //getStatAsset();
                            reqAsset();
                            $modal.modal("hide");

                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }
                        return false;
                    });


                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        validateForm(null, null, $modal);
                        $form.submit();
                    });
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    for (var i = 0; i < tempDsOptions.length; i++) {
                        if (!isEmpty(tempDelOptions) && (tempDsOptions[i].AssetId == tempDelOptions.AssetId)) {
                            tempDsOptions.remove(tempDsOptions[i]);
                            tempDelOptions = {};
                            i = tempDsOptions.length;
                        }
                    }
                    $modal.modal("hide");
                });
            });

            function isEmpty(obj) {
                for (var key in obj) {
                    if (obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            }

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
     }

    //detail init

    function generateDs(e) {
        var actualMappingds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.BindingMappingAssetActualCost, ControllerSite.Asset)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        @*//options.args = '@Model'*@

                        return options;
                    }
                }
            },
			schema: {
                data: "@DataSource.Schema.Property.Data",
                total: "@DataSource.Schema.Property.Total",
                model: {
                    id: "@Field.MappingAssetActualCostId",
                    fields: {
                        "@Field.MappingAssetActualCostId": { type: "@DataSource.Schema.Type.Number" },
						"@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                        "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                    }
                }
            },
            aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                        { field: "@Field.ValueUsd", aggregate: "sum" }],
            pageSize: 10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            sort: { field: "@Field.MappingAssetId", dir: "@SortOrder.Descending.ToDescription()" },
            filter: { field: "@Field.MappingAssetId", operator: "eq", value: e.data.MappingAssetId }
        });

        return actualMappingds;
    }

    function detailInit(e) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: generateDs(e),
            filterable: kendoGridFilterable,
            pageable: {
                pageSizes: true
            },
            sortable: true,
            noRecords: {
                template: "Data Tidak Tersedia"
            },
            columns: [
                {
                    field: "@Field.WBSElement",
                    title: "WBS Element",
                    width: "170px"
                },
                {
                    field: "@FieldHelper.ParseRelationField(Table.AUC, Field.AssetNumber)",
                    title: "AUC Number",
                    width: "170px"
                },
				{
                    field: "@Field.DocNumber",
                    width: "170px",
                    title: "Realisasi "
                },
                {
                    field: "@Field.Balance",
                    width: "200px",
                    title: "Sisa Realisasi",
                    format: "{0:c2}"
                },
				{
                    field: "@Field.ValueIdr",
                    width: "170px",
                    title: "Value IDR",
                    format: "{0:c2}",
                    aggregates: ["sum"],
                    footerTemplate: "Total IDR: #= kendo.toString(sum, 'n2')#"
                },
				{
                    field: "@Field.ValueUsd",
                    title: "Value USD",
                    width: "200px",
                    format: "{0:n2}",
                    footerTemplate: "Total USD: #= kendo.toString(sum, 'n2')#"
                }
            ],
        });
    }

    function dataBoundEvent(e) {
        if ("@canEdit" == "False") {
            $("#grid tbody tr .k-grid-edit").each(function () {
                $(this).removeClass("k-grid-setComplete")
                    .children().eq(0)
                    .addClass("k-state-disabled")
                    .attr({
                        "data-placement": "right",
                        "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa diedit"
                    });
            });

            $("#grid tbody tr .k-grid-delete").each(function () {
                $(this).removeClass("k-grid-delete")
                    .children().eq(0)
                    .addClass("k-state-disabled")
                    .attr({
                        "data-placement": "right",
                        "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa diedit"
                    });
            });
        }
    }

    function getStatAsset() {
        if (tempDsOptions.length <= 0) {
            $("#add-asset").attr("disabled", "disabled");
        } else {
            $("#add-asset").removeAttr("disabled");
        }
    }

    function reqAsset() {
        if (grid.dataSource.data().length > 0) {
            $error = $(".field-validation-error");
            $("#asset-error").hide();
            if ($error.length == 0) {
                $('[type=submit]').removeAttr('disabled');
            }
        } else {
            $("#asset-error").show();
            $('[type=submit]').attr('disabled', "disabled");
        }
    }

</script>

}

