﻿@{
    ViewBag.Title = TitleSite.SPCRequest;
    var currentController = (WebUI.Controllers.SPCController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a id="createSPC" href="#" class="btn btn-primary">SPC-005 dan SPC-011</a>
                        @*<a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">SPC-005 dan SPC-011</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        $("#createSPC").click(function () {
            var total = 0;
            $.ajax({
                url: "@Url.Action("GetAssetCount")",
                type: "POST",
                success: function (data) {
                    total = data;
                    if (total <= 0) {
                    swal("Info", "Tidak ada asset untuk dilakukan proses SPC");
                    } else {
                    window.location = "@Url.Action(ActionSite.Create)";
                    }
                },
            });
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.SPCRequestId}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.SPCRequestId);
        }

        function download(e){
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

			swal({
			    title: "Loading",
			    text: "Please wait...",
			    imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
			    closeOnConfirm: false,
			    confirmButtonClass: "hidden"
			});

			$.ajax({
			    url: "@Url.Action("GetTemplate")",
                type: "@DataSource.Type.Post",
                data: { id: data.SPCRequestId },
			    success: function (e) {
			        if (e.Success) {
                        window.location.href = "@Url.Action(ActionSite.Download)";
                        swal("Success", "File berhasil di download", "success");
			        } else {
			            swal("Warning", e.Message, "warning");
			        }
			    },
			    error: function (xhr, ajaxOptions, thrownError) {
			        swal("Error", "Server Error. Contact administrator", "error");
			    }
			});
		}

        function completeItem(e) {
            var data = this.dataItem(getDataRowGrid(e));
            var dsSource = this.dataSource;
            e.preventDefault();
            swal(
                {
                    title: "Ubah Status",
                    text: "Ubah Status ke Complete?",
                    type: "warning",
                    cancelButtonText: "Batal",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Ya",
                    closeOnConfirm: false
                },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden",
                        //imageSize: "80x80"
                    });

                    $.ajax({
                        url: "@Url.Action("SetComplete")",
                        type: "POST",
                        data: { id: data.SPCRequestId },
                        success: function (data) {
                            if (data.Success === true) {
                                dsSource.read();
                                swal("Status", "Status berhasil diubah", "success");
                            }
                            else {
                                swal("Error", data.Message, "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.SPCRequestId",
                        fields: {
                            "@Field.SPCRequestId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.NoRequestSPC005": { type: "@DataSource.Schema.Type.String" },
                            "@Field.NoRequestSPC011": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubmitDate": { type: "@DataSource.Schema.Type.Date" },
                            @*"@Field.LegalRequestor": { type: "@DataSource.Schema.Type.String" },*@
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.SPCRequestId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                dataBound: onDataBoundWrapper,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "setComplete",
                                text: "Complete",
                                click: completeItem,
                                imageClass: "glyphicon glyphicon-ok",
                                template: '<a title="Selesai" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            },
                            {
                                name: "download",
                                text: "Export to Excel SAP",
                                click: download,
                                imageClass: "glyphicon glyphicon-download-alt",
                                template: '<a title="Export to Excel SAP" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "120px"
                    },
                    {
                        field: "@Field.NoRequestSPC005",
                        title: "No Request SPC-005",
                        template: "#=@Field.NoRequestSPC005#",
                    },
                     {
                        field: "@Field.NoRequestSPC011",
                        title: "No Request SPC-011",
                        template: "#=@Field.NoRequestSPC011#",
                    },
                    {
                        field: "@Field.SubmitDate",
                        title: "Tanggal",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    @*{
                        field: "@Field.LegalRequestor",
                        title: "Disiapkan Oleh",
                    },*@
                    {
                        field: "@Field.Status",
                        title: "Status",
                        //filterable:false,
                        filterable: dropDownListFilterable(statusOptions)
                    }
                ],
            }).data("kendoGrid");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");
                grid.showColumn(0);
            }
            else {
                $(".ibox-title").addClass("hide");
                grid.hideColumn(0);
            }

            function onDataBoundWrapper(e) {
                onDataBoundd("grid", false, ["@StatusSPC.DRAFT.ToDescription()"], e, "@Field.Status");
            }

            function onDataBoundd(grid, deleteOnly, status, e, fieldStatus) {
                if (!deleteOnly) {
                    $("#" + grid + " tbody tr .k-grid-setComplete").each(function () {
                        var currentDataItem = $("#" + grid).data("kendoGrid").dataItem($(this).closest("tr")),
                            statusDb = currentDataItem[fieldStatus];
                        if ($.inArray(statusDb, status) == -1) {
                            $(this).removeClass("k-grid-setComplete")
                                .children().eq(0)
                                .addClass("k-state-disabled")
                                .attr({
                                    "data-placement": "right",
                                    "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa diedit"
                                });
                        }


                    })
                }

                $("#" + grid + " tbody tr .k-grid-deleted").each(function () {
                    var currentDataItem = $("#" + grid).data("kendoGrid").dataItem($(this).closest("tr")),
                        statusDb = currentDataItem[fieldStatus];
                    if ($.inArray(statusDb, status) == -1) {
                        $(this).removeClass("k-grid-deleted")
                            .children().eq(0)
                            .addClass("k-state-disabled")
                            .attr({
                                "data-placement": "right",
                                "title": "Status data sedang menunggu persetujuan / sudah selesai, sudah tidak bisa dihapus"
                            });
                    }
                })
            }
        }

         function statusOptions(element) {
            element.kendoDropDownList({
                autoBind: false,
                dataTextField: "Text",
                dataValueField: "Value",
                defaultValue: { Value: "@StatusSPC.COMPLETED", Text: "@StatusSPC.COMPLETED.ToDescription()" },
                filter: "@FilterOperator.Equals.ToDescription()",
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("BindingStatus")",
                            dataType: "json",
                            type: "POST",
                        },
                    },
                    schema: {
                        //data: "data",
                        model: {
                            fields: {
                                "Text": { type: "string" },
                                "Value": { type: "string" },
                            }
                        }
                    }
                },
            });
        }
    </script>
}

