﻿@using Common.Enums
@using System.Reflection
@{
    ViewBag.Title = "Dashboard";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];        
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <h4><strong>Fixed Asset On Process</strong></h4>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<script id="photo-template" type="text/x-kendo-template">
    <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>

<script id="checklist-template-tcr" type="text/x-kendo-template">
    #if(@Field.TCRId != null){#
    <div class="text-center">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    #}#
</script>

<script id="checklist-template-mdm" type="text/x-kendo-template">
    #if(@Field.MDMRequestId != null){#
    <div class="text-center">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    #}#
</script>

<script id="checklist-template-spc005" type="text/x-kendo-template">
    #if((@Field.NoRequestSPC005 != null) && (@Field.NoRequestSPC005 != "")){#
    <div class="text-center">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    #}#
</script>

<script id="checklist-template-spc011" type="text/x-kendo-template">
    #if((@Field.NoRequestSPC011 != null) && (@Field.NoRequestSPC011 != "")){#
    <div class="text-center">
        <span class="glyphicon glyphicon-ok"></span>
    </div>
    #}#
</script>

@section scripts{    
    <script>
        $(function () {
            initElement();
        });

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        }
                        else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.AssetId",
                        fields: {
							"@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
							"@Field.Description": { type: "@DataSource.Schema.Type.String" },
							"@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        field: "@Field.Photo",
                        title: "",
                        width: "65px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "150px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "220px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.TCRId",
                        title: "TCR",
                        width: "70px",
                        template: $("#checklist-template-tcr").html(),
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.MDMRequestId",
                        title: "MDM",
                        width: "80px",
                        template: $("#checklist-template-mdm").html(),
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.NoRequestSPC005",
                        title: "SPC-005",
                        width: "100px",
                        template: $("#checklist-template-spc005").html(),
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.NoRequestSPC011",
                        title: "SPC-011",
                        width: "100px",
                        template: $("#checklist-template-spc011").html(),
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "150px",
                        title: "Value IDR",
                        template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueIdr, \"c2\")#</div>"
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "150px",
                        format: "{0:n2}",
                        template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueUsd, \"n2\")#</div>"
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "150px",
                    },
                ],
            });
        }

    </script>
}