@model WebUI.Models.AssetPresentationStub
@{
    string backLink = "";
    string image = Model.Photo == null ? Url.Content("~/Images/no-image-width.jpg") : Url.Content(Model.Photo);


    ViewBag.Title =  string.Format("{0} {1}", TitleSite.Asset, Html.Raw(Model.AssetNumber));

    backLink = string.Format("{0}", Url.Action(ActionSite.Index));
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.AssetNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Model.AssetNumber</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SubNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Model.SubNumber</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Html.Raw(Model.Description)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Location, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Model.Location</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Asset Photo</label>
                    <div class="col-xs-2">
                        <div id="img-thumb" class="thumbnail"><img class="center-cropped" src="@image" /></div>
                        <input id="img-upload" type="file" name="files" class="hide" />                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Barcode</label>
                    <div class="col-xs-2">
                        <div id="img-thumb" class="thumbnail"><img class="center-cropped" src="@Model.BarcodeImage" /></div>                                                
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            
        });

        function initElement() {

        }
    </script>
}

