@model WebUI.Models.AssetFormFAStub
@{
    string backLink = "";
    string image = Model.Photo == null ? Url.Content("~/Images/no-image-width.jpg") : Url.Content(Model.Photo);
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    ViewBag.Title = string.Format("{0} {1} {2} ({3})", "Edit", TitleSite.Asset, Model.AssetNumber, Model.Description);

    backLink = string.Format("{0}", Url.Action(ActionSite.Index));
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, new { id = Model.AssetId }, FormMethod.Post, new { @class = "form-horizontal", id = "assetForm" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.AssetId)
                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                @Html.HiddenFor(model => model.AssetNumber)
                @Html.HiddenFor(model => model.Description)
                @Html.HiddenFor(model => model.SubNumber)
                @Html.HiddenFor(model => model.Photo)
                @Html.HiddenFor(model => model.LocationId)
                @Html.HiddenFor(model => model.BarcodeImage)
                @Html.HiddenFor(model => model.BarcodeImageTemp)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <p class="form-control-static">@Html.Raw(Model.Description)</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BarcodeImage, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        <button type="button" id="btnGenerate" class="btn btn-primary">Generate</button>
                    </div>
                    @*<div class="col-xs-4">
                    @Html.TextBox("files", "", new
                    {
                        @class = "form-control-upload",
                        type = "file",
                        id = "files",
                        accept = "image/jpeg, image/jpg, image/png"
                    })
                    @Html.ValidationMessageFor(model => model.BarcodeImage, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-6">
                    <ul class="small">
                        <li>Max File Size. 10 MB</li>
                        <li>File Type Allow .jpg/.jpeg, .png</li>
                    </ul>
                </div>*@
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-2">
                        <img id="barcodeImg" class="qrcode-img hide" />
                        @Html.ValidationMessageFor(model => model.BarcodeImage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LocationMap, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-6">
                        @Html.TextBoxFor(model => model.LocationMap, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.LocationMap, "", new { @class = "text-danger" })
                        <div id="mapCanvas" class="map-form"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section styles
{
    @Styles.Render("~/Content/geomapping/css")
}
@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-ptpertaminapersero&sensor=true_or_false&v=3.13"></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleAPIAccessKey"]"></script>*@
    <script type="text/javascript">
        var map,
            mapOptions = {
                center: { lat: -7.143727, lng: 107.789540 },
                zoom: 15
            },
            marker,
            markers = [],
            mapLoc,
            file, model,
            upload = $(".form-control-upload").data("kendoUpload"),
            barcodeImg = $("#barcodeImg"),
            assetId = $("#AssetId"),
            latitude = $("#Latitude"),
            longitude = $("#Longitude"),
            barcode = $("#BarcodeImage"),
            locationMap = $("#LocationMap"),
            $btnGenerate = $("#btnGenerate");

        $(function () {
            initElement();
            initMap();
        });

        function placeMarkerAndPanTo(latLng, map) {
            setMapOnAll(null);
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            markers.push(marker);
            map.panTo(latLng);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }


        function geocodeLatLng(lat, lng) {
            var geocoder = new google.maps.Geocoder;
            var latlng = { lat: lat, lng: lng };
            var result = geocoder.geocode({ 'location': latlng }, function (results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        locationMap.val(results[0].formatted_address);
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }

        function uploadOnSuccess(e) {
            var currentInitialFiles = JSON.parse(sessionStorage.initialFiles);
            for (var i = 0; i < e.files.length; i++) {
                file = e.response[i];

                var current = {
                    name: e.files[i].name,
                    extension: e.files[i].extension,
                    size: e.files[i].size,
                    filePath: file.filepath,
                    absPath: file.absolutepath
                };
                if (e.operation === "upload") {
                    currentInitialFiles = [];
                    currentInitialFiles.push(current);
                    barcodeImg.attr("src", current.absPath);
                    barcode.val(current.filePath);
                } else {
                    var indexOfFile = currentInitialFiles.indexOf(current);
                    currentInitialFiles.splice(indexOfFile, 1);
                    barcodeImg.attr("src", "");
                    barcode.val("");
                }
            }

            sessionStorage.initialFiles = JSON.stringify(currentInitialFiles);
        }

        function initMap() {
            if (latitude.val() !== "" && longitude.val() !== "") {
                var latLng = { lat: parseFloat(latitude.val()), lng: parseFloat(longitude.val()) };
                mapOptions = {
                    center: { lat: parseFloat(latitude.val()), lng: parseFloat(longitude.val()) },
                    zoom: 15
                };

                map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
                geocodeLatLng(parseFloat(latitude.val()), parseFloat(longitude.val()));
                placeMarkerAndPanTo(latLng, map);
            }
            else {
                map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
                setMapOnAll(null);
            }

            // Create the search box and link it to the UI element.
            var input = document.getElementById("LocationMap");
            var searchBox = new google.maps.places.SearchBox(input);
            //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            map.addListener("bounds_changed", function () {
                searchBox.setBounds(map.getBounds());
            });

            map.addListener("click", function (e) {
                placeMarkerAndPanTo(e.latLng, map);
                geocodeLatLng(e.latLng.lat(), e.latLng.lng());
                latitude.val(e.latLng.lat());
                longitude.val(e.latLng.lng());
            });

            searchBox.addListener("places_changed", function (e) {
                var places = searchBox.getPlaces();

                if (places.length === 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }

                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }

                    mapLoc = place.geometry.location;
                    placeMarkerAndPanTo(mapLoc, map);

                    if (markers.length > 0) {
                        latitude.val(mapLoc.lat());
                        longitude.val(mapLoc.lng());
                    }
                });
                map.fitBounds(bounds);
            });
        }

        function initElement() {
            console.log("first");
            console.log(barcode.val());
            if (barcode.val() === "" || barcode.val() === undefined) {
                barcodeImg.addClass("hide");
                barcodeImg.attr("src", "");
            }
            else {
                barcodeImg.removeClass("hide");
                barcodeImg.attr("src", barcode.val());
            }
            //else if (sessionStorage.initialFiles !== undefined && sessionStorage.initialFiles !== "[]") {
            //    console.log("session")
            //    file = JSON.parse(sessionStorage.initialFiles);
            //    barcodeImg.attr("src", file[0].absPath);
            //    barcode.val(file[0].filepath);
            //}
            //else if (barcode.val() !== "") {
            //    barcodeImg.attr("src", barcode.val().substring(1));
            //}

            //var initialFiles = JSON.parse(sessionStorage.initialFiles);
            //upload.multiple = false;
            //upload.options.files = initialFiles;
            //upload.bind({
            //    select: function (e) {
            //        kendoUploadOnSelect(e, false, true, false, false);
            //    },
            //    success: uploadOnSuccess
            //});

            $btnGenerate.on("click", function (e) {
                var param = { barcode: assetId.val() };
                param = JSON.stringify(param);
                
                $.ajax({
                    type: "@DataSource.Type.Post",
                    contentType: "@DataSource.ContentType.ApplicationJson",
                    url: "@Url.Action(ActionSite.GenerateQRCode, ControllerSite.Asset, new { area = ""})",
                    data: param,
                    success: function (response) {
                        if (response.Success) {
                            data = JSON.parse(response.Data);
                            console.log(data);
                            $("#BarcodeImage").val(data.BarcodeImage);
                            barcodeImg.removeClass("hide");
                            barcodeImg.attr("src", data.BarcodeImageTemp);
                            $("#BarcodeImageTemp").val($("#BarcodeImage").val());
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Server Error. Call administrator");
                    }
                });
            });

            $('#assetForm').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        }
    </script>
}

