﻿@{
    ViewBag.Title = TitleSite.Asset;
    var currentController = (WebUI.Controllers.AssetController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <ul class="nav nav-tabs" id="tabAsset">
                <li role="presentation"><a data-toggle="tab" href="#done">Selesai Kapitalisasi</a></li>
                <li role="presentation" class="active"><a data-toggle="tab" href="#ongoing">Ongoing <span class="badge"><strong>@ViewBag.count</strong></span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="done">
                    <div id="gridFinish" class="m-t"></div>
                    <div class="text-right m-t">
                        <a id="btnPrint" class="btn btn-primary" style="display:none">Print Barcode</a>
                    </div>
                </div>
                <div class="tab-pane" id="ongoing">
                    <div id="grid" class="m-t"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="photo-template" type="text/x-kendo-template">
    <div class="" ><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>

@section scripts
{
<script type="text/javascript">
        $(function () {
            initElement();            
            $('#tabAsset a:first').tab('show');
        });

        function viewItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.open(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Detail)", data.id), "_blank" );
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

    function initElement() {        

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOngoing)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.AssetId",
                        fields: {
                            "@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Plant": { type: "@DataSource.Schema.Type.String" },
                            "@Field.CostCenter": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetHolder": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
                sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" }
            }),
            dsFinish = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.AssetId",
                        fields: {
                            "@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Plant": { type: "@DataSource.Schema.Type.String" },
                            "@Field.CostCenter": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetHolder": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
                sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var gridOngoing = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                detailInit: detailInit,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "view",
                                text: "view",
                                click: viewItem,
                                imageClass: "glyphicon glyphicon-eye-open",
                                template: '<a title="View" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "40px"
                    },
                    {
                        field: "@Field.Photo",
                        title: "",
                        width: "65px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "150px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "220px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "150px",
                        title: "Value IDR",
                        format: "{0:c2}",
                        template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueIdr, \"c2\")#</div>"
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "150px",
                        format: "{0:n2}",
                        template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueUsd, \"n2\")#</div>"
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "150px",
                    },
                    {
                        field: "@Field.Plant",
                        title: "Plant",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostCenter",
                        title: "Cost Center",
                        width: "150px",
                    },
                    {
                        field: "@Field.AssetHolder",
                        title: "Asset Holder",
                        width: "150px",
					}
                ],
            });

            var gridFinish = $("#gridFinish").kendoGrid({
                dataSource: dsFinish,
                filterable: kendoGridFilterable,
                detailInit: detailInit,
                pageable: true,
                sortable: true,
                change: onChange,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        selectable: true,
                        width: "50px", 
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>',
                                visible: function (dataItem) {
                                    return "@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true";
                                }                            
                            },
                            {
                                name: "view",
                                text: "view",
                                click: viewItem,
                                imageClass: "glyphicon glyphicon-eye-open",
                                template: '<a title="View" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "80px"
                    },
                    {
                        field: "@Field.Photo",
                        title: "",
                        width: "65px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "150px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "220px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "150px",
                        title: "Value IDR",
                        format: "{0:c2}",
                         template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueIdr, \"c2\")#</div>"
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "150px",
                        format: "{0:n2}",
                         template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueUsd, \"n2\")#</div>"
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "150px",
                    },
                    {
                        field: "@Field.Plant",
                        title: "Plant",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostCenter",
                        title: "Cost Center",
                        width: "150px",
                    },
                    {
                        field: "@Field.AssetHolder",
                        title: "Asset Holder",
                        width: "150px",
					}
                ],
            }).data("kendoGrid");

             if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                 gridFinish.showColumn(0);
            }
            else {                
                 gridFinish.hideColumn(0);
            }

            function onChange(e) {
                var allSelected = $("#gridFinish tr.k-state-selected");
                var allSelectedModels = [];
                $.each(allSelected, function (e) {
                    var row = $(this);
                    var grid = row.closest(".k-grid").data("kendoGrid");
                    var dataItem = grid.dataItem(row);

                    allSelectedModels.push(dataItem);
                });

                if (allSelectedModels.length > 0) {
                    $("#btnPrint").show();
                } else {
                    $("#btnPrint").hide();
                }
            };

            $("#btnPrint").click(function () {
                var allSelected = $("#gridFinish tr.k-state-selected");
                var allSelectedModels = [];
                $.each(allSelected, function (e) {
                    var row = $(this);
                    var grid = row.closest(".k-grid").data("kendoGrid");
                    var dataItem = grid.dataItem(row);

                    allSelectedModels.push(dataItem.AssetId);
                });

                if (allSelectedModels.length > 0) {
                    swal({
                        title: "Loading",
                        text: "Please wait...",
                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });

                    $.ajax({
                        url: "@Url.Action("GetTemplatePdf")",
                        type: "@DataSource.Type.Post",
                        data: { id: allSelectedModels },
                        success: function (e) {
                            if (e.Success) {
                                window.location.href = "@Url.Action(ActionSite.Download)";
                                swal("Success", "File berhasil di download", "success");
                            } else {
                                swal("Warning", data.Message, "warning");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Error", "Server Error. Contact administrator", "error");
                        }
                    });
                }
            });

            //detail init

            function generateDs(e) {
                var actualMappingds = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingMappingAssetActualCost)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (var i in filters) {
                                        var filter = filters[i];
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (var i in sorts) {
                                        var sort = sorts[i];
                                    }
                                }

                                //options.args = '@Model'

                                return options;
                            }
                        }
                    },
			        schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            fields: {
						        "@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                                "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            }
                        }
                    },
                    aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                                { field: "@Field.ValueUsd", aggregate: "sum" }],
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.MappingAssetId", dir: "@SortOrder.Descending.ToDescription()" },
                    filter: { field: "@Field.MappingAssetId", operator: "eq", value: e.data.MappingAssetId }
                });

                return actualMappingds;
            }

            function detailInit(e) {
                $("<div/>").appendTo(e.detailCell).kendoGrid({
                    dataSource: generateDs(e),
                    filterable: kendoGridFilterable,
                    pageable: {
                        pageSizes: true
                    },
                    sortable: true,
                    noRecords: {
                        template: "Data Tidak Tersedia"
                    },
                    columns: [
                        {
                            field: "@Field.WBSElement",
                            title: "WBS Element",
                            width: "170px"
                        },
                        {
                            field: "@FieldHelper.ParseRelationField(Table.AUC, Field.AssetNumber)",
                            title: "AUC Number",
                            width: "170px"
                        },
					    {
                            field: "@Field.DocNumber",
                            width: "170px",
                            title: "Realisasi "
                        },
                        {
                            field: "@Field.Balance",
                            width: "170px",
                            title: "Sisa Realisasi",
                            format: "{0:c2}"
                        },
					    {
                            field: "@Field.ValueIdr",
                            width: "200px",
                            title: "Value IDR",
                            format: "{0:c2}",
                            aggregates: ["sum"],
                            template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueIdr, \"c2\")#</div>",
                            footerTemplate: "<div class=\"text-right\">Total IDR: #= kendo.toString(sum, 'c2')#</div>"
                        },
					    {
                            field: "@Field.ValueUsd",
                            title: "Value USD",
                            width: "200px",
                            format: "{0:n2}",
                            template: "<div class=\"text-right\">#= kendo.toString(@Field.ValueUsd, \"n2\")#</div>",
                            footerTemplate: "<div class=\"text-right\">Total USD: #= kendo.toString(sum, 'n2')#</div>"
                        }
                    ],
                });
            }
        }
</script>
}

