﻿@model WebUI.Areas.UserManagement.Models.ManageActionsViewModel
@{
    ViewBag.Title = "Manage Action";
    //Layout = "~/Areas/SecurityGuard/Views/Shared/_SecurityGuardLayoutPage.cshtml";
}
@*<div class="page-header">
    <h1>Manage Actions</h1>
</div>*@

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>          
        @*<div id="breadcrumb">
            @Html.ActionLink("Dashboard", "Index", "Dashboard") > Manage Users
        </div>*@
    </div>
</div>


<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h3 class="panel-title"><strong>Add Action</strong></h3>   
            <script src="/Scripts/jquery.jqia.selects.js" type="text/javascript"></script>
            <ul class="system_messages" style="display: none;"></ul>
        </div>        
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">Action Name</label>
                    <div class="col-xs-4">
                        @Html.TextBox("ActionName", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button id="add-role" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-xs-2 control-label">Actions</label>
                    <div class="col-xs-4">
                        @Html.ListBox("Actions", Model.Actions, new { height = "120px", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-5">
                        <div class="checkbox">
                            @Html.CheckBox("throwOnPopulatedAction")&nbsp;Delete action if it has module? <em class="small">(Recommended: un-checked)</em>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button id="delete-actions" class="btn btn-primary">Delete</button>
                    </div>
                </div><hr />
                <div class="form-group">
                    <label class="col-xs-2 control-label">Get Modules In Action</label>
                    <div class="col-xs-4">
                        @Html.DropDownList("ActionList", Model.Actions, "[Select Action]", new { @class = "form-control" })
                    </div>
                </div>
                <div id="modules-in-action-div" class="form-group" style="display: none;">
                    <div class="col-xs-offset-2 col-xs-4">
                        Modules In Action
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts{
        <script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.jqia.selects.js")" type="text/javascript"></script>
        <script type="text/javascript">

    $(function () {

        var message = $(".system_messages");

        /***********************************************
        * Begin Add Action Functions
        ***********************************************/
        $("#add-role").click(function () {
            var actionName = $("#ActionName").val();

            if (actionName == "") {
                ShowMessage("Please enter a action name.");
                return;
            }

            $.ajax({
                url: '@Url.Action("CreateAction", "Action")',
                dataType: 'json',
                type: 'POST',
                cache: false,
                data: { actionName: actionName },
                success: OnCreateActionSuccess,
                error: OnCreateActionError
            });
        });

        function OnCreateActionSuccess(data) {
            $("li", message).remove();
            if (data.Success) {
                $("#ActionName").val("");

                GetAllAction("Actions");
                GetAllAction("ActionList");
            } else {
                $("#ActionName").val("");
            }

            DisplayMessage(data);
            message.show().delay(5000).fadeOut();
        }

        function OnCreateActionError(xhr, status, error) {
            message.show().delay(5000).fadeOut();    // Show the message
            $("li", message).addClass("red");      // Apply the Green style
            $("strong", message).text(error); // Insert the message
        }

        $("#ActionName").keyup(function () {
            var text = $(this).val();
            if (text != "") {
                $("strong", message).text("");
            }
        });


        /***********************************************
        * End Add Action Functions
        ***********************************************/

        /***********************************************
        * Begin Delete Action Functions
        ***********************************************/

        $("#delete-actions").click(function () {
            var actionsList = $("#Actions");

            if (actionsList.val() == null) {
                ShowMessage("Please select at least one action to delete.");
                return;
            }

            if (!confirm("Are you sure you want to delete these Action?  This cannot be undone!")) {
                return;
            }

            var chkBox = $("#throwOnPopulatedAction");
            var throwOnPopAction = !chkBox.is(":checked");

            var actions = "";

            $.each(actionsList.val(), function (index, data) {
                if (data != undefined) {
                    actions += data + ",";
                }
            });

            $.ajax({
                url: '@Url.Action("DeleteActions", "Action")',
                dataType: 'json',
                type: 'POST',
                cache: false,
                data: { actions: actions, throwOnPopulatedAction: throwOnPopAction },
                success: OnDeleteActionSuccess,
                error: OnDeleteActionError
            });
        });

        function OnDeleteActionSuccess(data) {
            if (data.Success) {
                $("li", message).remove();  // remove all li from the system_messages ul element.
                $.each(data.Messages, function (index, item) {
                    if (item.Success) {
                        // Refresh Roles lists
                        GetAllAction("Actions");
                        GetAllAction("ActionList");
                    }

                    // Show the message
                    DisplayMessage(item);
                });
                message.show().delay(5000).fadeOut();
            }
        }

        function OnDeleteActionError(xhr, status, error) {
            DisplayError(error);
            message.show().delay(5000).fadeOut();
        }

        /***********************************************
        * End Delete Action Functions
        ***********************************************/

        /***********************************************
        * Begin Get Users In Role Functions
        ***********************************************/

        //modules-in-action-div

        var modulesInActionDiv = $("#modules-in-action-div");
        var ul = $("#modules-in-action-div ul");

        $("#ActionList").change(function () {
            var item = $(this).val();

            if (item != "") {
                modulesInActionDiv.show();

                $.ajax({
                    url: '@Url.Action("GetModulesInAction", "Action")',
                    dataType: 'json',
                    type: 'GET',
                    cache: false,
                    data: { actionName: item },
                    success: OnGetModulesInActionSuccess,
                    error: OnGetModulesInActionError
                });
            } else {
                $("#modules-in-action-div").hide();
            }
        });

        function OnGetModulesInActionSuccess(data) {
            ul.empty();
            if (data == "") {
                ul.append("<li>No Module(s).</li>");
            } else {
                $.each(data, function (index, item) {
                    ul.append("<li><a href=\"/SecurityGuard/Module/\" >" + item.ModuleName + "</a></li>");
                });
            }
        }

        function OnGetModulesInActionError(xhr, status, error) {
            message.show().delay(5000).fadeOut();    // Show the message
            $("li", message).addClass("red");      // Apply the Green style
            $("strong", message).text(error); // Insert the message
        }

        /***********************************************
        * End Get Users In Role Functions
        ***********************************************/


        /***********************************************
        * Begin Common Role Functions
        ***********************************************/

        function GetAllAction(selectObject) {
            $.ajax({
                url: '@Url.Action("GetAllAction", "Action")',
                dataType: 'json',
                type: 'GET',
                cache: false,
                success: function (data) {
                    var actionList = $("#" + selectObject);
                    actionList.loadSelect(data);
                }
            });
        }


        //<ul class="system_messages" style="display: none;">
        //    <li><span class="ico"></span><strong class="system_title"></strong></li>
        //</ul>

        function DisplayError(error) {
            var li = $("<li></li>").addClass("red");
            var span = $("<span></span>").addClass("ico").appendTo(li);
            var strong = $("<strong></strong>").addClass("system_title").html(error).appendTo(li);

            li.appendTo(message);
        }

        function DisplayMessage(data) {
            var li = $("<li></li>").addClass(data.CssClass);
            var span = $("<span></span>").addClass("ico").appendTo(li);
            var strong = $("<strong></strong>").addClass("system_title").html(data.Message).appendTo(li);

            li.appendTo(message);
        }

        function ShowMessage(msg) {
            $("li", message).remove();
            var li = $("<li></li>").addClass("yellow");
            var span = $("<span></span>").addClass("ico").appendTo(li);
            var strong = $("<strong></strong>").addClass("system_title").html(msg).appendTo(li);

            li.appendTo(message);
            message.show().delay(5000).fadeOut();
        }

        /***********************************************
        * End Common Role Functions
        ***********************************************/


    });



        </script>
    }
