@model WebUI.Models.TCRFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.TCR);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", Model.ProjectName, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);

    string attribute = "", disable = "";
    bool canEdit = true;
    if ((StatusTCR.DRAFT.ToString() != Model.Status) && (StatusTCR.REJECT_BY_FINANCE.ToString() != Model.Status))
    {
        attribute = "Status sedang menunggu persetujuan / sudah selesai";
        disable = "disabled";
        canEdit = false;
    }

}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.TCRId);
                @Html.HiddenFor(model => model.SubmitDate);
                @Html.HiddenFor(model => model.Status);
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectName, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.WBS, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.WBS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WBS)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control form-control-datepicker always-validate" })
                                @Html.ValidationMessageFor(model => model.StartDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control form-control-datepicker always-validate" })
                                @Html.ValidationMessageFor(model => model.EndDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectDefinition, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextAreaFor(model => model.ProjectDefinition, new { @class = "form-control form-control-editor always-validate" })
                                @Html.ValidationMessageFor(model => model.ProjectDefinition)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ValueIdr, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ValueIdr, new { @class = "form-control form-control-decimal", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ValueIdr)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ValueUsd, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ValueUsd, new { @class = "form-control form-control-decimal", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ValueUsd)
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-6">
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.LocationId, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.LocationId, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.LocationId)
                            </div>
                        </div>*@
                        @Html.HiddenFor(model => model.LocationId)


                        <div class="form-group">
                            @Html.LabelFor(model => model.AssetHolder, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.AssetHolder, new { @class = "form-control", @readonly = "true"})
                                @Html.ValidationMessageFor(model => model.AssetHolder)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Budget, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.Budget, new { @class = "form-control form-control-decimal  always-validate" })
                                @Html.ValidationMessageFor(model => model.Budget)
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(model => model.Currency, new { @class = "form-control  always-validate" })
                                @Html.ValidationMessageFor(model => model.Currency)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CostCenter, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.CostCenter)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Plant, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.Plant, new { @class = "form-control always-validate" })
                                @Html.ValidationMessageFor(model => model.Plant)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Notes, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control form-control-editor always-validate" })
                                @Html.ValidationMessageFor(model => model.Notes)
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.Label("Asset", new { @class = "col-xs-2 control-label" })
                            <div class="col-xs-4">
                                <button title="@attribute"  @disable id="modalBtnAdd" type="button" class="btn btn-success" data-toggle="modal" data-target="#assetModal">Tambah</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-2">
                        <div id="gridAsset" class=""></div>
                        <span id="asset-error"><span class="text-danger">Asset wajib diisi.</span></span>
                    </div>
                </div>

                <div class="form-group m-t-lg">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button title="@attribute"  @disable type="submit" value="save" class="btn btn-warning">Save Draft</button>
                        <button title="@attribute"  @disable id="btnApprove" type="button" value="true" class="btn btn-primary">Kirim Untuk Approval</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="assetModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">List Asset</h4>
            </div>
            <div class="modal-body">
                <div id="gridAssetModal"></div>
            </div>
            <div class="modal-footer">
                <button id="addAsset" type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script id="photo-template" type="text/x-kendo-template">
    <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
</script>

@section scripts
{
    <script type="text/javascript">
        var checkedIds = [],
            assetModalds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.BindingMappingAsset)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        return options;
                    }
                }
            },
			schema: {
                model: {
                    id: "@Field.AssetId",
                    fields: {
						"@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                        "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
						"@Field.Description": { type: "@DataSource.Schema.Type.String" },
						"@Field.Location": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                        "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                    }
                }
            },
            pageSize: 10,
            serverFiltering: false,
            serverPaging: false,
            serverSorting: false,
            sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" },
            filter: { field: "@Field.StatusMapping", operator: "eq", value: "@StatusAsset.APPROVE_BY_FINANCE" }
        }),
        assetds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.BindingAssetTCR)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    options.args = "@Model.TCRId";
                    //options.args = 3;
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        return options;
                    }
                }
            },
			schema: {
                model: {
                    id: "@Field.AssetId",
                    fields: {
						"@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                        "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
						"@Field.Description": { type: "@DataSource.Schema.Type.String" },
						"@Field.Location": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                        "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                    }
                }
            },
            pageSize: 10,
            serverFiltering: false,
            serverPaging: false,
            serverSorting: false,
            sort: { field: "@Field.AssetId", dir: "@SortOrder.Descending.ToDescription()" }
        });

        //on click of the checkbox:
        function selectRow(e) {
            var checked = e.checked,
                row = $(e).closest("tr"),
                grid = $("#gridAssetModal").data("kendoGrid"),
                dataItem = grid.dataItem(row);

            checkedIds[dataItem.AssetId] = checked;

            if (checked) {
                //-select the row
                row.addClass("k-state-selected");

                var checkHeader = true;

                $.each(grid.items(), function (index, item) {
                    if (!($(item).hasClass("k-state-selected"))) {
                        checkHeader = false;
                    }
                });

                $("#header-chb")[0].checked = checkHeader;
            } else {
                //-remove selection
                row.removeClass("k-state-selected");
                $("#header-chb")[0].checked = false;
            }
        }

        $(function () {
            initElement();
        });

        function initElement() {
            $("#asset-error").hide();
            @*dropdownListGenerator($("#@Field.LocationId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.LOCATION", "@Field.Name", "@Component.OptionLabel");*@
            dropdownListGenerator($("#@Field.Currency"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.CURRENCY", "@Field.Name", "@Component.OptionLabel");

            var grid = $("#gridAssetModal").kendoGrid({
                dataSource: assetModalds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        title: 'Select All',
                        headerTemplate: "<input type='checkbox' id='header-chb' class='k-checkbox header-checkbox'><label class='k-checkbox-label' for='header-chb'></label>",
                        template: function (dataItem) {
                            return "<input onClick='selectRow(this)' type='checkbox' id='" + dataItem.AssetId + "' class='k-checkbox row-checkbox'><label class='k-checkbox-label' for='" + dataItem.AssetId + "'></label>";
                        },
                        width: "40px"
                    },
                    {
                        field: "@Field.Photo",
                        title: "Asset Photo",
                        width: "70px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "170px",
                        title: "Value IDR",
                        format: "{0:c2}",
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "200px",
                        format: "{0:n2}",
                    },
                    {
                        field: "@Field.SubNumber",
                        title: "Fixed Asset Sub Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "350px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "170px",
                    }
                ],
            });

            $('#header-chb').change(function (ev) {
                var checked = ev.target.checked;
                $('.row-checkbox').each(function (idx, item) {
                    if (checked) {
                        if (!($(item).closest('tr').is('.k-state-selected'))) {
                            $(item).click();
                        }
                    } else {
                        if ($(item).closest('tr').is('.k-state-selected')) {
                            $(item).click();
                        }
                    }
                });
            });

            //grid asset
            var grid = $("#gridAsset").kendoGrid({
                dataSource: assetds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                //dataBound: onDataBoundWrapper,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                @if(canEdit){
                    <text>
                    {
                        command: [
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "40px"
                    },
                    </text>
                }
                    {
                        field: "@Field.Photo",
                        title: "Asset Photo",
                        width: "70px",
                        template: $("#photo-template").html(),
                        filterable: false,
                        sortable: false
                    },
					{
                        field: "@Field.AssetNumber",
                        title: "Fixed Asset Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.ValueIdr",
                        width: "170px",
                        title: "Value IDR",
                        format: "{0:c2}",
                    },
					{
                        field: "@Field.ValueUsd",
                        title: "Value USD",
                        width: "200px",
                        format: "{0:n2}",
                    },
                    {
                        field: "@Field.SubNumber",
                        title: "Fixed Asset Sub Number",
                        width: "175px",
                    },
                    {
                        field: "@Field.Description",
                        title: "Fixed Asset Description",
                        width: "350px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Location",
                        title: "Physical Location",
                        width: "170px",
                    }
                ],
            });

            @*function onDataBoundWrapper(e) {
                onDataBound("gridAsset", true, ["@StatusTCR.DRAFT", "@StatusTCR.REJECT_BY_FINANCE"], e, "@Field.StatusMapping");
            }*@
        }

        //mapping asset
        $("#addAsset").click(function () {
            var checked = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    var data = assetModalds.get(i);
                    mappingData(assetModalds, assetds, data);
                }
            }
            calculateTCRValue();
            checkedIds = [];
            if (assetds.data().length > 0) {
                $error = $(".field-validation-error");
                $("#asset-error").hide();
                if ($error.length == 0) {
                    $('[type=submit]').removeAttr('disabled');
                }
            }
            $('#assetModal').modal('hide');
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            mappingData(assetds, assetModalds, data);
            calculateTCRValue();
        }

        $("form.form-horizontal").submit(function (e) {
            var $form = $(this);

            if (assetds.data().length <= 0) {
                e.preventDefault();
                $("#asset-error").show();
            } else {
                //e.preventDefault();
                $("#asset-error").hide();
                //var fields = assetds.options.schema.model.fields;
                $.each(assetds.data(), function (i) {
                    //for (var field in fields) {
                        var value = this.get("@Field.AssetId"),
                            input = kendo.format("<input name=\"AssetIds[{0}]\" value=\"{1}\" type=\"hidden\" />", i, value);
                        console.log(input);
                        $(input).appendTo($form);
                    //};
                });
            }
        });

        function calculateTCRValue() {
            var valueIdr = 0, valueUsd = 0,
                $valueIdr = $("#@Field.ValueIdr").data("kendoNumericTextBox"),
                $valueUsd = $("#@Field.ValueUsd").data("kendoNumericTextBox");

            $.each(assetds.data(), function (i) {
                valueIdr += this.get("@Field.ValueIdr");
                valueUsd += this.get("@Field.ValueUsd");
            });

            $valueIdr.value(valueIdr);
            $valueUsd.value(valueUsd);
        }

        $("#btnApprove").click(function () {
            $form = $("form.form-horizontal");

            //set status
            $("#@Field.Status").val("@StatusTCR.WAITING_APPROVAL_FINANCE");
            $form.submit();
        });

        $("#CostCenter").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "CostCenterId",
            optionLabel: "@Component.OptionLabel",
            dataBound: function () { $("#AssetHolder").val(this.dataItem().AssetHolder)},
            change: function (e) { $("#AssetHolder").val(this.dataItem().AssetHolder)},
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "@Url.Action("BindingCostCenter")",
                    }
                },
                model: {
                    id: "CostCenterId",
                    fields: {
                        "CostCenterId": { type: "@DataSource.Schema.Type.Number" },
                        "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                        "AssetHolder": { type: "@DataSource.Schema.Type.String" },
                    }
                }
            }
        }).data("kendoDropDownList");

        $("#Plant").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "PlantId",
            optionLabel: "@Component.OptionLabel",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "@Url.Action("BindingPlant")",
                    },
                },
                schema: {
                    model: {
                        id: "PlantId",
                        fields: {
                            "PlantId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
            }
        }).data("kendoDropDownList");
    </script>
}

