﻿@{
    ViewBag.Title = TitleSite.TCR;
    var currentController = (WebUI.Controllers.TCRController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a id="createTCR" href="#" class="btn btn-primary">Create TCR</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
        var assets;

        $(function () {
            initElement();
        });

        $("#createTCR").click(function () {
            assets.fetch(function () {
                this.filter({ field: "@Field.StatusMapping", operator: "eq", value: "@StatusAsset.APPROVE_BY_FINANCE" });
                var view = this.view();

                if (view.length <= 0) {
                    swal("Info", "Tidak ada asset untuk dilakukan proses TCR");
                } else {
                    window.location = "@Url.Action(ActionSite.Create)";
                }
            });

        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data);
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.TCRId}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.TCRId);
        }

        function download(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Download)", data.TCRId);
        }

        function typeStatus(element) {
            dropdownListGenerator(element, "@Url.Action(ActionSite.BindingOption)", "@OptionType.STATUSASSET", "@Field.Text", "@Component.OptionLabel", false);
        }

        function initElement() {
            assets = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingMappingAsset)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
                schema: {
                    model: {
                        id: "@Field.AssetId",
                        fields: {
                            "@Field.AssetId": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AssetNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SubNumber": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Photo": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: false,
                serverPaging: false,
                serverSorting: false
            });

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                    if (filter.field == "@Field.StatusPretify") {
                                        filter.field = "Status";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "@Field.StatusPretify") {
                                        sort.field = "Status";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.MappingId",
                        fields: {
                            "@Field.TCRId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SubmitDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.ProjectName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.TCRId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var grid = $("#grid").kendoGrid({                
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                dataBound: onDataBoundWrapper,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>',
                            },
                            {
                                name: "deleted",
                                text: "deleted",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>',                               
                            },
                            {
                                name: "download",
                                text: "Export to Excel SAP",
                                click: download,
                                imageClass: "glyphicon glyphicon-download-alt",
                                template: '<a title="Export to Excel SAP" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>',                               
                            }
                        ],
                        width: "100px"
                    },
                    {
                        field: "@Field.ProjectName",
                        title: "Nama Proyek",                        
                        template: "#=@Field.ProjectName#",
                        width: "100%",
                    },
                    {
                        field: "@Field.SubmitDate",
                        title: "Submit Date",
                        width: "100%",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.StatusPretify",
                        title: "Status",
                        width: "100%",
                        //template: "#if(Status == \"REJECT_BY_FINANCE\"){# <a class=\"menu-nav\" data-toggle=\"tooltip\" title=\"#=Notes#\" data-placement=\"right\" data-container=\"body\"><i class=\"fa fa-bar-chart-o\"></i> <span class=\"nav-label\">#=StatusPretify#</span></a> #}else{# #=StatusPretify# #}#",
                        template: "#if(Status == \"REJECT_BY_FINANCE\"){# <div style=\"margin-left:5px\";> <i class=\"fa fa-warning\" style=\"color:\\#bea926;\"></i> #=StatusPretify#</span> #}else{# #=StatusPretify# #}#",
                        filterable: dropDownListFilterable(typeStatus),
                    }
                ],
            }).data("kendoGrid");

            //$(".menu-nav").tooltip();
            
            var status = "";
            $("#grid").kendoTooltip({
                filter: "td:nth-child(4) div",
                position: "left",
                width: 180,
                show: function (e) {
                    //let index = this.target().index(), // Get hovered element's column index
                    //    columns = $("#grid").data("kendoGrid").dataSource.data(),
                    //    column = columns[index];
                    if (status != "@StatusTCR.REJECT_BY_FINANCE.ToString()") {
                        this.content.parent().css("visibility", "hidden");
                        //this.hide();
                    } else {
                        //this.show();
                        this.content.parent().css("visibility", "visible");
                    }
                },
                hide: function (e) {
                    this.content.parent().css("visibility", "hidden");
                    //this.hide();
                },
                content: function (e) {
                    var dataItem = $("#grid").data("kendoGrid").dataItem(e.target.closest("tr"));
                    status = dataItem.Status;
                    return dataItem.Notes;
                }
            }).data("kendoTooltip");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");
                grid.showColumn(0);
            }
            else {
                $(".ibox-title").addClass("hide");
                grid.hideColumn(0);
            }

            function onDataBoundWrapper(e) {
                onDataBound("grid", true, ["@StatusTCR.DRAFT", "@StatusTCR.REJECT_BY_FINANCE"], e, "@Field.Status");
            }
        }
</script>
}

