﻿@{
    var user = User == null ? "" : User.UserName;
}

<script type="text/javascript">
    const APP_ADDRESS = "@ViewBag.AppAddress",
        JS_TIME_FORMAT = "@DisplayFormat.JsTimeFormat",
        JS_COMPACT_DATE_TIME_FORMAT = "@DisplayFormat.JsCompactDateTimeFormat",
        USER_LOGIN = "@user",
        GRID_COMMAND_TEMPLATE = "<a class=\"k-button-icon #=className#\" #=attr# href=\"\\#\"><span title=\"#=text#\" class=\"#=imageClass#\"></span></a>",
        APP_NAME = "@Url.Content("~")";
</script>
