﻿@model WebUI.Models.ReviseFormStub
@{
    ViewBag.Title = TitleSite.Approval;
    var currentController = (WebUI.Controllers.ApprovalController)ViewContext.Controller;
}

@Html.Raw(currentController.GetMessage())
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <h2>List Mapping Approval</h2>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="gridMapping"></div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <h2>List TCR Approval</h2>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="gridTCR"></div>
        </div>
    </div>
</div>

<div id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="min-width:50%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 60%;">
                @using (@Html.BeginForm(ActionSite.Revise, ControllerSite.Approval, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.Label("Revise", new { @class = "col-xs-2 control-label p-r" })
                        <div class="col-xs-10">
                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.Notes)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-8">
                            <button id="sub" type="submit" class="btn btn-warning">Revise</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
            @*<div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">batal</button>
                <button id="btnSave" type="button" class="btn btn-primary">Tambah</button>
            </div>*@
        </div>
    </div>
</div>  

@*<div id="reviseModal">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(ActionSite.Revise, ControllerSite.Approval, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.Label("Revise", new { @class = "col-xs-2 control-label p-r" })
                    <div class="col-xs-8">
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control form-control-editor always-validate" })
                        @Html.ValidationMessageFor(model => model.Notes)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-8">
                        <button type="submit" class="btn btn-warning">Revise</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>    
</div>*@

@section scripts
{
<script type="text/javascript">
    //Var revise
    var tabl = "";
    var globalDs = null;

        $(function () {
            initElement();
        });

        function approveItem(e) {
            e.preventDefault();
            var row = this.dataItem(getDataRowGrid(e));
            var datasource = this.dataSource;

            swal({
                title: "Approve Data",
                text: "Apakah anda yakin untuk menyetujui data ini?",
                type: "warning",
                cancelButtonText: "Batal",
                showCancelButton: true,
                confirmButtonClass: "btn btn-primary",
                confirmButtonText: "Ya",
                closeOnConfirm: false
            },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden",
                    });

                    $.ajax({
                        url: "@Url.Action(ActionSite.Approve)",
                        type: "POST",
                        data: { id: row.id },
                        success: function (result) {
                            if (result.Success === true) {
                                swal("Status", "Data berhasil disetujui", "success");
                                datasource.read();
                            }
                            else {
                                swal("Error", data.Message, "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
        }

        function mappingItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.open(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.MappingFA, ControllerSite.Mapping)", data.id), "_blank" );
        }

        //TCR
        function approveItemTCR(e) {
            e.preventDefault();
            var row = this.dataItem(getDataRowGrid(e));
            var datasource = this.dataSource;
            console.log(row);
            swal({
                    title: "Approve Data",
                    text: "Apakah anda yakin untuk menyetujui data ini?",
                    type: "warning",
                    cancelButtonText: "Batal",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Ya",
                    closeOnConfirm: false
                },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden",
                    });

                    $.ajax({
                        url: "@Url.Action(ActionSite.ApproveTCR)",
                        type: "POST",
                        data: { id : row.id},
                        success: function (result) {
                            if (result.Success === true) {
                                swal("Status", "Data berhasil disetujui", "success");
                                datasource.read();
                            }
                            else {
                                swal("Error", data.Message, "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
        }

        function detailItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.open(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit, ControllerSite.TCR)", data.TCRId), "_blank" );
        }

        function initElement() {
            $("#reviseModal").kendoWindow({
                width: "600px",
                modal: true,
                visible: false,
                title: "Revise Data",
            });

            var editor = $("#Notes").kendoEditor({
                encoded: false,
                resizable: true,
                tools: [
                    "formatting",
                    "cleanFormatting",
                    "bold",
                    "italic",
                    "underline",
                    "strikethrough",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "justifyFull",
                    "fontSize",
                    "foreColor",
                    "backColor"
                ],
                keyup: function (e) {
                    this.element.val(this.value());
                    validateForm();
                },
                paste: function (ev) {
                    var html = $.parseHTML(ev.html);

                    ev.html = $(html).text();
                }
            }).data("kendoEditor");

            kendoEditorDisableSpellCheck(editor);

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding, ControllerSite.Mapping)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.MappingId",
                        fields: {
                            "@Field.MappingId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SubmitDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sort: { field: "@Field.MappingId", dir: "@SortOrder.Descending.ToDescription()" },
                filter: { field: "@Field.Status", operator: "eq", value: "@StatusAsset.WAITING_APPROVAL_FINANCE" }
            });

            var grid = $("#gridMapping").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "mapping",
                                text: "mapping",
                                click: mappingItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: '<a title="Mapping Asset" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "approve",
                                text: "approve",
                                click: approveItem,
                                imageClass: "glyphicon glyphicon-ok",
                                template: '<a title="Approve Mapping" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "revise",
                                text: "revise",
                                click: function (e) { reviseItem(this, e, "MAPPING")},
                                imageClass: "glyphicon glyphicon-alert",
                                template: '<a title="Revise Mapping" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            }
                        ],
                        width: "55px"
                    },
                    {
                        field: "@Field.SubmitDate",
                        title: "Mapping Date",
                        width: "170px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.Description",
                        title: "Keterangan",
                        width: "250px",
                        template: "#=@Field.Description#",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "130px",
                    }
                ],
            }).data("kendoGrid");

            if ("@User.IsInRole(UserRole.Finance)" === "@true" || "@User.IsInRole(UserRole.Superadmin)" === "@true") {                
                grid.showColumn(0);
            }
            else {                
                grid.hideColumn(0);
            }


            //TCR
            var TCRds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding, ControllerSite.TCR)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.TCRId",
                        fields: {
                            "@Field.TCRId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SubmitDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.ProjectName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sort: { field: "@Field.TCRId", dir: "@SortOrder.Descending.ToDescription()" },
                filter: { field: "@Field.Status", operator: "eq", value: "@StatusTCR.WAITING_APPROVAL_FINANCE" }
            });

            grid = $("#gridTCR").kendoGrid({
                dataSource: TCRds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: '<a title="Detail TCR" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "approve",
                                text: "approve",
                                click: approveItemTCR,
                                imageClass: "glyphicon glyphicon-ok",
                                template: '<a title="Approve TCR" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "revise",
                                text: "revise",
                                click: function (e) { reviseItem(this, e, "TCR") },
                                imageClass: "glyphicon glyphicon-alert",
                                template: '<a title="Revise Mapping" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            }
                        ],
                        width: "55px"
                    },
                    {
                        field: "@Field.ProjectName",
                        title: "Nama Proyek",
                        width: "250px",
                        template: "#=@Field.ProjectName#",
                    },
                    {
                        field: "@Field.SubmitDate",
                        title: "Submit Date",
                        width: "170px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "130px",
                    }
                ],
            }).data("kendoGrid");

             if ("@User.IsInRole(UserRole.Finance)" === "@true" || "@User.IsInRole(UserRole.Superadmin)" === "@true") {                
                grid.showColumn(0);
            }
            else {                
                grid.hideColumn(0);
            }

        }

        function reviseItem(thisItem, e, type) {
            e.preventDefault();
            var data = thisItem.dataItem(getDataRowGrid(e));
            $("#Id").val(data.id);
            $("#modalForm").find(".modal-title").text("REVISE " + type);
            $("#modalForm").modal("show");
            $("#Notes").data("kendoEditor").value("");

            if (type == "TCR") {
                $("#Id").val(data.TCRId);
            } else {
                $("#Id").val(data.MappingId);
            }
            tabl = type;
            globalDs = thisItem.dataSource;

        }

        $(".form-horizontal").submit(function (e) {
            var form = this;
            validateForm(null, null, $("#modalForm"));
            var $error = $(".field-validation-error");
            if ($error.length == 0) {
                e.preventDefault();
                swal({
                    title: "Loading",
                    text: "Harap Menunggu...",
                    imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                    closeOnConfirm: false,
                    confirmButtonClass: "hidden",
                });
                $.ajax({
                    url: "@Url.Action(ActionSite.Revise)",
                    type: "POST",
                    data: { model: {Id: $("#Id").val(), Notes: $("#Notes").data("kendoEditor").value() }, table: tabl },
                    success: function (result) {
                        if (result.Success === true) {
                            swal("Status", "Data berhasil di reject", "success");
                            globalDs.read();
                            //$("#Id").val(0);
                            //$("Notes").data("kendoEditor").value("");
                            $("#modalForm").modal("hide");
                        }
                        else {
                            swal("Error", data.Message, "error");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Server Error. Harap hubungi administrator");
                    }
                });
                //$('[type=submit]').removeAttr('disabled');
            } else {
                e.preventDefault();
            }
        });
</script>
}

