﻿@model WebUI.Models.ActualFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    ViewBag.Title = string.Format("{0} | {1}", Model.DocNumber2, TitleSite.Edit);

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, new { id = Model.ActualCostId }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ActualCostId)

                <div class="form-group">
                    @Html.LabelFor(model => model.DocNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.DocNumber, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    @Html.LabelFor(model => model.DocNumber2, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.DocNumber2, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PostingDate, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PostingDate, new { @class = "form-control-datepicker" })
                    </div>

                    @Html.LabelFor(model => model.RefNumber, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.RefNumber, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OffsettingAccountType, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OffsettingAccountType, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.DocType, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.DocType, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginalBusTrans, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.OriginalBusTrans, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.ProjectDefinition, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ProjectDefinition, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WBSElement, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.WBSElement, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.CoObjectName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextAreaFor(model => model.CoObjectName, new { @class = "form-control", @rows="3" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CostElement, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CostElement, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.CostElementDesc, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CostElementDesc, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FiscalYear, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.FiscalYear, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.Period, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Period, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DocDate, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.DocDate, new { @class = "form-control-datepicker" })
                    </div>

                    @Html.LabelFor(model => model.CreatedOn, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.CreatedOn, new { @class = "form-control-datepicker" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TransactionCurrency, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.TransactionCurrency, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.ValueTranCurr, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ValueTranCurr, new { @class = "form-control-numeric" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValueCoArea, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ValueCoArea, new { @class = "form-control-numeric" })
                    </div>

                    @Html.LabelFor(model => model.ValueHardCurr, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.ValueHardCurr, new { @class = "form-control-numeric" })
                    </div>                   
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PurchasingDoc, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PurchasingDoc, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.TotalQuantity, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.TotalQuantity, new { @class = "form-control-numeric" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Item, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Item, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.PurchaseOrderText, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PurchaseOrderText, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextAreaFor(model => model.Name, new { @class = "form-control", @rows="3" })
                    </div>

                    @Html.LabelFor(model => model.UserName, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        @*$(function () {
            initElement();
        });

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.CompanyId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.CompanyName"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.COMPANY";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            $("#CompanyId").kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                filter: "@FilterOperator.Contains.ToDescription()"
            });

            $("#CrewId, #RegisterDate").focus(function (e) {
                this.blur();
            });
        }*@
    </script>
}

