﻿@{
    ViewBag.Title = TitleSite.Actual;
    var currentController = (WebUI.Controllers.ActualController)ViewContext.Controller;
}

<div class="wrapper wrapper-content">
    @Html.Raw(currentController.GetMessage())
    <div id="alert-msg" class="alert alert-danger hide"><a class="close" data-dismiss="alert">×</a><p id="err-msg"></p></div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <input id="files" name="files" type="file" style="display:none" accept=".xlsx">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Excel Template <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="btnUpload">Upload</a></li>
                                <li><a href="javascript:download()">Download</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var $btnUpload = $("#btnUpload");

        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data);
            goToDeletePage(`@Url.Action(ActionSite.Delete)?id=${data.ActualCostId}`, this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.ActualCostId);
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingMappingActual, ControllerSite.Mapping)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    @*data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",*@
                    model: {
                        id: "@Field.ActualCostId",
                        fields: {
                            "@Field.FiscalYear": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.DocDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.PostingDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.CreatedOn": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.ValueTranCurr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueCoArea": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ValueHardCurr": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.TotalQuantity": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: false,
                serverPaging: false,
                serverSorting: false,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.ActualCostId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                detailInit: detailInit,
                dataBound: dataBound,
                detailExpand: function (e) {
                    var detailRow = e.detailRow;
                    //setTimeout(function () {
                    //    kendo.fx(detailRow).slideIn("down").play();
                    //}, 0);
                },
                noRecords: {
                    template: "Data Tidak Tersedia"
                },
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: '<a title="Edit" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=imageClass#"></span></a>'
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: '<a title="Delete" class="k-button-icon #=className#" #=attr# href="\\#"><span class="#=iconClass# #=imageClass#"></span></a>'
                            }
                        ],
                        width: "80px"
                    },
                    {
                        field: "@Field.WBSElement",
                        title: "WBS Element",
                        width: "170px"
                    },
					{
                        field: "@Field.DocNumber",
                        width: "170px",
                        title: "SAP Number"
                    },
                    {
                        field: "@Field.DocNumber2",
                        width: "170px",
                        title: "Doc. Number"
                    },
					{
                        field: "@Field.Balance",
                        width: "170px",
                        title: "Sisa Realisasi",
                        format: "{0:c2}"
                    },
					{
                        field: "@Field.RefNumber",
                        title: "Ref Document Number",
                        width: "200px",
                    },
                    {
                        field: "@Field.OffsettingAccountType",
                        title: "Offsetting Account Type",
                        width: "200px",
                    },
                    {
                        field: "@Field.DocType",
                        title: "Document Type",
                        width: "150px",
                    },
                    {
                        field: "@Field.ProjectDefinition",
                        title: "Project Definition",
                        width: "160px",
                    },
                    {
                        field: "@Field.CoObjectName",
                        title: "CO Object Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElement",
                        title: "Cost Element",
                        width: "150px",
                    },
                    {
                        field: "@Field.CostElementDesc",
                        title: "Cost Element Desc.",
                        width: "270px",
                    },
                    {
                        field: "@Field.FiscalYear",
                        title: "Fiscal Year",
                        width: "120px",
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.PostingDate",
                        title: "Posting Date",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.CreatedOn",
                        title: "Created On",
                        width: "150px",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.TransactionCurrency",
                        title: "Transaction Currency",
                        width: "150px",
                    },
                    {
                        field: "@Field.ValueTranCurr",
                        title: "Vbl. Value/TranCurr.",
                        width: "170px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.ValueCoArea",
                        title: "Val/COArea Crcy",
                        width: "150px",
                        format: "{0:c2}"
                    },
                    {
                        field: "@Field.ValueHardCurr",
                        title: "Val in Hard Curr",
                        width: "150px",
                        format: "{0:n2}"
                    },
                    {
                        field: "@Field.PurchasingDoc",
                        title: "Purchasing Document",
                        width: "170px",
                    },
                    {
                        field: "@Field.TotalQuantity",
                        title: "Total Quantity",
                        width: "150px",
                    },
                    {
                        field: "@Field.Item",
                        title: "Item",
                        width: "250px",
                    },
                    {
                        field: "@Field.PurchaseOrderText",
                        title: "Purchase Order Text",
                        width: "200px",
                    },
                    {
                        field: "@Field.Name",
                        title: "Name",
                        width: "320px",
                    },
                    {
                        field: "@Field.UserName",
                        title: "User Name",
                        width: "150px",
                    },
                    {
                        field: "@Field.Period",
                        title: "Period",
                        width: "120px",
                    }
                ],
            }).data("kendoGrid");

            if ("@User.IsInRole(UserRole.Superadmin)" === "@true" || "@User.IsInRole(UserRole.Administrator)" === "@true") {
                $(".ibox-title").removeClass("hide");
                $(".ibox-title").addClass("show");
                grid.showColumn(0);
            }
            else {
                $(".ibox-title").addClass("hide");
                grid.hideColumn(0);
            }


            $btnUpload.on("click", function (e) {
                e.preventDefault;
                $("#files").trigger("click");
            });

            $("#files").on("change", function (e) {
                $("#files").kendoUpload({
                    async: {
                        saveUrl: urlAction("@ControllerSite.Actual", "@ActionSite.UploadExcel")
                    },
                    multiple: false,
                    allowedExtensions: [".xlsx"],
                    success: function (e) {
                        if (!e.response.Success) {
                            swal("Warning", "Upload Excel Failed", "warning");
                            $("#alert-msg").removeClass("hide");
                            $("#alert-msg #err-msg").html(e.response.Message);
                        } else {
                            $(".sweet-alert").hide()
                                .prev().hide();
                            $("#alert-msg").addClass("hide");

                            swal("Success", e.response.Message, "success");
                        }
                        var grid = $("#grid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    upload: function (e) {
                        $(".sweet-alert").show()
                            .prev().show();

                        swal({
                            title: "Uploading",
                            text: "Please wait...",
                            imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                            closeOnConfirm: false,
                            confirmButtonClass: "hidden"
                        });
                    },
                    showFileList: false,
                    error: function (e) {
                        swal("Error", "Server Error. Contact administrator", "error");
                    }
                }).closest(".k-upload").hide();
            });

            function dataBound(e) {
                var grid = $("#grid").data("kendoGrid");

                grid.tbody.find("tr[role=\"row\"]").each(function (i) {

                    var model = grid.dataItem(this);
                    
                    if (model.CanDeleted.toString() == "false") {                        
                        $(this).find(".k-grid-delete")
                            .removeClass("k-grid-delete")
                            .children().eq(0)
                            .addClass("k-state-disabled")
                            .attr("title", "Can't be deleted, data already used")
                            .attr("data-html",true);
                    }
                });

                dataBoundTooltip(e);
            }

            function generateDs(e) {
                var actualMappingds = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingAsset)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            console.log(options);
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (var i in filters) {
                                        var filter = filters[i];
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (var i in sorts) {
                                        var sort = sorts[i];
                                    }
                                }

                                //options.args = '@Model'

                                return options;
                            }
                        }
                    },
			        schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.MappingAssetActualCostId",
                            fields: {
                                "@Field.MappingAssetActualCostId": { type: "@DataSource.Schema.Type.Number" },
						        "@Field.WBSElement": { type: "@DataSource.Schema.Type.String" },
                                "@Field.DocNumber": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Balance": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueIdr": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ValueUsd": { type: "@DataSource.Schema.Type.Number" },
                            }
                        }
                    },
                    aggregate: [{ field: "@Field.ValueIdr", aggregate: "sum" },
                                { field: "@Field.ValueUsd", aggregate: "sum" }],
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.MappingAssetActualCostId", dir: "@SortOrder.Descending.ToDescription()" },
                    filter: { field: "@Field.ActualCostId", operator: "eq", value: e.data.ActualCostId }
                });

                return actualMappingds;
            }
            function detailInit(e) {
               detailInitAsset(e.detailCell, generateDs(e));
            }
        }

        function download() {
            window.location = "@Url.Content("~/Uploads/Template/Template Realisasi Biaya.xlsx")";
		}

    </script>
    <script id="photo-template" type="text/x-kendo-template">
        <div class=""><img class="thumbnail-photo" src="#=data.Photo#" /></div>
    </script>
}

